force-app/main/default/flows/All_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_UpdatedTitle</name>
        <label>assign_UpdatedTitle</label>
        <locationX>1091</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>var_AccountForUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_UpdatedTitle.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountForUpdate.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_UpdatedTitle.Job_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_UpdatedTitles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_AccountForUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_UpdatedTitle</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_CheckBusiness</name>
        <label>dec_CheckBusiness</label>
        <locationX>557</locationX>
        <locationY>320</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CurrentUser.Contact.Account.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_team_members_List</targetReference>
            </connector>
            <label>Has Business</label>
        </rules>
    </decisions>
    <description>Displays all team members on my team</description>
    <environments>Default</environments>
    <interviewLabel>All Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>All Team Members</label>
    <loops>
        <name>loop_UpdatedTitle</name>
        <label>loop_UpdatedTitle</label>
        <locationX>1083</locationX>
        <locationY>368</locationY>
        <collectionReference>datatable_AllMembers.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_UpdatedTitle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_SelectedValues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_all_team_members_List</name>
        <label>Get all team members List</label>
        <locationX>244</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_AllMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CurrentUser.Account.Business__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Have_Active_Membership__c</queriedFields>
        <queriedFields>Job_Title__c</queriedFields>
        <queriedFields>CE_Credits__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Admin_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllActiveMemberships</name>
        <label>get_AllActiveMemberships</label>
        <locationX>448</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_AllActiveMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMembers</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CurrentUser</name>
        <label>get_CurrentUser</label>
        <locationX>532</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckBusiness</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_ActiveMembers</name>
        <label>update_ActiveMembers</label>
        <locationX>615</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>update_InactiveMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllActiveMembers</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Have_Active_Membership__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_InactiveMembers</name>
        <label>update_InactiveMembers</label>
        <locationX>754</locationX>
        <locationY>509</locationY>
        <connector>
            <targetReference>VetList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMembers</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>transform_AllActiveMembers</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Have_Active_Membership__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SelectedValues</name>
        <label>update_SelectedValues</label>
        <locationX>1234</locationX>
        <locationY>407</locationY>
        <inputReference>varCol_UpdatedTitles</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>VetList</name>
        <label>AllTeamMebersList</label>
        <locationX>942</locationX>
        <locationY>347</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_UpdatedTitle</targetReference>
        </connector>
        <fields>
            <name>datatable_AllMembers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,PersonEmail,Job_Title__c,CE_Credits__c,Have_Active_Membership__c,Admin_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:0, PersonEmail:0, Job_Title__c:0, CE_Credits__c:0, Have_Active_Membership__c:0, Admin_Account__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>My Team Members</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_all_team_members_List</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Job_Title__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Admin_Account__c:Admin</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_CurrentUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>transform_AllActiveMembers</name>
        <label>transform_AllActiveMembers</label>
        <locationX>378</locationX>
        <locationY>691</locationY>
        <connector>
            <targetReference>update_ActiveMembers</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_AllActiveMemberships[$EachItem].Account_Id__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllMembers</name>
        <label>transform_AllMembers</label>
        <locationX>341</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>get_AllActiveMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_all_team_members_List[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>var_AccountForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCol_AllMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCol_UpdatedTitles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
