force-app/main/default/flows/Assign_Memberships_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apex_AssignJobAndCommerce</name>
        <label>apex_AssignJobAndCommerce</label>
        <locationX>1545</locationX>
        <locationY>1301</locationY>
        <actionName>B2BHandleMembershipAssignmentInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen_FinalScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountMembershipLists</name>
            <value>
                <elementReference>var_individualAccountMemershipCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BHandleMembershipAssignmentInvokable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_CollectionAmounts</name>
        <label>assign_CollectionAmounts</label>
        <locationX>1191</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>var_CountSelectedUsers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Members_Table.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_CheckEnoughMemberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CurrentPracticeMembers</name>
        <label>assign_CurrentPracticeMembers</label>
        <locationX>276</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>varCol_MembersWithPracticeMembership</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_PracticeMembershipAssignment.Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_PracticeMembershipAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_IndMembershipsForSelection</name>
        <label>assign_IndMembershipsForSelection</label>
        <locationX>767</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>varCol_AvailableMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_IndividualMemberships.Membership__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_IndividualMemberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Assignment_Collection</name>
        <label>Assign - Initial Assignment Collection</label>
        <locationX>1727</locationX>
        <locationY>1060</locationY>
        <assignmentItems>
            <assignToReference>get_UnassignedMemberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_unassignedMemershipCollectionCopy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_assignMemberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Member_Collections</name>
        <label>Assign Member Collections</label>
        <locationX>1426</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>var_assigned_members</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_though_assign_team_members.Account_Id__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_though_assign_team_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Member Account ID to an Unassigned Membership</description>
        <name>Assign_Membership_Record</name>
        <label>Assign - Membership Record</label>
        <locationX>2247</locationX>
        <locationY>980</locationY>
        <assignmentItems>
            <assignToReference>var_mebershipAssignmentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Unassigned_Membership_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_mebershipAssignmentRecord.Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_assignMemberships.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_unassignedMemershipCollectionCopy</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>Loop_Unassigned_Membership_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_mebershipAssignmentRecord.Account_Assignment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_mebershipAssignmentRecord.Employment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Part Time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_individualAccountMemershipCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_mebershipAssignmentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Unassigned_Membership_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NumAvailableMemberships</name>
        <label>assign_NumAvailableMemberships</label>
        <locationX>1104</locationX>
        <locationY>978</locationY>
        <assignmentItems>
            <assignToReference>var_NumberAvailableMemberships</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_UnassignedMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_PracticeMemberships</name>
        <label>assign_PracticeMemberships</label>
        <locationX>50</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>varCol_AvailableMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_PracticeMemberships.Membership__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_PracticeMemberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Copies the unassigned memebrship collection to be used to filter out the Accounts that will be assigned in the next loop</description>
        <name>Assign_Unassigned_Membership_Collection</name>
        <label>Assign - Unassigned Membership Collection</label>
        <locationX>1430</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>var_unassignedMemershipCollectionCopy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_UnassignedMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Unassigned_Memership_Collection_Copy</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Individual</name>
        <choiceText>Individual Membership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Membership</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Practice</name>
        <choiceText>Practice Membership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Practice Membership</stringValue>
        </value>
    </choices>
    <choices>
        <name>GroomerCertification</name>
        <choiceText>Groomer Certification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Groomer Certification</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trainer</name>
        <choiceText>Trainer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trainer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Veterinary</name>
        <choiceText>Veterinary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Veterinary</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <description>Gets the first record of the Unassigned membership collection to assign it to a member</description>
        <name>Sort_Unassigned_Memberships_Collection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort - Unassigned Memberships Collection</label>
        <locationX>2029</locationX>
        <locationY>651</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_UnassignedMemberships</collectionReference>
        <connector>
            <targetReference>Loop_Unassigned_Membership_Collection</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <description>Sorts the unassigned membership collection copy by created date to match the sorting of the initial collection</description>
        <name>Sort_Unassigned_Memership_Collection_Copy</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort - Unassigned Memership Collection Copy</label>
        <locationX>1619</locationX>
        <locationY>625</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>var_unassignedMemershipCollectionCopy</collectionReference>
        <connector>
            <targetReference>loop_assignMemberships</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>dec_CheckEnoughMemberships</name>
        <label>dec_CheckEnoughMemberships</label>
        <locationX>1379</locationX>
        <locationY>778</locationY>
        <defaultConnector>
            <targetReference>screen_NotEnoughMemberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Enough_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberAvailableMemberships</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>var_CountSelectedUsers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unassigned_Membership_Collection</targetReference>
            </connector>
            <label>Has Enough Memberships</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckIfAnyMemberships</name>
        <label>dec_CheckIfAnyMemberships</label>
        <locationX>559</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>screen_NoMemberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCol_AvailableMemberships</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_AllAvailableMemberships</targetReference>
            </connector>
            <label>Has Memberships</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckIfIndividualMemberships</name>
        <label>dec_CheckIfIndividualMemberships</label>
        <locationX>389</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>dec_CheckIfAnyMemberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Individual_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Available_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_IndividualMemberships</targetReference>
            </connector>
            <label>Has Individual Memberships</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckIfPracticeMemberships</name>
        <label>dec_CheckIfPracticeMemberships</label>
        <locationX>65</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>Get_Available_Memberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Practice_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_AvailablePracticeMemberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_PracticeMemberships</targetReference>
            </connector>
            <label>Has Practice Memberships</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckMembershipType</name>
        <label>dec_CheckMembershipType</label>
        <locationX>623</locationX>
        <locationY>811</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datatable_AllMemberships.outputSelectedRow.Membership_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_UnassignedMemberships</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
        <rules>
            <name>Practice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datatable_AllMemberships.outputSelectedRow.Membership_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Practice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SelectedPracticeMembership</targetReference>
            </connector>
            <label>Practice</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_UpdatedRecords</name>
        <label>dec_UpdatedRecords</label>
        <locationX>985</locationX>
        <locationY>1462</locationY>
        <defaultConnector>
            <targetReference>screen_FinalScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dataTable_SelectFullTimePracticeMembers.outputEditedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_EditedEmploymentTypes</targetReference>
            </connector>
            <label>Updated Records</label>
        </rules>
    </decisions>
    <description>Enable users to view available memberships, select a membership type, and assign memberships to team members without existing memberships.

V10 - update Individual Assignment to set Assigned ID to be Account and not Membership</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Assign Memberships Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Assign Memberships Flow</label>
    <loops>
        <name>loop_assignMemberships</name>
        <label>loop_assignMemberships</label>
        <locationX>1801</locationX>
        <locationY>655</locationY>
        <collectionReference>Members_Table.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sort_Unassigned_Memberships_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Individual_Memership_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_IndividualMemberships</name>
        <label>loop_IndividualMemberships</label>
        <locationX>535</locationX>
        <locationY>283</locationY>
        <collectionReference>Get_Available_Memberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_IndMembershipsForSelection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_CheckIfAnyMemberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_PracticeMembershipAssignment</name>
        <label>loop_PracticeMembershipAssignment</label>
        <locationX>415</locationX>
        <locationY>923</locationY>
        <collectionReference>get_PracticeMemberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_CurrentPracticeMembers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_AvailablePracticeMembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_PracticeMemberships</name>
        <label>loop_PracticeMemberships</label>
        <locationX>235</locationX>
        <locationY>692</locationY>
        <collectionReference>get_AvailablePracticeMemberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_PracticeMemberships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Available_Memberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_though_assign_team_members</name>
        <label>Loop though assign team members</label>
        <locationX>873</locationX>
        <locationY>621</locationY>
        <collectionReference>Get_Members_matching_membership</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Member_Collections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the Unassigned Membership Collection to complete the Assignement.
A Loop is used inside the loop as a workaround and it shouldn&apos;t have any implications since the collection is sorted to only return 1 record.</description>
        <name>Loop_Unassigned_Membership_Collection</name>
        <label>Loop - Unassigned Membership Collection</label>
        <locationX>2008</locationX>
        <locationY>1004</locationY>
        <collectionReference>get_UnassignedMemberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Membership_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Initial_Assignment_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_AllAvailableMemberships</name>
        <label>get_AllAvailableMemberships</label>
        <locationX>618</locationX>
        <locationY>656</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varCol_AvailableMemberships</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Membership__c</object>
        <sortField>Membership_Level__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Available_Memberships</name>
        <label>Get Available Memberships</label>
        <locationX>438</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckIfIndividualMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AvailablePracticeMembers</name>
        <label>get_AvailablePracticeMembers</label>
        <locationX>481</locationX>
        <locationY>1145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_SelectPracticeMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varCol_MembersWithPracticeMembership</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AvailablePracticeMemberships</name>
        <label>get_AvailablePracticeMemberships</label>
        <locationX>145</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckIfPracticeMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Practice_Level_Membership_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CreatedPILMARecords</name>
        <label>get_CreatedPILMARecords</label>
        <locationX>804</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_SelectFullTimePracticeMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_CreatedMemberships</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Members_matching_membership</name>
        <label>Get Members matching membership</label>
        <locationX>885</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_though_assign_team_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>datatable_AllMemberships.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount</name>
        <label>Get PersonAccount</label>
        <locationX>355</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AvailablePracticeMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PracticeMemberships</name>
        <label>get_PracticeMemberships</label>
        <locationX>567</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_PracticeMembershipAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>datatable_AllMemberships.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Practice_Level_Membership_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SelectedPracticeMembership.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SelectedPracticeMembership</name>
        <label>get_SelectedPracticeMembership</label>
        <locationX>740</locationX>
        <locationY>1011</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PracticeMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>datatable_AllMemberships.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Practice_Level_Membership_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Admin</name>
        <label>Get Team Admin</label>
        <locationX>614</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Members</name>
        <label>Get Team Members</label>
        <locationX>985</locationX>
        <locationY>996</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_NumAvailableMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>var_assigned_members</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_UnassignedMemberships</name>
        <label>get_UnassignedMemberships</label>
        <locationX>806</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Members_matching_membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>datatable_AllMemberships.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_AllPLIMAFullTime</name>
        <label>update_AllPLIMAFullTime</label>
        <locationX>718</locationX>
        <locationY>1218</locationY>
        <connector>
            <targetReference>get_CreatedPILMARecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_CreatedMemberships</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employment_Type__c</field>
            <value>
                <stringValue>Full Time</stringValue>
            </value>
        </inputAssignments>
        <object>Account_Membership__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_EditedEmploymentTypes</name>
        <label>update_EditedEmploymentTypes</label>
        <locationX>1054</locationX>
        <locationY>1707</locationY>
        <connector>
            <targetReference>screen_UpdatedEmploymentType</targetReference>
        </connector>
        <inputReference>dataTable_SelectFullTimePracticeMembers.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Individual Membership Assignmets with the Assigned Account</description>
        <name>Update_Individual_Memership_Assignments</name>
        <label>Update - Individual Memership Assignments</label>
        <locationX>1587</locationX>
        <locationY>1053</locationY>
        <connector>
            <targetReference>apex_AssignJobAndCommerce</targetReference>
        </connector>
        <inputReference>var_individualAccountMemershipCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_Membership</name>
        <label>Choose Membership</label>
        <locationX>735</locationX>
        <locationY>659</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_CheckMembershipType</targetReference>
        </connector>
        <fields>
            <name>SelectMembership</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please select the membership below that you would like to assign to a member.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>datatable_AllMemberships</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Membership__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Membership__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_AllAvailableMemberships</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Membership_Level__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:729, Membership_Level__c:729</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Assign Membership</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_FinalScreen</name>
        <label>screen_FinalScreen</label>
        <locationX>1296</locationX>
        <locationY>1411</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText_Completion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;The memberships have been correctly assigned to the selected users.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NoMemberships</name>
        <label>screen_NoMemberships</label>
        <locationX>737</locationX>
        <locationY>463</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText_NoMemberships</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You have no available memberships for assignment.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click [link] to purchase more memberships.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NotEnoughMemberships</name>
        <label>screen_NotEnoughMemberships</label>
        <locationX>1426</locationX>
        <locationY>1005</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Members</targetReference>
        </connector>
        <fields>
            <name>displayText_NotEnoughMemberships</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You selected &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!var_CountSelectedUsers}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; members but only have &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!var_NumberAvailableMemberships} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;available to assign.  Please select an appropriate amount of memberships to assign.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_SelectFullTimePracticeMembers</name>
        <label>screen_SelectFullTimePracticeMembers</label>
        <locationX>754</locationX>
        <locationY>1524</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_UpdatedRecords</targetReference>
        </connector>
        <fields>
            <name>displayText_PracticeMembers_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;All assignments are set to Full-Time employments by default.  Any assignments that need to be changed from Full-Time, you can edit here.  &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;If you don&apos;t edit them here, you will be able to edit them when viewing their Membership information on your Manage My Team page.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dataTable_SelectFullTimePracticeMembers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Membership__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account_Membership__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Assigned_Account_Name__c,Employment_Type__c,Membership_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Assigned_Account_Name__c:486, Employment_Type__c:487, Membership_Name__c:486</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_CreatedPILMARecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Employment_Type__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_SelectPracticeMembers</name>
        <label>screen_SelectPracticeMembers</label>
        <locationX>491</locationX>
        <locationY>1346</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>subflow_CreatePILMARecords</targetReference>
        </connector>
        <fields>
            <name>displayText_PracticeMembers</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please select which members you would like to assign the selected Practice Membership to.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dataTable_SelectPracticeMembersToAssign</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_AvailablePracticeMembers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,PersonEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:729, PersonEmail:729</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_UpdatedEmploymentType</name>
        <label>screen_UpdatedEmploymentType</label>
        <locationX>1279</locationX>
        <locationY>1680</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen_FinalScreen</targetReference>
        </connector>
        <fields>
            <name>displayText_UpdatedEmploymentType</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You have successfully updated the Employment Type for the edited membership assignments.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Members</name>
        <label>Select Members</label>
        <locationX>1234</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_CollectionAmounts</targetReference>
        </connector>
        <fields>
            <name>SelectMember</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Choose the members below whom you wish to assign the &lt;strong&gt;{!datatable_AllMemberships.outputSelectedRow.Name} &lt;/strong&gt;Membership!&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You have &lt;strong&gt;{!var_NumberAvailableMemberships}&lt;/strong&gt; to be assigned.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Members_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Team_Members</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,PersonEmail,Business__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:342, PersonEmail:318, Business__c:534</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>436</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Team_Admin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>subflow_CreatePILMARecords</name>
        <label>subflow_CreatePILMARecords</label>
        <locationX>431</locationX>
        <locationY>1558</locationY>
        <connector>
            <targetReference>transform_CreatedMemberships</targetReference>
        </connector>
        <flowName>B2B_Subflow_Individual_Membership_Assignment</flowName>
        <inputAssignments>
            <name>accountList_FSM</name>
            <value>
                <elementReference>dataTable_SelectPracticeMembersToAssign.outputSelectedRows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>practiceMembershipAssignmentId_FSM</name>
            <value>
                <elementReference>get_SelectedPracticeMembership.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCol_CreatedPILMARecords</assignToReference>
            <name>colILMAs</name>
        </outputAssignments>
    </subflows>
    <transforms>
        <name>transform_CreatedMemberships</name>
        <label>transform_CreatedMemberships</label>
        <locationX>643</locationX>
        <locationY>1387</locationY>
        <connector>
            <targetReference>update_AllPLIMAFullTime</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varCol_CreatedPILMARecords[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_Unassigned_Memerships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>var_assigned_members</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CountSelectedUsers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_individualAccountMemershipCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>var_mebershipAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>var_NumberAvailableMemberships</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_PLMAForCreation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>var_unassignedMemershipCollectionCopy</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_AvailableMemberships</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_CreatedPILMARecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_FullTimeMemberships</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_MembersWithPracticeMembership</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_PartTimeMemberships</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_PracticeMembershipsForCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_ReserveMemberships</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_UpdatedFullTime</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
