force-app/main/default/flows/Assign_CP_Job_to_Members_When_Certified.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_CP_Job</name>
        <label>Add CP Job</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FFHandleLMSUserFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_ILMAs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>Loop_ILMAs.Account_Id__r.PersonContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>courseIds</name>
            <value>
                <elementReference>CPJob</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FFHandleLMSUserFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Job_Id_to_Collection</name>
        <label>Assign Job Id to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CPJob</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2224301.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ILMAs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Assign CP Job to Members When Certified {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign CP Job to Members When Certified</label>
    <loops>
        <name>Loop_ILMAs</name>
        <label>Loop ILMAs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Associated_ILMAS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CP_Job</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Associated ILMAs</description>
        <name>Associated_ILMAS</name>
        <label>Associated ILMAS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Job_Id_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Practice_Level_Membership_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Associated_ILMAS</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Certified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Practice_Level_Membership_Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>CPJob</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CPJobTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
