force-app/main/default/flows/B2B_Subflow_Guest_SignUp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Reset_Password_Email</name>
        <label>Send Reset Password Email</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>B2BUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Sent_Info_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>User_Provisioning_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>UserIds</name>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BUtils</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Existing_User_Id_to_Var</name>
        <label>Set Existing User Id to Var</label>
        <locationX>688</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_with_Existing_Account_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Reset_Password_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Person_Account_Id_Var</name>
        <label>Set Person Account Id Var</label>
        <locationX>820</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varPersonAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Account_with_the_Given_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_with_Existing_Account_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Provisioned_User_Id_to_Var</name>
        <label>Set  Provisioned User Id to Var</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_User_with_Provided_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Reset_Password_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Account_Exists_From_CRM</name>
        <label>Does Account Exists From CRM?</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Account_Exists_From_CRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Account_with_the_Given_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Person_Account_Id_Var</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Username</name>
        <label>Duplicate Username?</label>
        <locationX>710</locationX>
        <locationY>1772</locationY>
        <defaultConnector>
            <targetReference>User_Provisioning_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Duplicate_Username</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provision_the_Person_Account.varErrorMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Duplicate Username</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Username_Error_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_User</name>
        <label>Has Existing User?</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Person_Account_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Existing_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_User_with_Provided_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Provisioned_User_Id_to_Var</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Existing_Account_Provisioned</name>
        <label>Is the Existing Account Provisioned?</label>
        <locationX>820</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Provision_the_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_the_Existing_Account_Provisioned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_with_Existing_Account_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_User_Id_to_Var</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sign_Up_as_a_Team</name>
        <label>Sign Up as a Team?</label>
        <locationX>1238</locationX>
        <locationY>1772</locationY>
        <defaultConnector>
            <targetReference>User_Provisioning_Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Sign_Up_as_a_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_want_to_sign_up_as_a_team</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_FSM_Flow_Screen_Create_Business</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Provisioned</name>
        <label>User Provisioned ?</label>
        <locationX>974</locationX>
        <locationY>1664</locationY>
        <defaultConnector>
            <targetReference>Sign_Up_as_a_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, Success</defaultConnectorLabel>
        <rules>
            <name>No_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provision_the_Person_Account.varResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Username</targetReference>
            </connector>
            <label>No, Failed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accountJobTitle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Job_Title__c</picklistField>
        <picklistObject>Account</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>B2B Subflow Guest SignUp {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>B2B Subflow Guest SignUp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>1128</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>varPersonAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Wait_Screen_1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>User_Provisioning_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Time_Login_Product__c</field>
            <value>
                <elementReference>varProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Number__c</field>
            <value>
                <elementReference>License_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Person_Account_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trainer_CCPDT_Number__c</field>
            <value>
                <elementReference>CCPDT_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Account_with_the_Given_Email</name>
        <label>Get Existing Account with the Given Email</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_Exists_From_CRM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Account_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_User_with_Provided_Email</name>
        <label>Get Existing User with Provided Email</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Existing_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record_Type</name>
        <label>Get Person Account Record Type</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Account_with_the_Given_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_with_Existing_Account_Id</name>
        <label>Get User with Existing Account Id</label>
        <locationX>820</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Existing_Account_Provisioned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPersonAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Duplicate_Username_Error_Screen</name>
        <label>Duplicate Username Error Screen</label>
        <locationX>578</locationX>
        <locationY>1880</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Provision_the_Person_Account</targetReference>
        </connector>
        <fields>
            <name>duplicateUsernameMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Unfortunately, your user could not be created because the username is already taken.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please modify the username below to be unique and we’ll try again.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Note - This is only your username, not email address.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&amp;nbsp;&lt;/strong&gt;(e.g. sample+FearFree@email.com&amp;nbsp;or&amp;nbsp;sample@email.com.fearfree)&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;*Be sure to take note of your updated username before continuing as it will not be visible afterwards.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Username_New</name>
            <dataType>String</dataType>
            <fieldText>Username</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Sent_Info_Screen</name>
        <label>Email Sent Info Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccountExistMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;A user account already exists with the email address: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Email.value}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;. We have just sent a password reset email to this address. Please follow the instructions in the email to reset your password and log in to your account.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If you do not receive the email within a few minutes, please check your spam or junk folder. For further assistance, feel free to contact our support team.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Got It</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sign_Up_Screen</name>
        <label>Sign Up Screen</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_User_with_Provided_Email</targetReference>
        </connector>
        <fields>
            <name>Sign_Up_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sign_Up_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>License_Number</name>
                    <dataType>String</dataType>
                    <fieldText>License Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;This field is intended for veterinarians and veterinary technicians/nurses.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Job_Title</name>
                    <choiceReferences>accountJobTitle</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Job Title</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sign_Up_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CCPDT_Number</name>
                    <dataType>String</dataType>
                    <fieldText>CCPDT Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;This field is intended for Certified Professional Dog Trainers.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>I_want_to_sign_up_as_a_team</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I want to sign up as a team</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Provisioning_Error_Screen</name>
        <label>User Provisioning Error Screen</label>
        <locationX>842</locationX>
        <locationY>1880</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>userProvisioningErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;We&apos;re sorry, but your user could not be created at this time. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Please click Finish to try again.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Provisioning_Success_Screen</name>
        <label>User Provisioning Success Screen</label>
        <locationX>1238</locationX>
        <locationY>2072</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>User_Provisioned_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Your user&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; has been created &lt;/strong&gt;&lt;strong&gt;successfully. An email is sent to {!Email.value}, please set your password and sign in to place your order.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Set Password Now</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Wait_Screen_1</name>
        <label>Wait Screen 1</label>
        <locationX>1128</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Provision_the_Person_Account</targetReference>
        </connector>
        <fields>
            <name>Wait_Screen_1_AutoNav</name>
            <extensionName>c:b2bFlowAutoNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxTime</name>
                <value>
                    <stringValue>0:0:1:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLoader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Wait_Screen_2</name>
        <label>Wait Screen 2</label>
        <locationX>974</locationX>
        <locationY>1556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_Provisioned</targetReference>
        </connector>
        <fields>
            <name>Wait_Screen_2_AutoNav</name>
            <extensionName>c:b2bFlowAutoNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxTime</name>
                <value>
                    <stringValue>0:0:1:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLoader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sign_Up_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Invoke_FSM_Flow_Screen_Create_Business</name>
        <label>Invoke FSM Flow : Screen - Create Business</label>
        <locationX>1106</locationX>
        <locationY>1880</locationY>
        <connector>
            <targetReference>User_Provisioning_Success_Screen</targetReference>
        </connector>
        <flowName>Screen_Create_Business</flowName>
        <inputAssignments>
            <name>var_AccountId</name>
            <value>
                <elementReference>Create_Person_Account</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Provision_the_Person_Account</name>
        <label>Provision the Person Account</label>
        <locationX>974</locationX>
        <locationY>1448</locationY>
        <connector>
            <targetReference>Wait_Screen_2</targetReference>
        </connector>
        <flowName>B2B_Subflow_User_Provisioning</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>varPersonAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varManualUsername</name>
            <value>
                <elementReference>Username_New</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varPersonAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
