force-app/main/default/flows/B2B_Subflow_Unassign_Special_Buyer_Group_from_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Buyer_Group_Ids</name>
        <label>Collect Buyer Group Ids</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>colBuyerGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Special_Buyer_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Special_Buyer_Groups</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Buyer_Group_Members_Exist</name>
        <label>Buyer Group Members Exist?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Buyer_Group_Members_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Buyer_Group_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_the_Buyer_Group_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Buyer_Groups_Exists</name>
        <label>Buyer Groups Exists?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Buyer_Groups_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Special_Buyer_Groups</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Special_Buyer_Groups</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Subflow Unassign Special Buyer Group from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Subflow Unassign Special Buyer Group from Account</label>
    <loops>
        <name>Loop_on_Special_Buyer_Groups</name>
        <label>Loop on Special Buyer Groups</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Special_Buyer_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Buyer_Group_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Buyer_Group_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_the_Buyer_Group_Members</name>
        <label>Delete the Buyer Group Members</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <inputReference>Get_Buyer_Group_Members</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Buyer_Group_Members</name>
        <label>Get Buyer Group Members</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buyer_Group_Members_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerGroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>colBuyerGroupIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>BuyerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BuyerGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Special_Buyer_Groups</name>
        <label>Get Special Buyer Groups</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buyer_Groups_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exclusive_Buyer_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BuyerGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Special_Buyer_Groups</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colBuyerGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
