force-app/main/default/flows/B2B_Subflow_Schoox_Job_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handle_Schoox_Job_Assignment</name>
        <label>Handle Schoox Job Assignment</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <actionName>B2BHandleSchooxJobAssignmentInvokable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountMemberships</name>
            <value>
                <elementReference>colAccountMemberships</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummary_AccountId</name>
            <value>
                <elementReference>varOrderSummaryAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>permanentMembershipJobIds</name>
            <value>
                <elementReference>colPermanentMembershipJobId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BHandleSchooxJobAssignmentInvokable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_AccountMemberships_Collection</name>
        <label>Add to AccountMemberships Collection</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>colAccountMemberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ILMA_s_of_the_Current_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>makeCalloutToSchooxAPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Product_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountId_and_JobIds</name>
        <label>Set AccountId and JobIds</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>makeCalloutToSchooxAPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderSummaryAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrderSummaryRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colPermanentMembershipJobId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Order_Product_Summaries.Product2.Schoox_Job_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Order_Product_Summaries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_the_Product_Group</name>
        <label>Determine the Product Group</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Order_Product_Summaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Permanent_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Order_Product_Summaries.Product2.Product_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AccountId_and_JobIds</targetReference>
            </connector>
            <label>Permanent Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_records_exists_to_assign_Schoox_Jobs</name>
        <label>Does records exists to assign Schoox Jobs?</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_records_exists_to_assign_Schoox_Jobs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>makeCalloutToSchooxAPI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Schoox_Job_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Active_ILMAs</name>
        <label>Has Active ILMAs?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Product_Summaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Active_ILMAs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ILMA_s_of_the_Current_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_AccountMemberships_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Subflow Schoox Job Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Subflow Schoox Job Assignments</label>
    <loops>
        <name>Loop_on_Order_Product_Summaries</name>
        <label>Loop on Order Product Summaries</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Order_Product_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_the_Product_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_records_exists_to_assign_Schoox_Jobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ILMA_s_of_the_Current_Order</name>
        <label>Get ILMA&apos;s of the Current Order</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Active_ILMAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Summaries</name>
        <label>Get Order Product Summaries</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Order_Product_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ILMA_s_of_the_Current_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colAccountMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>colPermanentMembershipJobId</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>makeCalloutToSchooxAPI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderSummaryAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
</Flow>
