force-app/main/default/flows/B2B_Handle_Membership_Reinstatement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_New_Cart</name>
        <label>Create New Cart</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>createCart</actionName>
        <actionType>createCart</actionType>
        <connector>
            <targetReference>Get_User_Id_of_the_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>webStoreId</name>
            <value>
                <elementReference>$Label.Webstore_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cartInput</name>
            <value>
                <elementReference>cartInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createCart</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Product_Price</name>
        <label>Get Product Price</label>
        <locationX>270</locationX>
        <locationY>1730</locationY>
        <actionName>B2BGetProductPriceInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Values_for_CartItem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BGetProductPriceInvokable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varProductPrice</assignToReference>
            <name>productPrice</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_the_Collection_Var</name>
        <label>Add to the Collection Var</label>
        <locationX>270</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>colCartItemsToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCartItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ILMAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cart_Id</name>
        <label>Set Cart Id</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varCartId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Cart.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cart_Delivery_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cart_Inputs</name>
        <label>Set Cart Inputs</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>cartInput.effectiveAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Cart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Cart_Id</name>
        <label>Set New Cart Id</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varCartId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Cart.cartSummary.cartId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cart_Delivery_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_CartItem</name>
        <label>Set Values for CartItem</label>
        <locationX>270</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varCartItem.CartId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCartId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.Individual_Membership_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ILMAs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.TotalPriceAfterAllAdjustments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.CartDeliveryGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cart_Delivery_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.SalesPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.UnitAdjustedPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.UnitAdjustedPriceWithItemAdj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCartItem.TotalListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Collection_Var</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_ILMA_is_in_Cart</name>
        <label>Check if ILMA is in Cart</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Loop_ILMAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - in cart</defaultConnectorLabel>
        <rules>
            <name>No_not_in_cart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDuplicateCartItemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product</targetReference>
            </connector>
            <label>No not in cart</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Given_Account_Exist</name>
        <label>Does Given Account Exist?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Given_Account_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Cart</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Active_Cart</name>
        <label>Has Active Cart?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Cart_Inputs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Active_Cart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Cart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cart_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added List Price to CartItem</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaLowestPrice</name>
        <dataType>Currency</dataType>
        <expression>0</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>B2B Handle Membership Reinstatement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Handle Membership Reinstatement</label>
    <loops>
        <name>Loop_ILMAs</name>
        <label>Loop ILMAs</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <collectionReference>varILMAList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Cart_Items_that_match_ILMA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CartItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CartItems</name>
        <label>Create CartItems</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <inputReference>colCartItemsToBeCreated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Given_Account_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Cart</name>
        <label>Get Active Cart</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Active_Cart</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Checkout</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cart_Delivery_Group</name>
        <label>Get Cart Delivery Group</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ILMAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartDeliveryGroup</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cart_Items_that_match_ILMA</name>
        <label>Get Cart Items that match ILMA</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_ILMA_is_in_Cart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCartId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Individual_Membership_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_ILMAs.Id</elementReference>
            </value>
        </filters>
        <object>CartItem</object>
        <outputAssignments>
            <assignToReference>varDuplicateCartItemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>270</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_ILMAs.Membership__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual Level Membership</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id_of_the_Account</name>
        <label>Get User Id of the Account</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_of_the_Cart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Cart.cartSummary.accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner_of_the_Cart</name>
        <label>Update Owner of the Cart</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Set_New_Cart_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Cart.cartSummary.cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Id_of_the_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cartInput</name>
        <apexClass>ConnectApi__CartInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colCartItemsToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartItem</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCartItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartItem</objectType>
    </variables>
    <variables>
        <name>varDuplicateCartItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varILMAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varProductPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>999999.0</numberValue>
        </value>
    </variables>
</Flow>
