force-app/main/default/flows/B2B_Subflow_Update_Account_From_Account_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Buyer_Group_Ids_Assigned_to_the_Account</name>
        <label>Collect Buyer Group Ids Assigned to the Account</label>
        <locationX>567</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>colBuyerGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Associated_Buyer_Groups.BuyerGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Associated_Buyer_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varAccountCodeRecord</name>
        <label>Set varAccountCodeRecord</label>
        <locationX>726</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varAccountCodeRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_from_Account_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varAccountRecord</name>
        <label>Set varAccountRecord</label>
        <locationX>982</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Code</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Buyer_Group_Exists</name>
        <label>Buyer Group Exists?</label>
        <locationX>248</locationX>
        <locationY>1730</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Buyer_Group_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Special_Buyer_Group_from_Account_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Special_Buyer_Group_Assigned_to_the_Account_Already</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_Code_Exist</name>
        <label>Does Account Code Exist?</label>
        <locationX>982</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Account_Code_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varAccountCodeRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_Code_has_Special_Buyer_Group</name>
        <label>Does Account Code has Special Buyer Group?</label>
        <locationX>479</locationX>
        <locationY>1514</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Account_Code_has_Special_Buyer_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountCodeRecord.Special_Buyer_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Special_Buyer_Group_from_Account_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_Exist</name>
        <label>Does Account Exist?</label>
        <locationX>1242</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Account_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varAccountRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_Buyer_Account</name>
        <label>Is a Buyer Account</label>
        <locationX>726</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Buyer_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Buyer_Groups_Associated_to_the_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Special_Buyer_Group_Assigned_to_the_Account_Already</name>
        <label>Is Special Buyer Group Assigned to the Account Already?</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Assign_Special_Buyer_Group_to_the_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_MOU_Buyer_Group_Assigned_to_the_Account_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colBuyerGroupIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Special_Buyer_Group_from_Account_Code.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Subflow - Update Account From Account Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Subflow Update Account From Account Code</label>
    <loops>
        <name>Loop_on_Associated_Buyer_Groups</name>
        <label>Loop on Associated Buyer Groups</label>
        <locationX>479</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Buyer_Groups_Associated_to_the_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Buyer_Group_Ids_Assigned_to_the_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Account_Code_has_Special_Buyer_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Special_Buyer_Group_to_the_Account</name>
        <label>Assign Special Buyer Group to the Account</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <inputAssignments>
            <field>BuyerGroupId</field>
            <value>
                <elementReference>Get_Special_Buyer_Group_from_Account_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerId</field>
            <value>
                <elementReference>varAccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BuyerGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1242</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Code</name>
        <label>Get Account Code</label>
        <locationX>982</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_Code_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountCodeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyer_Account</name>
        <label>Get Buyer Account</label>
        <locationX>726</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_a_Buyer_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuyerAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyer_Groups_Associated_to_the_Account</name>
        <label>Get Buyer Groups Associated to the Account</label>
        <locationX>479</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Associated_Buyer_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BuyerGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Special_Buyer_Group_from_Account_Code</name>
        <label>Get Special Buyer Group from Account Code</label>
        <locationX>248</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buyer_Group_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountCodeRecord.Special_Buyer_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuyerGroup</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_from_Account_Code</name>
        <label>Update Account from Account Code</label>
        <locationX>726</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Buyer_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exemption_Code__c</field>
            <value>
                <elementReference>varAccountCodeRecord.Tax_Exemption_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>varAccountCodeRecord.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Exempt__c</field>
            <value>
                <elementReference>varAccountCodeRecord.Tax_Exempt__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>1116</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colBuyerGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountCodeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Code__c</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
