force-app/main/default/flows/B2B_Update_Account_on_Expiration_of_Account_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_the_Collection_to_Update</name>
        <label>Add to the Collection to Update</label>
        <locationX>138</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>colAccountsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Account_Code_Ids</name>
        <label>Collect Account Code Ids</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>colAccountCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Expired_Account_Codes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Expired_Account_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Code_to_Null</name>
        <label>Set Account Code to Null</label>
        <locationX>138</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Accounts.Account_Code__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Collection_to_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Accounts_with_Expired_Account_Code_Exists</name>
        <label>Accounts with Expired Account Code Exists?</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Accounts_with_Expired_Account_Code_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts_with_Expired_Account_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expired_Account_Codes_Exists</name>
        <label>Expired Account Codes Exists?</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Expired_Account_Codes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Expired_Account_Codes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Expired_Account_Codes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Update Expired Account Codes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Update Account on Expiration of Account Code</label>
    <loops>
        <name>Loop_on_Accounts</name>
        <label>Loop on Accounts</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <collectionReference>Get_Accounts_with_Expired_Account_Code</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Account_Code_to_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Expired_Account_Codes</name>
        <label>Loop on Expired Account Codes</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Expired_Account_Codes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Account_Code_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Accounts_with_Expired_Account_Code</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_with_Expired_Account_Code</name>
        <label>Get Accounts with Expired Account Code</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounts_with_Expired_Account_Code_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colAccountCodeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Expired_Account_Codes</name>
        <label>Get Expired Account Codes</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expired_Account_Codes_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Code_Expired_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>50</locationX>
        <locationY>1392</locationY>
        <inputReference>colAccountsToBeUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Expired_Account_Codes</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-23</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colAccountCodeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colAccountCodesToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Code__c</objectType>
    </variables>
    <variables>
        <name>colAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colAccountsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
