force-app/main/default/flows/B2B_RTF_Update_Account_When_Account_Code_Is_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>B2B RTF Update Account When Account Code Is Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B RTF Update Account When Account Code Is Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Code__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Unassign_Special_Buyer_Groups_From_Account</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Unassign_Special_Buyer_Groups_From_Account</name>
        <label>Unassign Special Buyer Groups From Account</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Update_Account_to_Assign_Unassign_Account_Code</targetReference>
        </connector>
        <flowName>B2B_Subflow_Unassign_Special_Buyer_Group_from_Account</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Account_to_Assign_Unassign_Account_Code</name>
        <label>Update Account to Assign/Unassign Account Code</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <flowName>B2B_Subflow_Manage_Account_Code_Assignment_Unassignment</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
