force-app/main/default/flows/B2B_Subflow_Create_Membership_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Order_Items_for_Individual_Level</name>
        <label>Add to Order Items for Individual Level</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>colOrderItemsForIndividual</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Order_Summary_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvokeIndividualSubflow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Auto_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Order_Items_for_Practice_Level</name>
        <label>Add to Order Items for Practice Level</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>colOrderItemsForPractice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Order_Summary_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvokePracticeSubflow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Auto_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_var_auto_renewal_to_true</name>
        <label>Set var auto renewal to true</label>
        <locationX>622</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>isAutoRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Order_Summary_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_the_Product_Group</name>
        <label>Determine the Product Group</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_on_Order_Summary_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Individual_Level_Membership</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Order_Summary_Items.Product2.Product_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual Level Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Order_Summary_Items.Product2.Product_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual Academia Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Order_Items_for_Individual_Level</targetReference>
            </connector>
            <label>Individual Level Membership</label>
        </rules>
        <rules>
            <name>Practice_Level_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Order_Summary_Items.Product2.Product_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Practice Level Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Order_Items_for_Practice_Level</targetReference>
            </connector>
            <label>Practice Level Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoke_Subflow_Individual_Membership_Assignment</name>
        <label>Invoke Subflow Individual Membership Assignment</label>
        <locationX>402</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Invoke_Subflow_Practice_Membership_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoke_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvokeIndividualSubflow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoicePaid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Individual_Membership_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoke_Subflow_Practice_Membership_Assignment</name>
        <label>Invoke Subflow Practice Membership Assignment</label>
        <locationX>402</locationX>
        <locationY>1334</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoke_Practice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvokePracticeSubflow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_to_be_an_Admin_if_not_already</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Auto_Renewal</name>
        <label>Is Auto Renewal</label>
        <locationX>754</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Order_Summary_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Auto_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Order_Summary_Items.Membership_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_var_auto_renewal_to_true</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice_Order</name>
        <label>Is Invoice Order?</label>
        <locationX>226</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Practice_Level_Membership_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Invoice_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrderSummaryRecord.InvoiceId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrderSummaryRecord.InvoiceId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Invoice_Paid_or_Renewal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice_Paid_or_Renewal</name>
        <label>Is Invoice Paid or Renewal?</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Invoice_Paid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>invoicePaid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isAutoRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Practice_Level_Membership_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Subflow Create Membership Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Subflow Create Membership Assignments</label>
    <loops>
        <name>Loop_on_Order_Summary_Items</name>
        <label>Loop on Order Summary Items</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Order_Summary_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_the_Product_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Invoke_Subflow_Individual_Membership_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Summary_Items</name>
        <label>Get Order Summary Items</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Order_Summary_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_to_be_an_Admin_if_not_already</name>
        <label>Update Account to be an Admin (if not already)</label>
        <locationX>226</locationX>
        <locationY>1442</locationY>
        <connector>
            <targetReference>Is_Invoice_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderSummaryRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Admin_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Summary_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Individual_Membership_Assignment</name>
        <label>Individual Membership Assignment</label>
        <locationX>270</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>Invoke_Subflow_Practice_Membership_Assignment</targetReference>
        </connector>
        <flowName>B2B_Subflow_Individual_Membership_Assignment</flowName>
        <inputAssignments>
            <name>colOrderSummaryItems</name>
            <value>
                <elementReference>colOrderItemsForIndividual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>varOrderSummaryRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrderSummaryId</name>
            <value>
                <elementReference>varOrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Practice_Level_Membership_Assignment</name>
        <label>Practice Level Membership Assignment</label>
        <locationX>226</locationX>
        <locationY>2042</locationY>
        <flowName>B2B_Subflow_Practice_Level_Membership_Assignment</flowName>
        <inputAssignments>
            <name>colOrderSummaryItems</name>
            <value>
                <elementReference>colOrderItemsForPractice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>varOrderSummaryRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrderSummaryId</name>
            <value>
                <elementReference>varOrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colOrderItemsForIndividual</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>colOrderItemsForPractice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>invoicePaid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isAutoRenewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varInvokeIndividualSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varInvokePracticeSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
</Flow>
