force-app/main/default/flows/B2B_Update_Promotions_on_Order_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Promotion_Id_on_Each_Item</name>
        <label>Set Promotion Id on Each Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Order_Product_Adjustment_Line_Item_Summaries.AdjustmentBasisReferenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cart_Item_Price_Adjustment.AdjustmentBasisReferenceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Order_Product_Adjustment_Line_Item_Summaries.AdjustmentCauseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cart_Item_Price_Adjustment.PriceAdjustmentCauseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colOrderProductAdjLineItemSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Order_Product_Adjustment_Line_Item_Summaries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Order_Product_Adjustment_Line_Item_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Promotion_Id_on_Each_Record</name>
        <label>Set Promotion Id on Each Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Order_Adjustment_Group_Summaries.AdjustmentBasisReferenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cart_Adjustment_Group.AdjustmentBasisReferenceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Order_Adjustment_Group_Summaries.AdjustmentCauseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cart_Adjustment_Group.PriceAdjustmentCauseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colOrderAdjustmentGroupSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Order_Adjustment_Group_Summaries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Order_Adjustment_Group_Summaries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Order_Summary_has_Cart_Id</name>
        <label>Does Order Summary has Cart Id?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Order_Summary_has_Cart_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrderSummaryRecord.B2B_Cart_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrderSummaryRecord.B2B_Cart_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cart_Adjustment_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Cart_Adjustment_Group</name>
        <label>Has Cart Adjustment Group?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Cart_Item_Price_Adjustment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Cart_Adjustment_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cart_Adjustment_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Adjustment_Group_Summaries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Cart_Item_Price_Adjustments</name>
        <label>Has Cart Item Price Adjustments?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Cart_Item_Price_Adjustments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cart_Item_Price_Adjustment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Product_Adjustment_Line_Item_Summaries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Update Promotions on Order Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Update Promotions on Order Summary</label>
    <loops>
        <name>Loop_through_Order_Adjustment_Group_Summaries</name>
        <label>Loop through Order Adjustment Group Summaries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Order_Adjustment_Group_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Promotion_Id_on_Each_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Adjustment_Group_Summaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Order_Product_Adjustment_Line_Item_Summaries</name>
        <label>Loop through Order Product Adjustment Line Item Summaries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Order_Product_Adjustment_Line_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Promotion_Id_on_Each_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Product_Adjustment_Line_Item_Summaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cart_Adjustment_Group</name>
        <label>Get Cart Adjustment Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Cart_Adjustment_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderSummaryRecord.B2B_Cart_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCartAdjustmentGroup</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cart_Item_Price_Adjustment</name>
        <label>Get Cart Item Price Adjustment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Cart_Item_Price_Adjustments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderSummaryRecord.B2B_Cart_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartItemPriceAdjustment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Adjustment_Group_Summaries</name>
        <label>Get Order Adjustment Group Summaries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Order_Adjustment_Group_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderSummaryRecord.SourceOrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderAdjustmentGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Adjustment_Line_Item_Summaries</name>
        <label>Get Order Product Adjustment Line Item Summaries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Order_Product_Adjustment_Line_Item_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemAdjustmentLineSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Adjustment_Group_Summaries</name>
        <label>Update Order Adjustment Group Summaries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cart_Item_Price_Adjustment</targetReference>
        </connector>
        <inputReference>colOrderAdjustmentGroupSummary</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Product_Adjustment_Line_Item_Summaries</name>
        <label>Update Order Product Adjustment Line Item Summaries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>colOrderProductAdjLineItemSummaries</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Order_Summary_has_Cart_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colOrderAdjustmentGroupSummary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderAdjustmentGroupSummary</objectType>
    </variables>
    <variables>
        <name>colOrderProductAdjLineItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemAdjustmentLineSummary</objectType>
    </variables>
    <variables>
        <name>varOrderItemAdjLineItemSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemAdjustmentLineSummary</objectType>
    </variables>
    <variables>
        <name>varOrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
</Flow>
