force-app/main/default/flows/B2B_RTF_on_Order_Summary_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>formula_BusinessAccount</name>
        <dataType>String</dataType>
        <expression>IF( $Record.Account.Admin_Account__c, $Record.Account.Business__r.Id, NULL )</expression>
    </formulas>
    <interviewLabel>B2B RTF on Order Summary Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B RTF on Order Summary Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summary</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Summary</name>
        <label>Update Order Summary</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Create_Membership_Assignments</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Code__c</field>
            <value>
                <elementReference>$Record.Account.Account_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Account__c</field>
            <value>
                <elementReference>$Record.Account.Business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__City__s</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__CountryCode__s</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__GeocodeAccuracy__s</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__Latitude__s</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__Longitude__s</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__PostalCode__s</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__StateCode__s</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__Street__s</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>OrderSummary</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Order_Delivery_Group_Summary</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Create_Membership_Assignments</name>
        <label>Create Membership Assignments</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Send_Order_to_Veracore</targetReference>
        </connector>
        <flowName>B2B_Subflow_Create_Membership_Assignments</flowName>
        <inputAssignments>
            <name>varOrderSummaryRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Order_to_Veracore</name>
        <label>Send Order to Veracore</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <flowName>B2B_Subflow_Shipping_Integration</flowName>
        <inputAssignments>
            <name>orderSummaryRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
