force-app/main/default/flows/B2B_Subflow_Individual_Membership_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handle_Commerce_Logic_on_Membership_Assignment</name>
        <label>Handle Commerce Logic on Membership Assignment</label>
        <locationX>1238</locationX>
        <locationY>4256</locationY>
        <actionName>B2BHandleMembershipAssignmentInvokable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountMembershipLists</name>
            <value>
                <elementReference>colILMAs</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BHandleMembershipAssignmentInvokable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Account_Id_to_Col_NonAdmin</name>
        <label>Add Account Id to Col</label>
        <locationX>2228</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>colAssignedAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Active_ILMAs_purchased_by_or_assigned_to_this_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Account_Ids_to_Col</name>
        <label>Add Account Ids to Col</label>
        <locationX>1964</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>colAssignedAccounts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Team_Member_Account_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Active_ILMAs_purchased_by_or_assigned_to_this_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_the_Collection</name>
        <label>Add to the Collection</label>
        <locationX>2767</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>colIndividualAssignmentsToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varIndividualMembershipAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_OrderSummaryItem_Quantity_Greater_than_or_equal_productCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_the_Record_Collection</name>
        <label>Add to the  Record Collection</label>
        <locationX>490</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>colIndividualAssignmentsToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varIndividualMembershipAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Current_Active_ILMA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Reset_Current_Active_ILMA</name>
        <label>Reset Current Active ILMA</label>
        <locationX>3031</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>varCurrentActiveILMA</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_OrderSummaryItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Created_ILMAs</name>
        <label>Get Created ILMAs</label>
        <locationX>1238</locationX>
        <locationY>3332</locationY>
        <assignmentItems>
            <assignToReference>colILMAs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colIndividualAssignmentsToBeCreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_ILMAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Product_Count</name>
        <label>Increase Product Count</label>
        <locationX>2767</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>productCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Current_Active_ILMA</name>
        <label>Reset Current Active ILMA</label>
        <locationX>490</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>varCurrentActiveILMA</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Provided_Account_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Latest_Start_Date</name>
        <label>Set Latest Start Date</label>
        <locationX>358</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_PLMA_of_Same_Type.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPLMALookupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_PLMA_of_Same_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Values_for_New_ILMA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Count_to_1</name>
        <label>Set Product Count to 1</label>
        <locationX>2899</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>productCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Membership_Renewal_or_Reinstate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Renewed_ILMA_Id_on_Previous_ILMA</name>
        <label>Set Renewed ILMA Id on Previous ILMA</label>
        <locationX>1502</locationX>
        <locationY>3872</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Previous_ILMAs.Renewed_Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_filtered_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colPreviousILMAsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Previous_ILMAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_filtered_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_Date_as_Given_PLMA</name>
        <label>Set Start Date as Given PLMA</label>
        <locationX>622</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Practice_Level_Membership_Assignment.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPLMALookupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>practiceMembershipAssignmentId_FSM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Values_for_New_ILMA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_the_Current_Active_ILMA</name>
        <label>Set the Current Active ILMA</label>
        <locationX>2624</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>varCurrentActiveILMA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Filtered_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Filtered_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_the_Current_Active_ILMA_PLMA</name>
        <label>Set the Current Active ILMA</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varCurrentActiveILMA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Filtered_Collection_PLMA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Filtered_Collection_PLMA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_for_Account_Assignment_Date_Current_Active_ILMA</name>
        <label>Set Values From Current Active ILMA</label>
        <locationX>292</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Welcome_Kit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentActiveILMA.Welcome_Kit_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Employment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentActiveILMA.Employment_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Previous_Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentActiveILMA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colPreviousILMAIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentActiveILMA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Latest_PLMA_of_Same_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_Kit_Status</name>
        <label>Set Values for Kit Status</label>
        <locationX>820</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Welcome_Kit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Latest_PLMA_of_Same_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_New_Assignment</name>
        <label>Set Values for New Assignment</label>
        <locationX>3064</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Account_Assignment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountAssignmentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignedAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Welcome_Kit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Product2.Membership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Order_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Purchaser_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Parent_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_OrderSummaryItem_Quantity_Greater_than_or_equal_productCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_New_ILMA</name>
        <label>Set Values for New ILMA</label>
        <locationX>490</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Provided_Account_List.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Practice_Level_Membership_Assignment.Membership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Order_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Practice_Level_Membership_Assignment.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Purchaser_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Practice_Level_Membership_Assignment.Business_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Parent_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Practice_Level_Membership_Assignment.Business_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Practice_Level_Membership_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPLMALookupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Account_Assignment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_Renewal_Reinstate_Assignment</name>
        <label>Set Values for Renewal/Reinstate Assignment</label>
        <locationX>2536</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Individual_Membership_Assignment__r.Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Individual_Membership_Assignment__r.Membership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Order_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Purchaser_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Parent_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Individual_Membership_Assignment__r.Parent_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Practice_Level_Membership_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Individual_Membership_Assignment__r.Practice_Level_Membership_Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Employment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Individual_Membership_Assignment__r.Employment_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Previous_Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Individual_Membership_Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colPreviousILMAIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Individual_Membership_Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_OrderSummaryItem_Quantity_Greater_than_or_equal_productCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_of_new_ILMA_from_Current_Active_ILMA</name>
        <label>Set Values of new ILMA from Current Active ILMA</label>
        <locationX>2404</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Welcome_Kit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentActiveILMA.Welcome_Kit_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Account_Assignment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentActiveILMA.Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Values_for_Renewal_Reinstate_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_of_new_ILMA_from_Reinstated_ILMA</name>
        <label>Set Values of new ILMA from Reinstated ILMA</label>
        <locationX>2668</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Welcome_Kit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Individual_Membership_Assignment__r.Welcome_Kit_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Account_Assignment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndividualMembershipAssignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Values_for_Renewal_Reinstate_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_var_Assigned_Account_to_Null</name>
        <label>Set var Assigned Account to Null</label>
        <locationX>2932</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>varAssignedAccount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountAssignmentDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Values_for_New_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_var_Assigned_Parent_Account_to_Purchaser_Account</name>
        <label>Set var Assigned &amp; Parent Account to Purchaser Account</label>
        <locationX>3196</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varAssignedAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountAssignmentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Values_for_New_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_var_Parent_Account_to_Business_Account</name>
        <label>Set var Parent Account to Business Account</label>
        <locationX>2932</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varParentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Business__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_var_Assigned_Account_to_Null</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Active_ILMAs_with_Reinstated_ILMA_Assigned_Account</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Active ILMAs with Reinstated ILMA Assigned Account</label>
        <locationX>2536</locationX>
        <locationY>1406</locationY>
        <assignNextValueToReference>currentItem_Filter_Active_ILMAs_with_Reinstated_ILMA_Assigned_Account</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Active_ILMAs_purchased_by_or_assigned_to_this_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Active_ILMAs_with_Reinstated_ILMA_Assigned_Account.Account_Id__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_on_OrderSummaryItems.Individual_Membership_Assignment__r.Account_Id__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Active_ILMAs_with_Reinstated_ILMA_Assigned_Account.Membership__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_on_OrderSummaryItems.Individual_Membership_Assignment__r.Membership__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_on_Filtered_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Active_ILMAs_with_the_Current_Iteration_AccountId</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Active ILMAs with the Current Iteration AccountId</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Active_ILMAs_with_Reinstated_ILMA_Assigned_Account</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Active_ILMAs_assigned_to_Given_Account_Ids</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Active_ILMAs_with_Reinstated_ILMA_Assigned_Account.Account_Id__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_on_Provided_Account_List.Id</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Active_ILMAs_with_Reinstated_ILMA_Assigned_Account.Membership__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Practice_Level_Membership_Assignment.Membership__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_on_Filtered_Collection_PLMA</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_the_ILMA_that_has_Current_ILMA_as_Previous_ILMA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter the ILMA that has Current ILMA as Previous ILMA</label>
        <locationX>1414</locationX>
        <locationY>3656</locationY>
        <assignNextValueToReference>currentItem_Filter_the_ILMA_that_has_Current_ILMA_as_Previous_ILMA</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colILMAs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_the_ILMA_that_has_Current_ILMA_as_Previous_ILMA.Previous_Membership__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_Previous_ILMAs.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_filtered_records</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Determine_how_the_flow_is_being_invoked</name>
        <label>Determine how the flow is being invoked</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>From Order Summary</defaultConnectorLabel>
        <rules>
            <name>From_FSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>practiceMembershipAssignmentId_FSM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountList_FSM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Practice_Level_Membership_Assignment</targetReference>
            </connector>
            <label>From FSM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_Exist</name>
        <label>Does Account Exist?</label>
        <locationX>2294</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Account_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Order_Owner_a_Team_Admin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_has_an_Active_ILMA_of_Same_Membership</name>
        <label>Does Account has an Active ILMA of Same Membership ?</label>
        <locationX>2536</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Set_Values_of_new_ILMA_from_Reinstated_ILMA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Account_has_an_Active_Membership_of_Same_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentActiveILMA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_of_new_ILMA_from_Current_Active_ILMA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_PLMA_Exist</name>
        <label>Does PLMA Exist?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_PLMA_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Practice_Level_Membership_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_AccountIds_From_Given_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_this_Account_has_an_Active_ILMA_of_Same_Membership</name>
        <label>Does this Account has an Active ILMA of Same Membership ?</label>
        <locationX>490</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Is_this_a_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_this_Account_has_an_Active_ILMA_of_Same_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentActiveILMA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Value_for_Account_Assignment_Date_Current_Active_ILMA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_any_PLMA_that_expires_in_later_time</name>
        <label>Has any PLMA that expires in later time?</label>
        <locationX>490</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Set_Start_Date_as_Given_PLMA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_any_PLMA_that_expires_in_later_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_PLMA_of_Same_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Latest_Start_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Membership_Renewal_or_Reinstate</name>
        <label>Is Membership Renewal or Reinstate?</label>
        <locationX>2899</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Purchaser_is_on_a_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Membership_Renewal_or_Reinstate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_OrderSummaryItems.Membership_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_OrderSummaryItems.Individual_Membership_Assignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Active_ILMAs_with_Reinstated_ILMA_Assigned_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Owner_a_Team_Admin</name>
        <label>Is Order Owner a Team Admin?</label>
        <locationX>2096</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Add_Account_Id_to_Col_NonAdmin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Business__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Team_Member_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OrderSummaryItem_Quantity_Greater_than_or_equal_productCount</name>
        <label>Is OrderSummaryItem Quantity Greater than or equal productCount ?</label>
        <locationX>2899</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Reset_Current_Active_ILMA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Quantity_Greater_Than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_OrderSummaryItems.Quantity</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>productCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Product_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Renewal</name>
        <label>Is this a Renewal?</label>
        <locationX>688</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Set_Values_for_Kit_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_this_a_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsPLMARenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Reset_Current_Active_ILMA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_latest_ILMA</name>
        <label>Is this the latest ILMA?</label>
        <locationX>2756</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Filtered_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_this_the_latest_ILMA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentActiveILMA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentActiveILMA.Expiration_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_on_Filtered_Collection.Expiration_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Current_Active_ILMA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_latest_ILMA_PLMA</name>
        <label>Is this the latest ILMA?</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Filtered_Collection_PLMA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_this_the_latest_ILMA_PLMA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentActiveILMA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentActiveILMA.Expiration_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_on_Filtered_Collection_PLMA.Expiration_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Current_Active_ILMA_PLMA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Purchaser_Account_is_a_Team_Admin</name>
        <label>Purchaser Account is a Team Admin?</label>
        <locationX>3064</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Set_var_Assigned_Parent_Account_to_Purchaser_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Purchaser_Account_is_on_a_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_var_Parent_Account_to_Business_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Purchaser_is_on_a_Team</name>
        <label>Purchaser is on a Team?</label>
        <locationX>3262</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_var_Assigned_Parent_Account_to_Purchaser_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Purchaser_is_on_a_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purchaser_Account_is_a_Team_Admin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Subflow Individual Membership Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Subflow Individual Membership Assignment</label>
    <loops>
        <name>Loop_on_Filtered_Collection</name>
        <label>Loop on Filtered Collection</label>
        <locationX>2536</locationX>
        <locationY>1514</locationY>
        <collectionReference>Filter_Active_ILMAs_with_Reinstated_ILMA_Assigned_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_the_latest_ILMA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Account_has_an_Active_ILMA_of_Same_Membership</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Filtered_Collection_PLMA</name>
        <label>Loop on Filtered Collection</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <collectionReference>Filter_Active_ILMAs_with_the_Current_Iteration_AccountId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_the_latest_ILMA_PLMA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_this_Account_has_an_Active_ILMA_of_Same_Membership</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_OrderSummaryItems</name>
        <label>Loop on OrderSummaryItems</label>
        <locationX>2096</locationX>
        <locationY>1082</locationY>
        <collectionReference>colOrderSummaryItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Product_Count_to_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Individual_Membership_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Provided_Account_List</name>
        <label>Loop on Provided Account List</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>accountList_FSM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Active_ILMAs_with_the_Current_Iteration_AccountId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Individual_Membership_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_filtered_records</name>
        <label>Loop through filtered records</label>
        <locationX>1414</locationX>
        <locationY>3764</locationY>
        <collectionReference>Filter_the_ILMA_that_has_Current_ILMA_as_Previous_ILMA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Renewed_ILMA_Id_on_Previous_ILMA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Previous_ILMAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Previous_ILMAs</name>
        <label>Loop through Previous ILMAs</label>
        <locationX>1238</locationX>
        <locationY>3548</locationY>
        <collectionReference>Get_Previous_ILMAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_the_ILMA_that_has_Current_ILMA_as_Previous_ILMA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Previous_ILMAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Individual_Membership_Assignment</name>
        <label>Create Individual Membership Assignment</label>
        <locationX>1238</locationX>
        <locationY>3224</locationY>
        <connector>
            <targetReference>Get_Created_ILMAs</targetReference>
        </connector>
        <inputReference>colIndividualAssignmentsToBeCreated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>2294</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Active_ILMAs_assigned_to_Given_Account_Ids</name>
        <label>Get all Active/Expired ILMAs assigned to Given Account Ids</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Provided_Account_List</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Collect_AccountIds_From_Given_Accounts</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Active_ILMAs_purchased_by_or_assigned_to_this_Account</name>
        <label>Get all Active ILMAs purchased by or assigned to this Account</label>
        <locationX>2096</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_OrderSummaryItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colAssignedAccounts</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_PLMA_of_Same_Type</name>
        <label>Get Latest PLMA of Same Type</label>
        <locationX>490</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_any_PLMA_that_expires_in_later_time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Practice_Level_Membership_Assignment.Membership__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Get_Practice_Level_Membership_Assignment.Expiration_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Practice_Level_Membership_Assignment.Business_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Practice_Level_Membership_Assignment__c</object>
        <sortField>Expiration_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Practice_Level_Membership_Assignment</name>
        <label>Get Practice Level Membership Assignment</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_PLMA_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>practiceMembershipAssignmentId_FSM</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Practice_Level_Membership_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_ILMAs</name>
        <label>Get Previous ILMAs</label>
        <locationX>1238</locationX>
        <locationY>3440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Previous_ILMAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>colPreviousILMAIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Member_Records</name>
        <label>Get Team Member Records</label>
        <locationX>1964</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Team_Member_Account_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Business__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Previous_ILMAs</name>
        <label>Update Previous ILMAs</label>
        <locationX>1238</locationX>
        <locationY>4148</locationY>
        <connector>
            <targetReference>Handle_Commerce_Logic_on_Membership_Assignment</targetReference>
        </connector>
        <inputReference>colPreviousILMAsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_how_the_flow_is_being_invoked</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Collect_AccountIds_From_Given_Accounts</name>
        <label>Collect AccountIds From Given Accounts</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_all_Active_ILMAs_assigned_to_Given_Account_Ids</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>accountList_FSM[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Collect_Team_Member_Account_Ids</name>
        <label>Collect Team Member Account Ids</label>
        <locationX>1964</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Add_Account_Ids_to_Col</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Team_Member_Records[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>accountList_FSM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colAssignedAccounts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colILMAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>colIndividualAssignmentsToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>colOrderSummaryItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>colPreviousILMAIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colPreviousILMAsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Active_ILMAs_with_Reinstated_ILMA_Assigned_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_the_ILMA_that_has_Current_ILMA_as_Previous_ILMA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>practiceMembershipAssignmentId_FSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varAccountAssignmentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentActiveILMA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varIndividualMembershipAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varIsPLMARenewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPLMALookupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
