force-app/main/default/flows/B2B_Subflow_Stripe_Event_Invoice_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Order_Summary</name>
        <label>Create Order Summary</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>createOrderSummary</actionName>
        <actionType>createOrderSummary</actionType>
        <connector>
            <targetReference>Set_Invoice_Status_to_Disable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createOrderSummaryInput</name>
            <value>
                <elementReference>varOrderSummaryInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrderSummary</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Deserialize_Request_Body_of_Invoice_Updated</name>
        <label>Deserialize Request Body of Invoice Updated</label>
        <locationX>1450</locationX>
        <locationY>134</locationY>
        <actionName>B2BHandleInvoiceStripeEvents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBodies</name>
            <value>
                <elementReference>varStripeEventRecord.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BHandleInvoiceStripeEvents</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Fields_to_Update</name>
        <label>Set Fields to Update</label>
        <locationX>1134</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Get_Invoice.Amount_Charged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.data.object_Invoice.amount_due</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Invoice.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.data.object_Invoice.due_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Invoice.Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.data.object_Invoice.period_end</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Invoice.Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.data.object_Invoice.period_start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Invoice.Discount_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.data.object_Invoice.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Invoice.Stripe_PDF_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.data.object_Invoice.invoice_pdf</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Invoice.Stripe_Payment_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.data.object_Invoice.hosted_invoice_url</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Invoice.Invoice_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.data.object_Invoice.total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Invoice.Billing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.data.object_Invoice.customer_email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_Status_to_Disable</name>
        <label>Set Invoice Status to Disable</label>
        <locationX>429</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>Get_Invoice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disabled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Invoice.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.createdDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fields_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Status_as_Activated</name>
        <label>Set Order Status as Activated</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Summary_Input_Values</name>
        <label>Set Order Summary Input Values</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varOrderSummaryInput.orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderSummaryInput.orderLifeCycleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UNMANAGED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets a boolean variable to true to avoid infinite looping</description>
        <name>Set_Waited_var_to_True</name>
        <label>Set Waited var to True</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>waited15Seconds</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_the_Payment_Terms</name>
        <label>Determine the Payment Terms</label>
        <locationX>809</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Set_Invoice_Status_to_Disable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>NET_30_or_NET_60</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_to_Check_the_Terms.Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 30</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_to_Check_the_Terms.Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 60</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paid_within_Payment_Terms</targetReference>
            </connector>
            <label>NET 30 or NET 60</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Order_Exists</name>
        <label>Does Order Exists?</label>
        <locationX>811</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Order_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Auto_Renewal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Order_Summary_Exist</name>
        <label>Does Order Summary Exist?</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Set_Invoice_Status_to_Disable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Order_Summary_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Membership_Assignments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Exists</name>
        <label>Invoice Exists?</label>
        <locationX>1450</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Wait_for_Invoice_Created_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoice_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Invoice_Paid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Auto_Renewal</name>
        <label>Is Auto Renewal?</label>
        <locationX>429</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Account_to_Check_the_Terms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Auto_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.IsRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Status_as_Activated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice_Paid</name>
        <label>Is Invoice Paid?</label>
        <locationX>1134</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Fields_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Invoice_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.data.object_Invoice.paid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Paid_within_Payment_Terms</name>
        <label>Paid within Payment Terms?</label>
        <locationX>600</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Cancel_Membership_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Paid_within_Payment_Terms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoicePaymentDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>calculatepaymentDateFromTerms</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Summary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>baseTimeToWait</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (15/24/60/60)</expression>
    </formulas>
    <formulas>
        <name>calculatepaymentDateFromTerms</name>
        <dataType>Date</dataType>
        <expression>IF(TEXT({!Get_Account_to_Check_the_Terms.Payment_Terms__c})=&apos;NET 30&apos;, {!Get_Invoice.Period_Start_Date__c}+30, IF(TEXT({!Get_Account_to_Check_the_Terms.Payment_Terms__c})=&apos;NET 60&apos;, {!Get_Invoice.Period_Start_Date__c}+60, {!Get_Invoice.Period_Start_Date__c}))</expression>
    </formulas>
    <interviewLabel>B2B Subflow Stripe Event Invoice Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Subflow Stripe Event Invoice Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_to_Check_the_Terms</name>
        <label>Get Account to Check the Terms</label>
        <locationX>809</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_the_Payment_Terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>1450</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_Invoice_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.data.object_Invoice.stripeInvoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>811</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Order_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.Stripe_Invoice_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Order_Summary_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.Stripe_Invoice_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Set_Order_Summary_Input_Values</targetReference>
        </connector>
        <inputReference>Get_Order</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>1134</locationX>
        <locationY>2258</locationY>
        <inputReference>Get_Invoice</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1324</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deserialize_Request_Body_of_Invoice_Updated</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Cancel_Membership_Assignments</name>
        <label>Cancel Membership Assignments</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Set_Invoice_Status_to_Disable</targetReference>
        </connector>
        <flowName>B2B_Subflow_Cancel_Memberships_of_an_Invoice</flowName>
        <inputAssignments>
            <name>varStripeInvoiceId</name>
            <value>
                <elementReference>Get_Invoice.Stripe_Invoice_Id__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Membership_Assignments</name>
        <label>Create Membership Assignments</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Set_Invoice_Status_to_Disable</targetReference>
        </connector>
        <flowName>B2B_Subflow_Create_Membership_Assignments</flowName>
        <inputAssignments>
            <name>varOrderSummaryRecord</name>
            <value>
                <elementReference>Get_Order_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>invoicePaid</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varInvoicePaymentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Deserialize_Request_Body_of_Invoice_Updated.invoice.createdDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOrderSummaryInput</name>
        <apexClass>ConnectApi__OrderSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStripeEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>stripeGC__Stripe_Event__c</objectType>
    </variables>
    <variables>
        <name>waited15Seconds</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <waits>
        <name>Wait_for_Invoice_Created_Event</name>
        <label>Wait for Invoice Created Event</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_for_15_Seconds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>waited15Seconds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Waited_var_to_True</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>baseTimeToWait</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Wait for 15 Seconds</label>
        </waitEvents>
    </waits>
</Flow>
