force-app/main/default/flows/B2B_RTF_Handle_Commerce_On_Membership_Certified.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handle_Buyer_Groups_Assignment</name>
        <label>Handle Buyer Groups Assignment</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <actionName>B2BHandleMembershipAssignmentInvokable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountMembershipLists</name>
            <value>
                <elementReference>colILMAs</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BHandleMembershipAssignmentInvokable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Triggered_ILMA_to_Collection</name>
        <label>Add  Triggered ILMA to Collection</label>
        <locationX>374</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>colILMAs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Buyer_Groups_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_First_Time_Certified_Kit_is_Unavailable</name>
        <label>Is First Time Certified &amp; Kit is Unavailable?</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Add_Triggered_ILMA_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Certified_Kit_is_not_Claimed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Welcome_Kit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unavailable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Certification_Kit_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>updated to not populate certification date</description>
    <environments>Default</environments>
    <interviewLabel>B2B RTF Handle Commerce On Membership Certified {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B RTF Handle Commerce On Membership Certified</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Certification_Kit_Status</name>
        <label>Update Certification Kit Status</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Add_Triggered_ILMA_to_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Welcome_Kit_Status__c</field>
            <value>
                <stringValue>Unclaimed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Certified__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Certified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account_Membership__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_First_Time_Certified_Kit_is_Unavailable</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colILMAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
