force-app/main/default/flows/B2B_RTF_Check_Certification_Fields_when_ILMA_is_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Determine_if_Certification_Fields_Need_Update</name>
        <label>Determine if Certification Fields Need Update</label>
        <locationX>275</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Determine_if_Certification_Fields_Need_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Certified__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Records_of_Same_Membership_Type_Account.Certified__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Copy_the_Fields_From_Previous_ILMA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_ILMA_of_Same_Type_Exists</name>
        <label>Does ILMA of Same Type Exists?</label>
        <locationX>473</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Retain_Cert_for_related_memberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_ILMA_of_Same_Type_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_of_Same_Membership_Type_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_if_Certification_Fields_Need_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B RTF Check Certification Fields when ILMA is Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B RTF Check Certification Fields when ILMA is Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_of_Same_Membership_Type_Account</name>
        <label>Get Records of Same Membership Type &amp; Account</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_ILMA_of_Same_Type_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Membership__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Copy_the_Fields_From_Previous_ILMA</name>
        <label>Update/Copy the Fields From Previous ILMA</label>
        <locationX>143</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Certification_Date__c</field>
            <value>
                <elementReference>Get_Records_of_Same_Membership_Type_Account.Certification_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certified__c</field>
            <value>
                <elementReference>Get_Records_of_Same_Membership_Type_Account.Certified__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account_Membership__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Records_of_Same_Membership_Type_Account</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Retain_Cert_for_related_memberships</name>
        <label>Retain Cert for related memberships</label>
        <locationX>671</locationX>
        <locationY>492</locationY>
        <flowName>FF_Subflow_Retain_cert_status_when_membership_does_not_match_but_has_related_cer</flowName>
        <inputAssignments>
            <name>Account_Id</name>
            <value>
                <elementReference>$Record.Account_Id__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Triggered_ILMA</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
