force-app/main/default/flows/B2B_RTF_Update_ILMAs_when_PLMA_is_Voided.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_the_Collection</name>
        <label>Add to the Collection</label>
        <locationX>374</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>colILMAsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_ILMAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_ILMAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Each_ILMA_Status_as_Voided</name>
        <label>Set Each ILMA Status as Voided</label>
        <locationX>374</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_all_ILMAs.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_any_ILMA_records</name>
        <label>Has any ILMA records?</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_any_ILMA_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_ILMAs_that_have_lookup_to_the_triggered_PLMA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_all_ILMAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B RTF Update ILMAs when PLMA is Voided {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B RTF Update ILMAs when PLMA is Voided</label>
    <loops>
        <name>Loop_over_all_ILMAs</name>
        <label>Loop over all ILMAs</label>
        <locationX>286</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_All_ILMAs_that_have_lookup_to_the_triggered_PLMA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Each_ILMA_Status_as_Voided</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ILMAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_ILMAs_that_have_lookup_to_the_triggered_PLMA</name>
        <label>Get All ILMAs that have lookup to the triggered PLMA</label>
        <locationX>418</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_any_ILMA_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Practice_Level_Membership_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ILMAs</name>
        <label>Update ILMAs</label>
        <locationX>286</locationX>
        <locationY>900</locationY>
        <inputReference>colILMAsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </filters>
        <object>Practice_Level_Membership_Assignment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_All_ILMAs_that_have_lookup_to_the_triggered_PLMA</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colILMAsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
