force-app/main/default/flows/B2B_Subflow_Cancel_Memberships_of_an_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection_var</name>
        <label>Add to Collection var</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>colIndividualMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_all_Individual_Memberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_all_Individual_Memberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_the_collection_var</name>
        <label>Add to the collection var</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>colPracticeMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_all_Practice_Memberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_all_Practice_Memberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Individual_Membership_as_Canceled</name>
        <label>Set Individual Membership as Canceled</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_all_Individual_Memberships.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Practice_Membership_as_Canceled</name>
        <label>Set Practice Membership as Canceled</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_all_Practice_Memberships.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_collection_var</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Order_Summary_Exist</name>
        <label>Does Order Summary Exist?</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Order_Summary_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Practice_Level_Memberships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Individual_Level_Memberships</name>
        <label>Has Individual Level Memberships</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Individual_Level_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Individual_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_all_Individual_Memberships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Practice_Level_Memberships</name>
        <label>Has Practice Level Memberships</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Individual_Memberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Practice_Level_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Practice_Level_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_all_Practice_Memberships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Subflow Cancel Memberships of an Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Subflow Cancel Memberships of an Invoice</label>
    <loops>
        <name>Loop_on_all_Individual_Memberships</name>
        <label>Loop on all Individual Memberships</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <collectionReference>Get_Individual_Memberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Individual_Membership_as_Canceled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Individual_Memberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_all_Practice_Memberships</name>
        <label>Loop on all Practice Memberships</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Practice_Level_Memberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Practice_Membership_as_Canceled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Practice_Memberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Individual_Memberships</name>
        <label>Get Individual Memberships</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Individual_Level_Memberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Order_Summary_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStripeInvoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Practice_Level_Memberships</name>
        <label>Get Practice Level Memberships</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Practice_Level_Memberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Practice_Level_Membership_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Individual_Memberships</name>
        <label>Update Individual Memberships</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <inputReference>colIndividualMemberships</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Practice_Memberships</name>
        <label>Update Practice Memberships</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_Individual_Memberships</targetReference>
        </connector>
        <inputReference>colPracticeMemberships</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colIndividualMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>colPracticeMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Practice_Level_Membership_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varStripeInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
