force-app/main/default/flows/B2B_Subflow_Shipping_Integration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Order_Service</name>
        <label>Call Order Service</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <actionName>B2BOrderServiceInvoker</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummaryIds</name>
            <value>
                <elementReference>colOrderItemSummaryIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BOrderServiceInvoker</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_invokeOrderService_to_True</name>
        <label>Assign invokeOrderService to True</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>invokeOrderService</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Order_Item_Summary_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Order_Item_Summary_Ids</name>
        <label>Collect Order Item Summary Ids</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>colOrderItemSummaryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Each_Order_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Each_Order_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Invoke_Order_Service_Action</name>
        <label>Invoke Order Service Action ?</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoke_Order_Service_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invokeOrderService</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Order_Service</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Shippable_Product</name>
        <label>Is Shippable Product ?</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Each_Order_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Shippable_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Each_Order_Item.Product2.IsShippingChargeNotApplicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_invokeOrderService_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Subflow Shipping Integration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Subflow Shipping Integration</label>
    <loops>
        <name>Loop_on_Each_Order_Item</name>
        <label>Loop on Each Order Item</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Shippable_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Invoke_Order_Service_Action</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Item_Summaries</name>
        <label>Get Order Item Summaries</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Each_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Item_Summaries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colOrderItemSummaryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invokeOrderService</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>orderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
</Flow>
