force-app/main/default/flows/B2B_RTF_Update_Order_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Triggered_Record_to_a_Var</name>
        <label>Assign Triggered Record to a Var</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varOrderSummaryRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Run_Callouts_to_False</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>B2B RTF Update - Order Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B RTF Update - Order Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Run_Callouts_to_False</name>
        <label>Update Run Callouts to False</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Handle_Schoox_Job_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Run_Callouts__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Run_Callouts__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Run_Callouts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderSummary</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Assign_Triggered_Record_to_a_Var</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Schoox_Job_Assignment</name>
        <label>Handle Schoox Job Assignment</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Send_Order_to_Veracore</targetReference>
        </connector>
        <flowName>B2B_Subflow_Schoox_Job_Assignments</flowName>
        <inputAssignments>
            <name>varOrderSummaryRecord</name>
            <value>
                <elementReference>varOrderSummaryRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Order_to_Veracore</name>
        <label>Send Order to Veracore</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <flowName>B2B_Subflow_Shipping_Integration</flowName>
        <inputAssignments>
            <name>orderSummaryRecord</name>
            <value>
                <elementReference>varOrderSummaryRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varOrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
</Flow>
