force-app/main/default/flows/B2B_Subflow_Stripe_Event_Invoice_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deserialize_Request_Body_of_Invoice_Created</name>
        <label>Deserialize Request Body of Invoice Created</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>B2BHandleInvoiceStripeEvents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBodies</name>
            <value>
                <elementReference>varStripeEventRecord.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BHandleInvoiceStripeEvents</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Stripe_Invoice_Id_on_Order</name>
        <label>Set Stripe Invoice Id on Order</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Order.InvoiceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.stripeInvoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Order_Exist</name>
        <label>Does Order Exist?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Invoice_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Order_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stripe_Invoice_Id_on_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Subflow Stripe Event Invoice Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Subflow Stripe Event Invoice Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice_Record</name>
        <label>Create Invoice Record</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>Amount_Charged__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.amount_due</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.customer_email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Date__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.createdDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Description__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Total__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.total</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varStripeEventRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Number__c</field>
            <value>
                <elementReference>Get_Order.PoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Period_End_Date__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.period_end</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Period_Start_Date__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.period_start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer_Id__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Invoice_Id__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.stripeInvoiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_PDF_URL__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.invoice_pdf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Payment_URL__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.hosted_invoice_url</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Order_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Created.invoice.data.object_Invoice.metadata.salesforce_order_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>PoNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Invoice_Record</targetReference>
        </connector>
        <inputReference>Get_Order</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deserialize_Request_Body_of_Invoice_Created</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>testDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varStripeEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>stripeGC__Stripe_Event__c</objectType>
    </variables>
</Flow>
