force-app/main/default/flows/B2B_Subflow_Stripe_Event_Invoice_Item_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deserialize_Request_Body_of_Invoice_Item_Created</name>
        <label>Deserialize Request Body of Invoice Item Created</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>B2BHandleInvoiceLineStripeEvents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBodies</name>
            <value>
                <elementReference>varStripeEventRecord.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BHandleInvoiceLineStripeEvents</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Invoice_Exists</name>
        <label>Invoice Exists?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoice_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice_Line_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Subflow Stripe Event Invoice Item Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Subflow Stripe Event Invoice Item Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice_Line_Record</name>
        <label>Create Invoice Line Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>InvoiceId__c</field>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Description__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Item_Created.invoiceLine.data.object_InvoiceLine.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Quantity__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Item_Created.invoiceLine.data.object_InvoiceLine.quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Total__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Item_Created.invoiceLine.data.object_InvoiceLine.amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varStripeEventRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Invoice_Line_Id__c</field>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Item_Created.invoiceLine.data.object_InvoiceLine.stripeInvoiceLineId</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_Invoice_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deserialize_Request_Body_of_Invoice_Item_Created.invoiceLine.data.object_InvoiceLine.stripeInvoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deserialize_Request_Body_of_Invoice_Item_Created</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>testDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStripeEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>stripeGC__Stripe_Event__c</objectType>
    </variables>
</Flow>
