force-app/main/default/flows/B2B_RTF_Update_Account_When_Business_Is_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_Account_has_an_Account_Code</name>
        <label>Does Account has an Account Code?</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Person_Joined_a_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Account_has_an_Account_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Always_Unassign_Existing_Account_Code_if_Business_Is_Changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Business_has_Account_Code</name>
        <label>Does Business has Account Code?</label>
        <locationX>275</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Business_has_Account_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business__r.Account_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Code_From_Team_Parent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Joined_a_Team</name>
        <label>Person Joined a Team?</label>
        <locationX>473</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice_Billing_Email_Stripe_Customer_Id_to_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, left the team</defaultConnectorLabel>
        <rules>
            <name>Yes_Person_Joined_a_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Business_has_Account_Code</targetReference>
            </connector>
            <label>Yes, Joined a new Team</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B RTF Update Account When Business Is Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B RTF Update Account When Business Is Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Always_Unassign_Existing_Account_Code_if_Business_Is_Changed</name>
        <label>Always Unassign Existing Account Code if Business Is Changed</label>
        <locationX>341</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Person_Joined_a_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Code__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Code_From_Team_Parent</name>
        <label>Update Account Code From Team Parent</label>
        <locationX>143</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Account_Code__c</field>
            <value>
                <elementReference>$Record.Business__r.Account_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Billing_Email_Stripe_Customer_Id_to_null</name>
        <label>Update Invoice Billing Email &amp; Stripe Customer Id to null</label>
        <locationX>671</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>Invoice_Billing_Email__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Stripe_Id__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Does_Account_has_an_Account_Code</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
