force-app/main/default/flows/B2B_RTF_Assign_Job_When_ILMA_is_Created_From_PLMA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handle_Schoox_Job_Assignment</name>
        <label>Handle Schoox Job Assignment</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>B2BHandleSchooxJobAssignmentInvokable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountMemberships</name>
            <value>
                <elementReference>colILMAs</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BHandleSchooxJobAssignmentInvokable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Triggered_ILMA_to_Collection</name>
        <label>Add  Triggered ILMA to Collection</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>colILMAs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Schoox_Job_Assignment</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>B2B RTF Assign Job When ILMA is Created From PLMA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B RTF Assign Job When ILMA is Created From PLMA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Practice_Level_Membership_Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Practice</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Account_Membership__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Add_Triggered_ILMA_to_Collection</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colILMAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
