force-app/main/default/flows/B2B_Subflow_Practice_Level_Membership_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_the_Collection_Variable</name>
        <label>Add to the Collection Variable</label>
        <locationX>820</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>colPracticeLevelAssignmentsToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPracticeLevelMembershipAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_OrderSummaryItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_the_Current_Active_PLMA</name>
        <label>Set the Current Active PLMA</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varCurrentActivePLMA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Filtered_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Filtered_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_for_new_assignment</name>
        <label>Set values for new assignment</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Business_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Product2.Membership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Purchaser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Welcome_Kit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_for_renewal_assignment</name>
        <label>Set values for renewal assignment</label>
        <locationX>622</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Business_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Practice_Level_Membership_Assignment__r.Business_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Practice_Level_Membership_Assignment__r.Membership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Purchaser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_of_new_PLMA_from_Current_Active_PLMA</name>
        <label>Set values of new PLMA from Current Active PLMA</label>
        <locationX>490</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Welcome_Kit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentActivePLMA.Welcome_Kit_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Renewal_DVM_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentActivePLMA.Renewal_DVM_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentActivePLMA.Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_values_for_renewal_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_of_new_PLMA_from_Reinstated_PLMA</name>
        <label>Set values of new PLMA from Reinstated PLMA</label>
        <locationX>754</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Welcome_Kit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Practice_Level_Membership_Assignment__r.Welcome_Kit_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Renewal_DVM_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OrderSummaryItems.Practice_Level_Membership_Assignment__r.Renewal_DVM_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPracticeLevelMembershipAssignment.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_values_for_renewal_assignment</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Active_PLMAs_with_Reinstated_PLMA_Assigned_Business_Account</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Active PLMAs with Reinstated PLMA Assigned Business Account</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Filter_Active_PLMAs_with_Reinstated_PLMA_Assigned_Business_Account</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Active_PLMAs_Purchased_by_this_Account_or_assigned_to_it_s_Business_Acco</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Active_PLMAs_with_Reinstated_PLMA_Assigned_Business_Account.Business_Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Account.Business__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Active_PLMAs_with_Reinstated_PLMA_Assigned_Business_Account.Membership__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_on_OrderSummaryItems.Practice_Level_Membership_Assignment__r.Membership__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_on_Filtered_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Does_Account_has_an_Active_PLMA_of_Same_Membership</name>
        <label>Does Account has an Active PLMA of Same Membership ?</label>
        <locationX>622</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Set_values_of_new_PLMA_from_Reinstated_PLMA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Does_Account_has_an_Active_PLMA_of_Same_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentActivePLMA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_values_of_new_PLMA_from_Current_Active_PLMA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Membership_Renewal_or_Reinstate</name>
        <label>Is Membership Renewal or Reinstate?</label>
        <locationX>820</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_values_for_new_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Membership_Renewal_or_Reinstate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_OrderSummaryItems.Membership_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_OrderSummaryItems.Practice_Level_Membership_Assignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Active_PLMAs_with_Reinstated_PLMA_Assigned_Business_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_Order</name>
        <label>Is Renewal Order?</label>
        <locationX>182</locationX>
        <locationY>1958</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Renewal_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Created_PLMAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_Latest_PLMA</name>
        <label>Is this the Latest PLMA?</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Filtered_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_this_the_Latest_PLMA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentActivePLMA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentActivePLMA.Expiration_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_on_Filtered_Collection.Expiration_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Current_Active_PLMA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Subflow Practice Level Membership Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Subflow Practice Level Membership Assignment</label>
    <loops>
        <name>Loop_on_Created_PLMAs</name>
        <label>Loop on Created PLMAs</label>
        <locationX>50</locationX>
        <locationY>2066</locationY>
        <collectionReference>colPracticeLevelAssignmentsToBeCreated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Members_of_Current_PLMA</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_on_Filtered_Collection</name>
        <label>Loop on Filtered Collection</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <collectionReference>Filter_Active_PLMAs_with_Reinstated_PLMA_Assigned_Business_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_the_Latest_PLMA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Account_has_an_Active_PLMA_of_Same_Membership</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_OrderSummaryItems</name>
        <label>Loop on OrderSummaryItems</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>colOrderSummaryItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Membership_Renewal_or_Reinstate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Practice_Level_Membership_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Practice_Level_Membership_Assignments</name>
        <label>Create Practice Level Membership Assignments</label>
        <locationX>182</locationX>
        <locationY>1850</locationY>
        <connector>
            <targetReference>Is_Renewal_Order</targetReference>
        </connector>
        <inputReference>colPracticeLevelAssignmentsToBeCreated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Active_PLMAs_Purchased_by_this_Account_or_assigned_to_it_s_Business_Acco</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_PLMAs_Purchased_by_this_Account_or_assigned_to_it_s_Business_Acco</name>
        <label>Get All Active PLMAs Purchased by this Account or assigned to it&apos;s Business Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_OrderSummaryItems</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Purchaser__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Practice_Level_Membership_Assignment__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Members_of_Current_PLMA</name>
        <label>Get All Members of Current PLMA</label>
        <locationX>138</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subflow_Create_Individual_Membership_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_on_Created_PLMAs.Business_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Create_Individual_Membership_Assignments</name>
        <label>Subflow - Create Individual Membership Assignments</label>
        <locationX>138</locationX>
        <locationY>2282</locationY>
        <connector>
            <targetReference>Loop_on_Created_PLMAs</targetReference>
        </connector>
        <flowName>B2B_Subflow_Individual_Membership_Assignment</flowName>
        <inputAssignments>
            <name>accountList_FSM</name>
            <value>
                <elementReference>Get_All_Members_of_Current_PLMA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>practiceMembershipAssignmentId_FSM</name>
            <value>
                <elementReference>Loop_on_Created_PLMAs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsPLMARenewal</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>colOrderSummaryItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>colPracticeLevelAssignmentsToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Practice_Level_Membership_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Active_PLMAs_with_Reinstated_PLMA_Assigned_Business_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Practice_Level_Membership_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentActivePLMA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Practice_Level_Membership_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varIsRenewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPracticeLevelMembershipAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Practice_Level_Membership_Assignment__c</objectType>
    </variables>
</Flow>
