force-app/main/default/flows/B2B_RTF_on_Stripe_Event_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Determine_the_Type_of_Event</name>
        <label>Determine the Type of Event</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Invoice_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stripeGC__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invoice.created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice</targetReference>
            </connector>
            <label>Invoice Created</label>
        </rules>
        <rules>
            <name>Invoice_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stripeGC__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invoice.updated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.stripeGC__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invoice.paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice</targetReference>
            </connector>
            <label>Invoice Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B RTF on Stripe Event Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B RTF on Stripe Event Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Is_Live_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Determine_the_Type_of_Event</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <flowName>B2B_Subflow_Stripe_Event_Invoice_Created</flowName>
        <inputAssignments>
            <name>varStripeEventRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <flowName>B2B_Subflow_Stripe_Event_Invoice_Updated</flowName>
        <inputAssignments>
            <name>varStripeEventRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
