force-app/main/default/flows/Cancel_PLMA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add</name>
        <label>Add Admin Buyer Membership Record To Collection</label>
        <locationX>490</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>newBuyerGroupMember.BuyerGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0ZIcX0000000xzNWAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBuyerGroupMember.BuyerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Admin_Accounts_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Admin_Accounts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Admin_Buy_Group_Memberships_To_Collection</name>
        <label>Add Admin Buy Group Memberships To Collection</label>
        <locationX>490</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>newBuyerGroupMember.BuyerGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0ZIcX0000000xzNWAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBuyerGroupMember.BuyerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Admin_Accounts_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Associated_Members_To_Buy_Group</name>
        <label>Add Associated Members To Buy Group</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>newBuyerGroupMember.BuyerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ILMA_record.Account_Id__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBuyerGroupMember.BuyerGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancelled_Practice_Facility_Buyer_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Buyer_Group_Member_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Buyer_Group_Member_To_Collectionnment</name>
        <label>Add Buyer Group Member To Collection</label>
        <locationX>138</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Buyer_Group_Member_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newBuyerGroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_ILMAs_Assign_Buyer_Group_to_Admins</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Buyer_Group_Member_Record_To_Collection</name>
        <label>Add New Buyer Group Member Record To Collection</label>
        <locationX>490</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Buyer_Group_Member_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newBuyerGroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ILMA_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Buyer_Group_Member_Variable</name>
        <label>Clear Buyer Group Member Variable</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>newBuyerGroupMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyBuyerMemberGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Associated_Members_To_Buy_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Clear_Buyer_Group_Member_Variable</name>
        <label>Copy 1 of Clear Buyer Group Member Variable</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>newBuyerGroupMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyBuyerMemberGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newBuyerGroupMember_add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Clear_Buyer_Group_Member_Variable</name>
        <label>Copy 1 of Copy 1 of Clear Buyer Group Member Variable</label>
        <locationX>490</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>newBuyerGroupMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyBuyerMemberGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Admin_Buy_Group_Memberships_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newBuyerGroupMember_add</name>
        <label>newBuyerGroupMember Add</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>newBuyerGroupMember.BuyerGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancelled_Practice_Facility_Buyer_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBuyerGroupMember.BuyerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_ILMAs_Assign_Buyer_Group_to_Admins.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Buyer_Group_Member_To_Collectionnment</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_if_there_are_ILMAs_associated</name>
        <label>Check if there are ILMAs associated</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>ILMA_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_ILMAs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ILMAs_attached_to_the_PLMA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_ILMAs_Get_PLMA</targetReference>
            </connector>
            <label>No ILMAs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cancel PLMA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel PLMA</label>
    <loops>
        <name>Admin_Accounts_Loop</name>
        <label>Admin Accounts Loop</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <collectionReference>Admin_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Copy_1_of_Clear_Buyer_Group_Member_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_New_Buyer_Group_Member_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ILMA_record</name>
        <label>ILMA record</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <collectionReference>ILMAs_attached_to_the_PLMA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_Buyer_Group_Member_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PLMA_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>No_ILMAs_Assign_Buyer_Group_to_Admins</name>
        <label>No ILMAs Assign Buyer Group to Admins</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>No_ILMAs_Get_Admin_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Clear_Buyer_Group_Member_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>No_ILMAs_Assign_Admins_To_Buyer_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_New_Buyer_Group_Member_Records</name>
        <label>Insert New Buyer Group Member Records</label>
        <locationX>402</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Update_Checkbox_To_True</targetReference>
        </connector>
        <inputReference>Buyer_Group_Member_Records</inputReference>
    </recordCreates>
    <recordCreates>
        <name>No_ILMAs_Assign_Admins_To_Buyer_Group</name>
        <label>No ILMAs Assign Admins To Buyer Group</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Updated_Cancelled_Checkbox_To_True</targetReference>
        </connector>
        <inputReference>Buyer_Group_Member_Records</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Admin_Accounts</name>
        <label>Admin Accounts</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Admin_Accounts_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PLMA_Record.Business_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Admin_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Cancelled_Practice_Facility_Buyer_Group</name>
        <label>Cancelled Practice Facility Buyer Group</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ILMAs_attached_to_the_PLMA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled Practice Facility</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuyerGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Current_Buyer_Group_Member_Records</name>
        <label>Current Buyer Group Member Records</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancelled_Practice_Facility_Buyer_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cancelled_Practice_Facility_Buyer_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BuyerGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ILMAs_attached_to_the_PLMA</name>
        <label>ILMAs attached to the PLMA</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_ILMAs_associated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Practice_Level_Membership_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>No_ILMAs_Get_Admin_Accounts</name>
        <label>No ILMAs Get Admin Accounts</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_ILMAs_Assign_Buyer_Group_to_Admins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>No_ILMAs_Get_PLMA.Business_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Admin_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>No_ILMAs_Get_PLMA</name>
        <label>No ILMAs Get PLMA</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_ILMAs_Get_Admin_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Practice_Level_Membership_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PLMA_Record</name>
        <label>PLMA Record</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Admin_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Practice_Level_Membership_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checkbox_To_True</name>
        <label>Update Checkbox To True</label>
        <locationX>402</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PLMA_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_PLMA__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Practice_Level_Membership_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Cancelled_Checkbox_To_True</name>
        <label>Updated Cancelled Checkbox To True</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Copy_1_of_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>No_ILMAs_Get_PLMA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_PLMA__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Practice_Level_Membership_Assignment__c</object>
    </recordUpdates>
    <screens>
        <name>Are_you_sure_you_want_to_cancel_this_PLMA</name>
        <label>Are you sure you want to cancel this PLMA?</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Current_Buyer_Group_Member_Records</targetReference>
        </connector>
        <fields>
            <name>confirm_cancellation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 10, 10);&quot;&gt;Are you sure you want to cancel this PLMA?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm Cancellation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This will cancel the PLMA membership after expiration and assign the Cancelled Practice Facility buyer group to all members for vet renewal pricing</description>
        <name>Cancel_PLMA</name>
        <label>Cancel PLMA</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_you_sure_you_want_to_cancel_this_PLMA</targetReference>
        </connector>
        <fields>
            <name>cancel_description_text</name>
            <fieldText>&lt;p&gt;This will cancel the PLMA membership after expiration and assign the Cancelled Practice Facility buyer group to all members for vet renewal pricing&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel Membership</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Success</name>
        <label>Copy 1 of Success</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Success_Message</name>
            <fieldText>&lt;p&gt;The PLMA has been successfully cancelled. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>402</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;The PLMA has been successfully cancelled. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cancel_PLMA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Buyer_Group_Member_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BuyerGroupMember</objectType>
    </variables>
    <variables>
        <name>emptyBuyerMemberGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BuyerGroupMember</objectType>
    </variables>
    <variables>
        <name>existingBuyerMembershipCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BuyerGroupMember</objectType>
    </variables>
    <variables>
        <name>ILMAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>newBuyerGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BuyerGroupMember</objectType>
    </variables>
    <variables>
        <description>PLMA record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
