force-app/main/default/flows/Case_Email_Alert_for_Case_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Marketing_Email_Alert</name>
        <label>Marketing Email Alert</label>
        <locationX>163</locationX>
        <locationY>362</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>var_MarketingEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A new case was assigned to the Marketing queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>New_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>National_Accounts_Email_Alert</name>
        <label>National Accounts Email Alert</label>
        <locationX>164</locationX>
        <locationY>488</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>asmith@fearfree.com, ngruchow@fearfree.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@fearfreepets.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A new case was added to the National Accounts queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>New_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Queue_Type</name>
        <label>Queue Type</label>
        <locationX>525</locationX>
        <locationY>403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marketing_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00GHs000004ewgqMAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_Email_Alert</targetReference>
            </connector>
            <label>Marketing Queue</label>
        </rules>
        <rules>
            <name>National_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00GHs000004ewhIMAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>National_Accounts_Email_Alert</targetReference>
            </connector>
            <label>National Accounts Queue</label>
        </rules>
        <rules>
            <name>PC_Cases_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00GHs000004eu4xMAA</stringValue>
                </rightValue>
            </conditions>
            <label>PC Cases Queue</label>
        </rules>
        <rules>
            <name>Sales_Cases_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00GHs000006NBLnMAO</stringValue>
                </rightValue>
            </conditions>
            <label>Sales Cases Queue</label>
        </rules>
        <rules>
            <name>Spam_Cases_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00GHs000006M1gNMAS</stringValue>
                </rightValue>
            </conditions>
            <label>Spam Cases Queue</label>
        </rules>
        <rules>
            <name>Wags_Cases_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00GHs000004SLBVMA4</stringValue>
                </rightValue>
            </conditions>
            <label>Wags Cases Queue</label>
        </rules>
    </decisions>
    <description>This flow triggers an email alert when a case is assigned to a queue. https://basecamp.com/2583453/projects/19269730/todos/489007896</description>
    <environments>Default</environments>
    <interviewLabel>Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Email Alert for Case Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>336</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Queue_Type</targetReference>
        </connector>
        <filterFormula>ISNEW() = TRUE || (ISCHANGED({!$Record.OwnerId}) = TRUE &amp;&amp; BEGINS({!$Record.OwnerId}, &apos;00G&apos;) = TRUE)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>New_Case</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new case has been added to the {!$Record.Owner:Group.Name} Queue. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link: https://fearfreepets.lightning.force.com/lightning/r/Case/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>stacy.cruz@fearfreepets.com AND natalie.gruchow@fearfreepets.com</description>
        <name>NationalAccountsEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MarketingEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>avalpy@fearfree.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_NationalAccountsEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>stacy.cruz@fearfreepets.com, natalie.gruchow@fearfreepets.com</stringValue>
        </value>
    </variables>
</Flow>
