force-app/main/default/flows/Change_Lead_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Consolidator_Buying_Group_Lead</name>
        <choiceText>Consolidator/Buying Group Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consolidator/Buying Group Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual_Membership_Lead</name>
        <choiceText>Individual Membership Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Membership Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>PC_Lead</name>
        <choiceText>PC Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PC Lead</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_the_selected_record_type</name>
        <label>Check the selected record type</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consolidator_Buying_Group_Lead_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_record_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Consolidator_Buying_Group_Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record_type_consolidator</targetReference>
            </connector>
            <label>Consolidator/Buying Group Lead</label>
        </rules>
        <rules>
            <name>Individual_Membership_Lead_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_record_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Individual_Membership_Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record_type_Individual</targetReference>
            </connector>
            <label>Individual Membership Lead</label>
        </rules>
        <rules>
            <name>PC_Lead_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_record_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PC_Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record_type_pc</targetReference>
            </connector>
            <label>PC Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Change Lead Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Lead Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_record_type_consolidator</name>
        <label>Update record type consolidator</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012TR000000KCRdYAO</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_type_Individual</name>
        <label>Update record type Individual</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012TR000000KCMnYAO</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_type_pc</name>
        <label>Update record type pc</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012TR000000KCOPYA4</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Change_Record_Type</name>
        <label>Change Record Type</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_the_selected_record_type</targetReference>
        </connector>
        <fields>
            <name>Choose_record_type</name>
            <choiceReferences>Consolidator_Buying_Group_Lead</choiceReferences>
            <choiceReferences>Individual_Membership_Lead</choiceReferences>
            <choiceReferences>PC_Lead</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose record type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Change</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Change_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record_type_choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Choose_record_type</elementReference>
        </value>
    </variables>
</Flow>
