force-app/main/default/flows/Data_Table_My_CE_Courses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Mark_as_Completed</name>
        <label>Mark as Completed</label>
        <locationX>978</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>var_Has_Completed_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_Completed_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Enrollments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Completed_Courses</name>
        <label>Has Completed Courses?</label>
        <locationX>971</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Enrollments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Completed_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Enrollments.SX_Completed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_as_Completed</targetReference>
            </connector>
            <label>Has Completed Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Data Table - My CE Courses {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Data Table - My CE Courses</label>
    <loops>
        <name>Loop_Through_Enrollments</name>
        <label>Loop Through Enrollments</label>
        <locationX>683</locationX>
        <locationY>460</locationY>
        <collectionReference>Get_My_Enrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Completed_Courses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Enrollments_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_My_Enrollments</name>
        <label>Get My Enrollments</label>
        <locationX>537</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SX_User_ID_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Account.SX_User_Id__pc</elementReference>
            </value>
        </filters>
        <filters>
            <field>CE_Credits__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SX_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>538</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SX_User_LMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SX_User_LMS</name>
        <label>Get SX User LMS</label>
        <locationX>537</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_My_Enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SX_User_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Account.SX_User_Id__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SX_LMS_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Show_Enrollments_Table</name>
        <label>Show Enrollments Table</label>
        <locationX>682</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Show_Enrollments_Table_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Enrollments_Table_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RedirectTo</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://fearfreepets--partial.sandbox.my.site.com/store/my-certificates&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;Access Education Portal&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_Completed_Date</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CEdatatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SX_Enrollment__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>SX_Enrollment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_My_Enrollments</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Student_Name__c,SX_Course_Name__c,CE_Credits__c,SX_percent_Completed__c,Course_Status__c,SX_Completed_Date__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Student_Name__c:0, SX_Course_Name__c:0, CE_Credits__c:0, SX_percent_Completed__c:0, Course_Status__c:0, SX_Completed_Date__c:0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowOverflow</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowOverflow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFlexes</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Show_Enrollments_Table_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Enrollments_Table_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TextAlert</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif;&quot;&gt;You have not yet completed any Fear Free CE. &lt;/strong&gt;&lt;a href=&quot;https://fearfreepets--partial.sandbox.my.site.com/store/my-learning&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif;&quot;&gt;&lt;strong&gt;Click here&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif;&quot;&gt; to go to the Fear Free Education Portal to start your learning!&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_Completed_Date</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>411</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Person_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Has_Completed_Date</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
