force-app/main/default/flows/Email_15_Days_To_Membership_Expiration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Enhanced_15_Day_Expiration_Email</name>
        <label>Send Enhanced 15 Day Expiration Email</label>
        <locationX>264</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Expiration_Reminder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>Account_Membership__r.Purchaser_Account__r.PersonContactId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>get_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Expiration_Reminder</name>
        <label>Send Expiration Reminder</label>
        <locationX>264</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Expiring_Memberships</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Membership is Expiring Soon</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hi {!Loop_Through_Expiring_Memberships.Purchaser_Account__r.FirstName}, Your {!Loop_Through_Expiring_Memberships.Membership__r.Name} is set to expire on {!Loop_Through_Expiring_Memberships.Expiration_Date__c}.  Please take a moment to renew and continue enjoying your benefits.  Thanks, The Fear Free Team</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Person_Email_to_Collection</name>
        <label>Add Person Email to Collection</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Expiring_Memberships.Purchaser_Account__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Debug_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Email</name>
        <label>Assign Debug Email</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>DebugEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Expiring_Memberships.Parent_Id__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Debug_Email_Too</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Email_Too</name>
        <label>Assign Debug Email Too</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>DebugEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DebugEmail = {!Loop_Through_Expiring_Memberships.Purchaser_Account__r.PersonEmail}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Person_Account_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Find_Person_Account_ID</name>
        <label>Find Person Account ID</label>
        <locationX>264</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>DebugEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Expiring_Memberships.Purchaser_Account__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Enhanced_15_Day_Expiration_Email</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>targetDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 15</expression>
    </formulas>
    <interviewLabel>Email 15 Days To Membership Expiration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email 15 Days To Membership Expiration</label>
    <loops>
        <name>Loop_Through_Expiring_Memberships</name>
        <label>Loop Through Expiring Memberships</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Expiring_Memberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Person_Email_to_Collection</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_EmailTemplate</name>
        <label>get_EmailTemplate</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Expiring_Memberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>yet_another_test_1747256855675</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Expiring_Memberships</name>
        <label>Get Expiring Memberships</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Expiring_Memberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>targetDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_EmailTemplate</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-13</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DebugEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
