force-app/main/default/flows/FF_RTF_Update_from_address_to_match_case_origin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>What_is_the_origin</name>
        <label>What is the origin</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Origin_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_From_Address</targetReference>
            </connector>
            <label>Origin: Sales</label>
        </rules>
        <rules>
            <name>Origin_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_From_Address</targetReference>
            </connector>
            <label>Origin: Marketing</label>
        </rules>
        <rules>
            <name>Origin_PC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Practice Cert Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_From_Address</targetReference>
            </connector>
            <label>Origin: PC</label>
        </rules>
        <rules>
            <name>Origin_Corporate_Accts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_From_Address</targetReference>
            </connector>
            <label>Origin: Corporate Accts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FF-RTF Update from address to match case origin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FF-RTF Update from address to match case origin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_the_origin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_From_Address</name>
        <label>friendsof@fearfree.com</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>friendsof@fearfree.com</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_From_Address</name>
        <label>marketing@fearfree.com</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>marketing@fearfree.com</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_From_Address</name>
        <label>certifyme@fearfree.com</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>certifyme@fearfree.com</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_From_Address</name>
        <label>practicecertification@fearfree.com</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>practicecertification@fearfree.com</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
