force-app/main/default/flows/FF_RTF_Cancel_PLMA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_New_ILMA_To_Collection</name>
        <label>Add New ILMA To Collection</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>vet_pro_memberships_to_create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>new_vet_ILMA_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Empty_Assignment</name>
        <label>Create Empty Assignment</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyIndividualMembershipAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_new_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_new_assignment</name>
        <label>create_new_assignment</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a04cX00000067TRQAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Parent_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Parent_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Purchaser_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Purchaser_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Renewable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Account_Assignment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Expired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Certified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Certified__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Related_Course_Completion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Related_Course_Completion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Welcome_Kit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Welcome_Kit_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_vet_ILMA_record.Certification_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Certification_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_ILMA_To_Collection</targetReference>
        </connector>
    </assignments>
    <description>Adds expired vet pro ILMAs to members associated with the PLMA</description>
    <environments>Default</environments>
    <interviewLabel>FF-RTF-Cancel PLMA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FF-RTF-Cancel PLMA</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>AssociatedILMAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Empty_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ILMAs_in_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ILMAs_in_Collection</name>
        <label>Create ILMAs in Collection</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputReference>vet_pro_memberships_to_create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AssociatedILMAs</name>
        <label>AssociatedILMAs</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Practice_Level_Membership_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssociatedILMAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cancel_PLMA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Practice_Level_Membership_Assignment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emptyIndividualMembershipAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>new_vet_ILMA_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>vet_pro_memberships_to_create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
