force-app/main/default/flows/FF_Subflow_Retain_cert_status_when_membership_does_not_match_but_has_related_cer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Certified_ILMA_fields</name>
        <label>Update Certified ILMA fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Certified_ILMA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_renewed_membership_field</name>
        <label>Update renewed membership field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Renewed_Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Triggered_ILMA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Renewed_ILMAs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_2</name>
        <label>Find Certified ILMA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_it_certified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Certified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Certified_ILMA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Certified_ILMA_fields</targetReference>
            </connector>
            <label>Is it certified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Matching_Previous_ILMAs</name>
        <label>Is There a Matching Previously Certified ILMA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_ILMA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Certified_ILMA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cert_Status_and_Date</targetReference>
            </connector>
            <label>Previous ILMAs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_previously_renewed_ILMA</name>
        <label>Is there a previously renewed ILMA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Renewed_Membership__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_renewed_membership_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FF - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FF - Subflow - Retain cert status and update renewed membership field when membership does not match but has related cert course</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop Previous ILMAs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Previous_ILMAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_there_a_previously_renewed_ILMA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Renewed_Membership_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Previous_ILMAs</name>
        <label>Previous_ILMAs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Triggered_ILMA.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a04cX00000067TRQAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a04TR00000GtVQJYA3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a04TR00000GtVQKYA3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a04TR00000GtVQCYA3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a04TR00000Ig6rWYAR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a04cX00000067TXQAY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <sortField>Certification_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cert_Status_and_Date</name>
        <label>Update Cert Status and Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Triggered_ILMA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certification_Date__c</field>
            <value>
                <elementReference>Certified_ILMA.Certification_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Membership__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewed_Membership_Fields</name>
        <label>Update Renewed Membership Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_There_a_Matching_Previous_ILMAs</targetReference>
        </connector>
        <inputReference>Renewed_ILMAs</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Previous_ILMAs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Certified_ILMA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>Renewed_ILMAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>Triggered_ILMA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
