force-app/main/default/flows/Manage_My_Team_Create_IMA_Records_for_New_Person_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This assignment element stores the PLMA records in the Variables</description>
        <name>Assign_Loop</name>
        <label>Assign_LoopItems</label>
        <locationX>296</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>var_MembershipRecord.Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MembershipRecord.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PLMA_Records.Membership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MembershipRecord.Purchaser_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PLMA_Records.Business_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MembershipRecord.Welcome_Kit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PLMA_Records.Welcome_Kit_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMA_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_MembershipRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PLMA_Records</targetReference>
        </connector>
    </assignments>
    <description>Automates the creation of Individual Membership Assignment (IMA) records when a new Person Account is assigned to a business that contains Practice Level Membership Assignment (PLMA) records. This ensures that multiple IMAs are created for the new Person Account if the business has multiple PLMA records. https://basecamp.com/2583453/projects/19269730/todos/497808013

Version 5 - Updated to simplify logic.</description>
    <environments>Default</environments>
    <interviewLabel>Create IMA Records for New Person Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage My Team - Create IMA Records for New Person Account</label>
    <loops>
        <description>Iterates through each PLMA record retrieved.</description>
        <name>Loop_PLMA_Records</name>
        <label>Loop_PLMA_Records</label>
        <locationX>533</locationX>
        <locationY>584</locationY>
        <collectionReference>Get_PLMA_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_IMA_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the records for the Person Accounts</description>
        <name>Create_IMA_Records</name>
        <label>Create_IMA_Records</label>
        <locationX>760</locationX>
        <locationY>576</locationY>
        <inputReference>IMA_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Retrieves PLMA records associated with the Business Account.</description>
        <name>Get_PLMA_Records</name>
        <label>Get_PLMA_Records</label>
        <locationX>533</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PLMA_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Practice_Level_Membership_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>409</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_PLMA_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IMA_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>var_MembershipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
