force-app/main/default/flows/Manage_My_Team_Daily_PLMA_Status_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign_Status</label>
        <locationX>340</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>var_IMAIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ima.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ima</targetReference>
        </connector>
    </assignments>
    <description>This flow updates the status of Practice Level Membership Assignment to &quot;Canceled&quot; if their Expiration Date is today. https://basecamp.com/2583453/projects/19269730/todos/498163320</description>
    <environments>Default</environments>
    <interviewLabel>Manage My Team - Daily L Status Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage My Team - Daily PLMA Status Update Flow</label>
    <loops>
        <name>Loop_Ima</name>
        <label>Loop_Ima</label>
        <locationX>534</locationX>
        <locationY>686</locationY>
        <collectionReference>Get_IMA_Related_to_PLMA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_IMA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_IMA_Related_to_PLMA</name>
        <label>Get_IMA_Related_to_PLMA</label>
        <locationX>534</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Ima</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Practice_Level_Membership_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_IMA</name>
        <label>Update_IMA</label>
        <locationX>728</locationX>
        <locationY>685</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_IMAIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PLMA_Status</name>
        <label>Update_PLMA_Status</label>
        <locationX>534</locationX>
        <locationY>327</locationY>
        <connector>
            <targetReference>Get_IMA_Related_to_PLMA</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_PLMA_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Practice_Level_Membership_Assignment__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-05</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_IMAIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
