force-app/main/default/flows/Manage_My_Team_Create_IMA_Records_from_PLMA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This assignment element stores the PLMA records in the Variables</description>
        <name>Assign_LoopItems</name>
        <label>Assign_LoopItems</label>
        <locationX>268</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>Var_Memberships.Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_TroughMembers.PersonContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Memberships.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Membership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Memberships.Purchaser_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Memberships.Welcome_Kit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Welcome_Kit_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountMembershipCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_Memberships</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Memberships.Practice_Level_Membership_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_TroughMembers</targetReference>
        </connector>
    </assignments>
    <description>Automates the creation of Individual Membership Assignment (IMA) records when a Practice Level Membership Assignment (PLMA) record is created. The flow identifies Person Accounts associated with the Assigned Business Account from the PLMA record and creates corresponding IMA records. This reduces manual work and ensures consistency in data management.
- https://basecamp.com/2583453/projects/19269730/todos/497807886

- V4 updates on the logic to only assignment instead of 3</description>
    <environments>Default</environments>
    <interviewLabel>Manage My Team - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage My Team - Create IMA Records from PLMA</label>
    <loops>
        <description>Iterates through each Person Account retrieved.</description>
        <name>Loop_TroughMembers</name>
        <label>Loop_TroughMembers</label>
        <locationX>530</locationX>
        <locationY>648</locationY>
        <collectionReference>Get_all_the_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_LoopItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_the_Individual_Membership_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_the_Individual_Membership_Assignment</name>
        <label>Create the Individual Membership Assignment</label>
        <locationX>739</locationX>
        <locationY>650</locationY>
        <inputReference>AccountMembershipCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Retrieves Person Accounts associated with the Assigned Business Account from the PLMA record.</description>
        <name>Get_all_the_Members</name>
        <label>Get all the Members</label>
        <locationX>531</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_TroughMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Business_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Account</name>
        <label>Get Business Account</label>
        <locationX>535</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_the_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Business_Account</targetReference>
        </connector>
        <object>Practice_Level_Membership_Assignment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountMembershipCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>AccountMembershipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>Var_Memberships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
