force-app/main/default/flows/Manage_My_Team_Grand_or_Revoke_team_admin_profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_MemberIds</name>
        <label>Add_MemberIds</label>
        <locationX>747</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>Var_MemberAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Team_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountId</name>
        <label>Assign_AccountId</label>
        <locationX>1433</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>varCol_TextSelectedNonAdminsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ThroughSelected_NonAdmins.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ThroughSelected_NonAdmins</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountId_0</name>
        <label>Assign_AccountId</label>
        <locationX>1601</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>var_NumSelectedAdmins</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_TextSelectedAdminsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ThroughSelected_Admins.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ThroughSelected_Admins</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NumTotalAdmins</name>
        <label>assign_NumTotalAdmins</label>
        <locationX>1038</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>var_NumAdmins</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Admin_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectAdminUser</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Grant0</name>
        <choiceText>Grant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>grant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Revoke</name>
        <choiceText>Revoke</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revoke</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>dec_CheckBusiness</name>
        <label>dec_CheckBusiness</label>
        <locationX>236</locationX>
        <locationY>302</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PersonAccount.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Team_Members</targetReference>
            </connector>
            <label>Has Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_SelectedAllAdmins</name>
        <label>dec_SelectedAllAdmins</label>
        <locationX>1356</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>update_RevokeTeamAdmin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_All_Admins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumAdmins</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_NumSelectedAdmins</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen</targetReference>
            </connector>
            <label>Selected All Admins</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grant_Or_Remove</name>
        <label>Grant_Or_Remove</label>
        <locationX>827</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Grant2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_remove_or_grant_an_admin_profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Grant0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_NonAdminUsers</targetReference>
            </connector>
            <label>Grant</label>
        </rules>
        <rules>
            <name>Remove2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_remove_or_grant_an_admin_profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Revoke</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Admin_Users</targetReference>
            </connector>
            <label>Revoke</label>
        </rules>
    </decisions>
    <description>This screen flow allows the Team Admins to either grant or revoke the Team Admin Profile to the members within their team. https://basecamp.com/2583453/projects/19269730/todos/498360618</description>
    <environments>Default</environments>
    <interviewLabel>Manage My Team - Grand or Revoke team admin profile {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Manage My Team - Grant or Revoke team admin profile</label>
    <loops>
        <name>Loop_Through_Team_Members</name>
        <label>Loop_Through_Team_Members</label>
        <locationX>463</locationX>
        <locationY>380</locationY>
        <collectionReference>Get_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_MemberIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_or_Grant_admin_profile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ThroughSelected_Admins</name>
        <label>Loop_ThroughSelected_Admins</label>
        <locationX>1371</locationX>
        <locationY>789</locationY>
        <collectionReference>datatable_AdminUsers.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_AccountId_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_SelectedAllAdmins</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ThroughSelected_NonAdmins</name>
        <label>Loop_ThroughSelected_NonAdmins</label>
        <locationX>1227</locationX>
        <locationY>404</locationY>
        <collectionReference>datatable_SelectNonAdminUsers.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_AccountId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_SetTeamAdmin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Admin_Profile</name>
        <label>Get_Admin_Profile</label>
        <locationX>323</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Community_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fear Free Team Admin Community Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Admin_Users</name>
        <label>Get_Admin_Users</label>
        <locationX>916</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_NumTotalAdmins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Var_MemberAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Admin_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Community_Profile</name>
        <label>Get_Community_Profile</label>
        <locationX>464</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fear Free Community Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NonAdminUsers</name>
        <label>get_NonAdminUsers</label>
        <locationX>917</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectCommunityUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Var_MemberAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Admin_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount</name>
        <label>Get_PersonAccount</label>
        <locationX>324</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckBusiness</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Admin</name>
        <label>Get_Team_Admin</label>
        <locationX>535</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Members</name>
        <label>Get_Team_Members</label>
        <locationX>324</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admin_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_RevokeTeamAdmin</name>
        <label>update_RevokeTeamAdmin</label>
        <locationX>1641</locationX>
        <locationY>645</locationY>
        <connector>
            <targetReference>Success_Screen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varCol_TextSelectedAdminsForUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SetTeamAdmin</name>
        <label>update_SetTeamAdmin</label>
        <locationX>1230</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varCol_TextSelectedNonAdminsForUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Remove_or_Grant_admin_profile</name>
        <label>Remove or Grant admin profile</label>
        <locationX>622</locationX>
        <locationY>573</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Grant_Or_Remove</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_remove_or_grant_an_admin_profile</name>
            <choiceReferences>Grant0</choiceReferences>
            <choiceReferences>Revoke</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to revoke or grant an admin profile?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectAdminUser</name>
        <label>SelectAdminUser</label>
        <locationX>1161</locationX>
        <locationY>789</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_ThroughSelected_Admins</targetReference>
        </connector>
        <fields>
            <name>text1_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select the member for whom you would like to make changes&lt;/strong&gt;:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>datatable_AdminUsers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Admin_Account__c,PersonEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:535, Admin_Account__c:267, PersonEmail:267</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Admin_Users</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectCommunityUser</name>
        <label>SelectCommunityUser</label>
        <locationX>1066</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_ThroughSelected_NonAdmins</targetReference>
        </connector>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please select the members you would like to make Team Admins.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>datatable_SelectNonAdminUsers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,PersonEmail,Admin_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:0, PersonEmail:0, Admin_Account__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_NonAdminUsers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1482</locationX>
        <locationY>231</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;🎉 &lt;strong style=&quot;color: rgb(46, 67, 255);&quot;&gt;Congratulations!&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Your changes have been applied. Please refresh your screen to see them.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_0</name>
        <label>Success Screen</label>
        <locationX>1775</locationX>
        <locationY>536</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;🎉 &lt;strong style=&quot;color: rgb(46, 67, 255);&quot;&gt;Congratulations!&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Your changes have been applied. Please refresh your screen to see them.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning_Screen</label>
        <locationX>1169</locationX>
        <locationY>618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Warning_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 5, 5);&quot;&gt;You cannot remove all admins from a team. You need to leave at least one as an admin. Select &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;PREVIOUS&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 5, 5);&quot;&gt; to return to the original screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Team_Admin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MemberUserId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AdminIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_MemberAccountId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NumAdmins</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NumSelectedAdmins</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_selectedMemberIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SelectedNonAdminIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_NonAdminsForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCol_SelectedAdminsForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCol_TextSelectedAdminsForUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_TextSelectedNonAdminsForUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
