force-app/main/default/flows/Member_Accept_or_Deny_Team_Invitation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Existing_Team_Member_Accept</name>
        <label>Existing Team Member Accepts</label>
        <locationX>872</locationX>
        <locationY>394</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Team_Admin.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@fearfreepets.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Get_Member_Record.FirstName}  has been added to your Fear Free team!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MemberAcceps</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Existing_Team_Member_deny</name>
        <label>Existing Team Member Deny</label>
        <locationX>103</locationX>
        <locationY>403</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Team_Admin.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@fearfreepets.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Get_Member_Record.FirstName} has denied your team invitation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MemberDeny</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Accept</name>
        <choiceText>Accept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accept</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deny</name>
        <choiceText>Deny</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deny</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_User_Choice</name>
        <label>Check User Choice</label>
        <locationX>459</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_accept_or_deny_the_invitation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Accept</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Business_Field</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_accept_or_deny_the_invitation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deny</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Fields</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckIfInvite</name>
        <label>dec_CheckIfInvite</label>
        <locationX>599</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>screen_refresh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Invite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Record.PersonContact.Pending_Invite__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_or_Deny_Invitation</targetReference>
            </connector>
            <label>Pending Invite</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Member - Accept or Deny Team Invitation {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Member - Accept or Deny Team Invitation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Business_Name</name>
        <label>Get_Business_Name</label>
        <locationX>466</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckIfInvite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Record.Pending_Business__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_Record</name>
        <label>Get Member Record</label>
        <locationX>455</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Team_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Admin</name>
        <label>Get Team Admin</label>
        <locationX>463</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Record.Pending_Business_Admin_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Fields</name>
        <label>Clear Fields</label>
        <locationX>252</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>Confirmation_Screen_Denied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pending_Business_Admin_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Business__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Business_Field</name>
        <label>Update Business Field</label>
        <locationX>673</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>Confirmation_Screen_Accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <elementReference>Get_Member_Record.Pending_Business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Business_Admin_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Business__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Accept_or_Deny_Invitation</name>
        <label>Accept or Deny Invitation</label>
        <locationX>467</locationX>
        <locationY>525</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_User_Choice</targetReference>
        </connector>
        <fields>
            <name>acceptDenyChoice</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You have been invited to join &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Business_Name.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_accept_or_deny_the_invitation</name>
            <choiceReferences>Accept</choiceReferences>
            <choiceReferences>Deny</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you accept or deny the invitation?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_Accepted</name>
        <label>Confirmation Screen Accepted</label>
        <locationX>872</locationX>
        <locationY>550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_Team_Member_Accept</targetReference>
        </connector>
        <fields>
            <name>AcceptScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You have successfully joined the team at &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Business_Name.Name}&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Confirmation &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Screen Accepted&lt;/strong&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_Denied</name>
        <label>Confirmation Screen Denied</label>
        <locationX>104</locationX>
        <locationY>543</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_Team_Member_deny</targetReference>
        </connector>
        <fields>
            <name>DenyScree</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You have declined the invitation to join the team at &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Business_Name.Name}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_refresh</name>
        <label>screen_refresh</label>
        <locationX>687</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_refresh</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You have already been added to the team.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please close this window and refresh the page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>328</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Member_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MemberAcceps</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Hello {!Get_Team_Admin.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;We wanted to notify you that {!Get_Member_Record.FirstName} has accepted your request and has been added to your Fear Free team, &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!Get_Business_Name.Name}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0); font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif;&quot;&gt;. If this is correct and expected, there’s nothing more you need to do! If you feel this member has been added to the team in error, please respond to this email so we can get it sorted out.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Wags and Purrs,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;The Fear Free Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MemberDeny</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Hello {!Get_Team_Admin.FirstName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;We wanted to notify you that {!Get_Member_Record.FirstName} has denied your request to join your Fear Free team, {!Get_Business_Name.Name}. Please ensure you have the correct email address and discuss with the member what you are trying to do and why. It is up to each individual member to approve or deny associations with team accounts. Don&apos;t hesitate to reach out if you have any questions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Wags and Purrs,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;The Fear Free Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectAccept</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_Member_Record.PersonEmail}  has been added to your Fear Free team!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectDeny</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Member_Record.FirstName} has denied your team invitation&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
