force-app/main/default/flows/My_Account_My_Expired_Memberships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_ActiveMembershipAssignments</name>
        <label>assign_ActiveMembershipAssignments</label>
        <locationX>239</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>varCol_FurthestActiveMembership</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>colFilter_ActiveMembership</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ActiveMemberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CombineExpiredMemberships</name>
        <label>assign_CombineExpiredMemberships</label>
        <locationX>770</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>varCol_AllMembershipsCombined</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCol_RecentlyExpiredMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>My_Memberships1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CombineMemberships</name>
        <label>assign_CombineMemberships</label>
        <locationX>659</locationX>
        <locationY>1088</locationY>
        <assignmentItems>
            <assignToReference>varCol_AllMembershipsCombined</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCol_FurthestActiveMembership</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_CheckIfExpiredNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MostRecentExpiredMembership</name>
        <label>assign_MostRecentExpiredMembership</label>
        <locationX>450</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>varCol_RecentlyExpiredMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>colFilter_MatchMembershipAssignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AllMembershipTypes</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>colFilter_ActiveMembership</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>colFilter_ActiveMembership</label>
        <locationX>101</locationX>
        <locationY>393</locationY>
        <assignNextValueToReference>currentItem_colFilter_ActiveMembership</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_ActiveMembershipAssignment</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_colFilter_ActiveMembership.Membership__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_ActiveMemberships.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>colSort_FurthestMembership</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>colFilter_MatchMembershipAssignments</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>colFilter_MatchMembershipAssignments</label>
        <locationX>275</locationX>
        <locationY>1017</locationY>
        <assignNextValueToReference>currentItem_colFilter_MatchMembershipAssignments</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Expired_Memberships</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_colFilter_MatchMembershipAssignments.Membership__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_AllMembershipTypes.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>colSort_MostRecentAssignment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>colSort_FurthestMembership</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>colSort_FurthestMembership</label>
        <locationX>50</locationX>
        <locationY>561</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>colFilter_ActiveMembership</collectionReference>
        <connector>
            <targetReference>assign_ActiveMembershipAssignments</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Expiration_Date__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>colSort_MostRecentAssignment</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>colSort_MostRecentAssignment</label>
        <locationX>509</locationX>
        <locationY>1023</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>colFilter_MatchMembershipAssignments</collectionReference>
        <connector>
            <targetReference>assign_MostRecentExpiredMembership</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Account_Assignment_Date__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>dec_ButtonSelected</name>
        <label>dec_ButtonSelected</label>
        <locationX>883</locationX>
        <locationY>987</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReinstateMemberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>button_ApplyChanges.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reinstate Memberships</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>transform_AllSelectedMembershipAssignments</targetReference>
            </connector>
            <label>Reinstate Memberships</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckIfActiveNull</name>
        <label>dec_CheckIfActiveNull</label>
        <locationX>587</locationX>
        <locationY>861</locationY>
        <defaultConnector>
            <targetReference>dec_CheckIfExpiredNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCol_FurthestActiveMembership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CombineMemberships</targetReference>
            </connector>
            <label>Active Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckIfExpiredNull</name>
        <label>dec_CheckIfExpiredNull</label>
        <locationX>698</locationX>
        <locationY>785</locationY>
        <defaultConnector>
            <targetReference>My_Memberships1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expired_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCol_RecentlyExpiredMemberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CombineExpiredMemberships</targetReference>
            </connector>
            <label>Expired Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckMembershipsForReinstatement</name>
        <label>dec_CheckMembershipsForReinstatement</label>
        <locationX>947</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>screen_NoReinstatement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available_Memberships_for_Reinstatement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_MembershipsForReinstatement</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflow_Reinstatement</targetReference>
            </connector>
            <label>Available Memberships for Reinstatement</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>My Account - My Expired Memberships {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>My Account - My Memberships</label>
    <loops>
        <name>loop_ActiveMemberships</name>
        <label>loop_ActiveMemberships</label>
        <locationX>312</locationX>
        <locationY>399</locationY>
        <collectionReference>get_ActiveMemberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>colFilter_ActiveMembership</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Expired_Memberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_AllMembershipTypes</name>
        <label>loop_AllMembershipTypes</label>
        <locationX>360</locationX>
        <locationY>740</locationY>
        <collectionReference>get_AllExpiredMemberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>colFilter_MatchMembershipAssignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_CheckIfActiveNull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_ActiveMembershipAssignment</name>
        <label>get_ActiveMembershipAssignment</label>
        <locationX>878</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_ActiveMembership</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ActiveMemberships</name>
        <label>get_ActiveMemberships</label>
        <locationX>314</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_ActiveMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_ActiveMembership</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllExpiredMemberships</name>
        <label>get_AllExpiredMemberships</label>
        <locationX>465</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_AllMembershipTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMemberships</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Expired_Memberships</name>
        <label>Get_Expired_Memberships</label>
        <locationX>650</locationX>
        <locationY>512</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_AllMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>transform_ActiveMembership</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <sortField>Expiration_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_MembershipsForReinstatement</name>
        <label>get_MembershipsForReinstatement</label>
        <locationX>1122</locationX>
        <locationY>810</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckMembershipsForReinstatement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllSelectedMembershipAssignments</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Renewable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount</name>
        <label>Get_PersonAccount</label>
        <locationX>645</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ActiveMembershipAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>My_Memberships1</name>
        <label>My Memberships</label>
        <locationX>847</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dec_ButtonSelected</targetReference>
        </connector>
        <fields>
            <name>displayText_RenewText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please select the Memberships you would like to renew, then select the Renew Memberships button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>button_ApplyChanges</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Renew Memberships&quot;,&quot;value&quot;:&quot;Reinstate Memberships&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>My_Memberships</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Membership__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account_Membership__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Membership_Name__c,Status__c,Expiration_Date__c,Purchase_Account_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Membership_Name__c:486, Status__c:462, Expiration_Date__c:208, Purchase_Account_Name__c:303</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>My Memberships</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Auto_Renew__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varCol_AllMembershipsCombined</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NoReinstatement</name>
        <label>screen_NoReinstatement</label>
        <locationX>1054</locationX>
        <locationY>515</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText_NoReinstatement</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;None of the memberships you have selected are eligible for renewal. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You will need to select ones that are eligible to renew them.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Reinstatement</name>
        <label>screen_Reinstatement</label>
        <locationX>1183</locationX>
        <locationY>514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText_Reinstate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The Memberships you have selected have been added to your cart for renewal.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please &lt;/span&gt;&lt;a href=&quot;https://my.fearfree.com/cart&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;navigate to your cart&lt;/a&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to complete the process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back to Memberships</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>806</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_PersonAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>subflow_Reinstatement</name>
        <label>subflow_Reinstatement</label>
        <locationX>1219</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>screen_Reinstatement</targetReference>
        </connector>
        <flowName>B2B_Handle_Membership_Reinstatement</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>Get_PersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varILMAList</name>
            <value>
                <elementReference>get_MembershipsForReinstatement</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <transforms>
        <name>transform_ActiveMembership</name>
        <label>transform_ActiveMembership</label>
        <locationX>635</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>get_ActiveMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_ActiveMembershipAssignment[$EachItem].Membership__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllMemberships</name>
        <label>transform_AllMemberships</label>
        <locationX>589</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>get_AllExpiredMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Expired_Memberships[$EachItem].Membership__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllSelectedMembershipAssignments</name>
        <label>transform_AllSelectedMembershipAssignments</label>
        <locationX>1009</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>get_MembershipsForReinstatement</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>My_Memberships.outputSelectedRows[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_colFilter_ActiveMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>currentItem_colFilter_MatchMembershipAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_AllMembershipsCombined</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_FurthestActiveMembership</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_RecentlyExpiredMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
