force-app/main/default/flows/Person_Account_Student_Sign_Up_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Behavioral_Consultant</name>
        <choiceText>Behavioral Consultant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Behavioral Consultant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certified_Veterinary_Technician</name>
        <choiceText>Certified Veterinary Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certified Veterinary Technician</stringValue>
        </value>
    </choices>
    <choices>
        <name>College</name>
        <choiceText>College</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>College</stringValue>
        </value>
    </choices>
    <choices>
        <name>CSR</name>
        <choiceText>CSR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CSR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dog_Walker</name>
        <choiceText>Dog Walker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dog Walker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Faculty_Veterinary_Assistant_Program</name>
        <choiceText>Faculty - Veterinary Assistant Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Faculty - Veterinary Assistant Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>Faculty_Veterinary_Program</name>
        <choiceText>Faculty - Veterinary Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Faculty - Veterinary Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>Faculty_Veterinary_Technician_Program</name>
        <choiceText>Faculty - Veterinary Technician Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Faculty - Veterinary Technician Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>Groomer</name>
        <choiceText>Groomer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Groomer</stringValue>
        </value>
    </choices>
    <choices>
        <name>High_School</name>
        <choiceText>High School</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High School</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kennel_Attendant_Technician</name>
        <choiceText>Kennel Attendant/Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kennel Attendant/Technician</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Non_Veterinary</name>
        <choiceText>Other (Non-Veterinary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (Non-Veterinary)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Veterinary</name>
        <choiceText>Other (Veterinary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (Veterinary)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pet_Sitter</name>
        <choiceText>Pet Sitter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pet Sitter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Practice_Manager</name>
        <choiceText>Practice Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Practice Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Student_Veterinary</name>
        <choiceText>Student - Veterinary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Student - Veterinary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Student_Veterinary_Assistant</name>
        <choiceText>Student - Veterinary Assistant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Student - Veterinary Assistant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Student_Veterinary_Technician</name>
        <choiceText>Student - Veterinary Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Student - Veterinary Technician</stringValue>
        </value>
    </choices>
    <choices>
        <name>Support_Staff</name>
        <choiceText>Support Staff</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Staff</stringValue>
        </value>
    </choices>
    <choices>
        <name>Team_Admin</name>
        <choiceText>Team Admin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Team Admin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trainer</name>
        <choiceText>Trainer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trainer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Veterinarian</name>
        <choiceText>Veterinarian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Veterinarian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Veterinary_Assistant</name>
        <choiceText>Veterinary Assistant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Veterinary Assistant</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_If_File_Update_fill_in</name>
        <label>Check If File Update fill in</label>
        <locationX>722</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upload_File.accept</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_student_Member</targetReference>
            </connector>
            <label>Is Populated</label>
        </rules>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upload_File.accept</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Upload_Error_Screen</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <description>This flow allows students to sign up by providing their name, email, phone number, address, estimated graduation date, and upload supporting documents.</description>
    <environments>Default</environments>
    <formulas>
        <name>GetAlias</name>
        <dataType>String</dataType>
        <expression>LEFT({!First_Name}, 1) &amp; {!Last_Name}</expression>
    </formulas>
    <formulas>
        <name>TODAY_DATE</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Person Account - Student Sign-Up Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Person Account - Student Sign-Up Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_new_User</name>
        <label>Create a new User</label>
        <locationX>544</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>GetAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_ContactId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>NewStudantEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <stringValue>00eD5000000ETKA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/Los_Angeles</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>NewStudantEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_student_Member</name>
        <label>Create new student Member</label>
        <locationX>543</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Get_ContactId</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Level_of_Education__c</field>
            <value>
                <stringValue>168a1437-a5ed-44d5-bb8b-08ab23fc7ed1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Graduation_Date__c</field>
            <value>
                <elementReference>Estimated_Graduation_Date_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>Middle_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <stringValue>da9641a1-332e-477f-8fd3-8ae747fa942c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>NewStudantEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>NewStudantPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ContactId</name>
        <label>Get ContactId</label>
        <locationX>706</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_new_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_new_student_Member</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>File_Upload_Error_Screen</name>
        <label>File Upload Error Screen</label>
        <locationX>810</locationX>
        <locationY>166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FileUploadRequired</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The &quot;File Upload&quot; field needs to contain the uploaded files. Please click the &quot;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&quot; button to return to the previous screen and fill in the File Upload fields.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Student_Sign_Up_Page</name>
        <label>Student Sign-Up Page</label>
        <locationX>502</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_If_File_Update_fill_in</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Middle_Name</name>
            <dataType>String</dataType>
            <fieldText>Middle Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewStudantEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewStudantPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Estimated_Graduation_Date_2</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TODAY_DATE</elementReference>
            </defaultValue>
            <fieldText>Estimated Graduation Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Estimated Graduation Date cannot be 4 years or more from today&apos;s date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Estimated_Graduation_Date_2} &lt; ADDMONTHS(TODAY(), 48)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Student_Sign_Up_Page_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Student_Sign_Up_Page_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_Level_of_Education</name>
                    <choiceReferences>College</choiceReferences>
                    <choiceReferences>High_School</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Current Level of Education</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Job_Title</name>
                    <choiceReferences>Veterinarian</choiceReferences>
                    <choiceReferences>Certified_Veterinary_Technician</choiceReferences>
                    <choiceReferences>Veterinary_Assistant</choiceReferences>
                    <choiceReferences>Practice_Manager</choiceReferences>
                    <choiceReferences>Support_Staff</choiceReferences>
                    <choiceReferences>CSR</choiceReferences>
                    <choiceReferences>Team_Admin</choiceReferences>
                    <choiceReferences>Kennel_Attendant_Technician</choiceReferences>
                    <choiceReferences>Faculty_Veterinary_Program</choiceReferences>
                    <choiceReferences>Faculty_Veterinary_Assistant_Program</choiceReferences>
                    <choiceReferences>Faculty_Veterinary_Technician_Program</choiceReferences>
                    <choiceReferences>Student_Veterinary</choiceReferences>
                    <choiceReferences>Student_Veterinary_Assistant</choiceReferences>
                    <choiceReferences>Student_Veterinary_Technician</choiceReferences>
                    <choiceReferences>Behavioral_Consultant</choiceReferences>
                    <choiceReferences>Trainer</choiceReferences>
                    <choiceReferences>Groomer</choiceReferences>
                    <choiceReferences>Pet_Sitter</choiceReferences>
                    <choiceReferences>Dog_Walker</choiceReferences>
                    <choiceReferences>Other_Veterinary</choiceReferences>
                    <choiceReferences>Other_Non_Veterinary</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Job Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Organization</name>
                    <dataType>String</dataType>
                    <fieldText>Organization</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Upload_File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_new_student_Member</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Student_Sign_Up_Page</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PersonRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
