force-app/main/default/flows/Remove_Team_Members_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the current item from the selected member loop to a text collection</description>
        <name>Assign_Add_Admin_Selected_Member_ID_to_Collection</name>
        <label>Assign - Add Admin Selected Member ID to Collection</label>
        <locationX>270</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>var_AdminIDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NumSelectedAdmins</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current item from the selected member loop to a text collection</description>
        <name>Assign_Add_Selected_Member_ID_to_Collection</name>
        <label>Assign - Add Selected Member ID to Collection</label>
        <locationX>534</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>var_selectedMemberIDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NumTotalAdmins</name>
        <label>assign_NumTotalAdmins</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_NumAdmins</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_TeamAdmins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_DeleteMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Business_Value</name>
        <label>Store Business Value</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserBusinessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Team_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_CheckAdminSelected</name>
        <label>dec_CheckAdminSelected</label>
        <locationX>182</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_screen_FinalScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Admins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumSelectedAdmins</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_FinalScreen</targetReference>
            </connector>
            <label>Selected Admins</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckBusiness</name>
        <label>dec_CheckBusiness</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PersonAccount.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Business_Value</targetReference>
            </connector>
            <label>Has Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckIfMemberships</name>
        <label>dec_CheckIfMemberships</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>subflow_UpdateMembershipsWithCompletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_AllMembershipsForMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_PIMARecords</targetReference>
            </connector>
            <label>No Memberships</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckPIMARecords</name>
        <label>dec_CheckPIMARecords</label>
        <locationX>182</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>Update_Selected_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_PIMA_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PIMARecords</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_PIMA_Records</targetReference>
            </connector>
            <label>Has PIMA Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckTeamAdmin</name>
        <label>dec_CheckTeamAdmin</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_Add_Selected_Member_ID_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Selected_Members.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Add_Admin_Selected_Member_ID_to_Collection</targetReference>
            </connector>
            <label>Is Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_SelectedAllAdmins</name>
        <label>dec_SelectedAllAdmins</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>get_AllMembershipsForMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_All_Admins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumAdmins</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_NumSelectedAdmins</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Non_Admins</targetReference>
            </connector>
            <label>Selected All Admins</label>
        </rules>
    </decisions>
    <description>This flow allows a team admin to view a list of team members, select which members to remove, and then remove the selected members from the team. The flow clears the Business__c and Account_Code__c fields for the selected members and sends an email notification informing them of their removal.

V.11 - Added check for Admins, updating admin users with correct Profile, and changed delete PIMA records to update PIMA records.</description>
    <environments>Default</environments>
    <interviewLabel>Remove Team Members Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Remove Team Members Flow</label>
    <loops>
        <description>Loops through the Selected Memebers data table to assign the IDs to a text collection</description>
        <name>Loop_Selected_Members</name>
        <label>Loop - Selected Members</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <collectionReference>SelectRemoveMembers.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_CheckTeamAdmin</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_SelectedAllAdmins</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_AllMembershipsForMembers</name>
        <label>get_AllMembershipsForMembers</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckIfMemberships</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_selectedMemberIDCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_AdminIDCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Non_Admins</name>
        <label>get_Non-Admins</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_SelectReplacementAdmin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Admin_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>var_selectedMemberIDCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount</name>
        <label>Get PersonAccount</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckBusiness</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PIMARecords</name>
        <label>get_PIMARecords</label>
        <locationX>182</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckPIMARecords</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2 AND 4</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_selectedMemberIDCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Practice</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_AdminIDCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Admin</name>
        <label>Get Team Admin</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Members</name>
        <label>Get Team Members</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_TeamAdmins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserBusinessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_TeamAdmins</name>
        <label>get_TeamAdmins</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_NumTotalAdmins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Admin_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Admin</name>
        <label>update_Admin</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>screen_ADminRemovedComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectNewAdmin.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Individual_Membership_Assignments</name>
        <label>Update Individual Membership Assignments</label>
        <locationX>270</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>get_PIMARecords</targetReference>
        </connector>
        <filterLogic>(1 OR 4) AND 2 AND 3 AND (5 OR 6) AND 7 AND (8 OR 9)</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_selectedMemberIDCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_AdminIDCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Course_Completion__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Related_Course_Completion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Assignment_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account_Membership__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the PIMA records to be canceled when leaving the team.</description>
        <name>update_PIMA_Records</name>
        <label>update_PIMA Records</label>
        <locationX>50</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Update_Selected_Members</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_selectedMemberIDCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_AdminIDCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Practice</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </inputAssignments>
        <object>Account_Membership__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Members</name>
        <label>Update Selected Members</label>
        <locationX>182</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>dec_CheckAdminSelected</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_selectedMemberIDCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_AdminIDCollection</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Removed_From_Team__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Reload_Page</name>
        <label>Copy 1 of Reload Page</label>
        <locationX>314</locationX>
        <locationY>3362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_reloadPage</name>
            <extensionName>c:reloadPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>shouldReload</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_screen_FinalScreen</name>
        <label>Copy 1 of screen_FinalScreen</label>
        <locationX>314</locationX>
        <locationY>3254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Reload_Page</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_displayText_Complete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The members have been successfully removed from your team. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please select &quot;Finish&quot; to complete this process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reload_Page</name>
        <label>Reload Page</label>
        <locationX>50</locationX>
        <locationY>3362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>reloadPage</name>
            <extensionName>c:reloadPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>shouldReload</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_ADminRemovedComplete</name>
        <label>screen_ADminRemovedComplete</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_AllMembershipsForMembers</targetReference>
        </connector>
        <fields>
            <name>displayText_ReplacementComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The removed admin(s) have been replaced.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please select &quot;Next&quot; to progress to the next step.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_DeleteMembers</name>
        <label>screen_DeleteMembers</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Members</targetReference>
        </connector>
        <fields>
            <name>SelectRemoveMembers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Team_Members</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,PersonEmail,Admin_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:535, PersonEmail:319, Admin_Account__c:212</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Remove</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_FinalScreen</name>
        <label>screen_FinalScreen</label>
        <locationX>50</locationX>
        <locationY>3254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reload_Page</targetReference>
        </connector>
        <fields>
            <name>displayText_Complete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The members have been successfully removed from your team. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please select &quot;Finish&quot; to complete this process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_SelectReplacementAdmin</name>
        <label>screen_SelectReplacementAdmin</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_Admin</targetReference>
        </connector>
        <fields>
            <name>displayText_ReplacementAdmin</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please select a replacement admin.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectNewAdmin</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Team_Members</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,PersonEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:534, PersonEmail:534</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Team_Admin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>subflow_UpdateMembershipsWithCompletion</name>
        <label>subflow_UpdateMembershipsWithCompletion</label>
        <locationX>270</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Update_Individual_Membership_Assignments</targetReference>
        </connector>
        <flowName>Subflow_Calculate_Related_Course_Completion</flowName>
        <inputAssignments>
            <name>varCol_MembershipAssignments</name>
            <value>
                <elementReference>get_AllMembershipsForMembers</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CurrentUserBusinessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AdminIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NumAdmins</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NumSelectedAdmins</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_selectedMemberIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
