force-app/main/default/flows/Screen_Manage_My_Team_Show_Memberships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_ClearMembershipCollection</name>
        <label>assign_ClearMembershipCollection</label>
        <locationX>957</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>var_AllMemberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCol_EmptyCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_LatestActiveMembership</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCol_EmptyCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_ExpiredMemberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCol_EmptyCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSelectedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CombineCollections</name>
        <label>assign_CombineCollections</label>
        <locationX>816</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>var_AllMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCol_LatestActiveMembership</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCol_ExpiredMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_DisplayMemberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Iteration</name>
        <label>assign_Iteration</label>
        <locationX>943</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>var_IterationNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PreviousValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist_MembershipSelection.selectedVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CombineCollections</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_CheckIfAnyMemberships</name>
        <label>dec_CheckIfAnyMemberships</label>
        <locationX>1191</locationX>
        <locationY>786</locationY>
        <defaultConnector>
            <targetReference>subflow_CalculatedRelatedCourseCompletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCol_ActiveMemberships</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Iteration</targetReference>
            </connector>
            <label>No Memberships</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckMembershipChange</name>
        <label>dec_CheckMembershipChange</label>
        <locationX>1061</locationX>
        <locationY>515</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckEditRows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dataTable_ShowPracticeMemberships.numberOfRowsEdited</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Employment_Type</targetReference>
            </connector>
            <label>CheckEditRows</label>
        </rules>
        <rules>
            <name>ReinstateMembership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>button_ReinstateMemberships.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reinstate Memberships</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_CurrentPerson</targetReference>
            </connector>
            <label>ReinstateMembership</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckMembershipUpdate</name>
        <label>dec_CheckMembershipUpdate</label>
        <locationX>865</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>assign_ClearMembershipCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IterationNum</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklist_MembershipSelection.selectedVal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_CheckMembershipChange</targetReference>
            </connector>
            <label>Update Memberships</label>
        </rules>
    </decisions>
    <description>Screen that allows the user to select which set of memberships they would like to see.</description>
    <environments>Default</environments>
    <formulas>
        <name>ContainsPractice</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!picklist_MembershipSelection.selectedVal}, &quot;Practice&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_SelectedPracticeMembership</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!var_SelectedValue}, &apos;Practice&apos;)</expression>
    </formulas>
    <interviewLabel>Screen - Manage My Team Show Memberships {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>(FSM) Screen - Manage My Team Show Memberships</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_AllActiveMemberships</name>
        <label>get_AllActiveMemberships</label>
        <locationX>295</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_AllActiveMemberships</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllBusinessMembers</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllMembers</name>
        <label>get_AllMembers</label>
        <locationX>429</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_AllBusinessMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CurrentUser.Business__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllMembershipsForList</name>
        <label>get_AllMembershipsForList</label>
        <locationX>468</locationX>
        <locationY>776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_ListOfMemberships</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllActiveMemberships</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllInactiveMemberships</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllUnassignedMemberships</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_PracticeMemberships</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllUnassignedMemberships</name>
        <label>get_AllUnassignedMemberships</label>
        <locationX>199</locationX>
        <locationY>972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_AllUnassignedMemberships</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CurrentUser.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CurrentAccount</name>
        <label>get_CurrentAccount</label>
        <locationX>1250</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflow_Reinstatement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CurrentPerson.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CurrentPerson</name>
        <label>get_CurrentPerson</label>
        <locationX>1278</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CurrentAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CurrentUser</name>
        <label>get_CurrentUser</label>
        <locationX>542</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AllMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_InactiveMemberships</name>
        <label>get_InactiveMemberships</label>
        <locationX>366</locationX>
        <locationY>960</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_AllInactiveMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllBusinessMembers</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PracticeMemberships</name>
        <label>get_PracticeMemberships</label>
        <locationX>557</locationX>
        <locationY>1086</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_PracticeMemberships</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Business_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CurrentUser.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Practice_Level_Membership_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Employment_Type</name>
        <label>Update Employment Type</label>
        <locationX>1071</locationX>
        <locationY>297</locationY>
        <connector>
            <targetReference>Employment_Type_Updated</targetReference>
        </connector>
        <inputReference>dataTable_ShowPracticeMemberships.outputEditedRows</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Employment_Type_Updated</name>
        <label>Employment Type Updated</label>
        <locationX>1076</locationX>
        <locationY>149</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmploymentTypeUpdated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The employment type has been successfully updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_DisplayMemberships</name>
        <label>screen_DisplayMemberships</label>
        <locationX>713</locationX>
        <locationY>675</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dec_CheckMembershipUpdate</targetReference>
        </connector>
        <fields>
            <name>displayText_Instructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please select the value for type of Membership group you would like to see.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>picklist_MembershipSelection</name>
            <extensionName>c:picklistAutoNext</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>picklistVals</name>
                <value>
                    <elementReference>transform_ListOfMemberships</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screen_DisplayMemberships_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_DisplayMemberships_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayText_NumUnassignedMemberships</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You have &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!var_NumUnassignedMemberships}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; available &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!var_SelectedValue} Memberships &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;for assignment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_IterationNum</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formula_SelectedPracticeMembership</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ContainsPractice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_DisplayMemberships_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_DisplayMemberships_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ReinstateMembership1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: ProximaNova, &amp;quot;Helvetica Neue&amp;quot;, helvetica, arial, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Please select the Memberships you would like to renew, then select the Renew Memberships button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_IterationNum</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ContainsPractice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayText_PLMA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;All individual-level memberships associated with a Veterinary Practice Certification program can only be renewed through the practice-level membership renewal. To renew your practice-level membership, please visit the&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://my.fearfree.com/mymemberships&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;&lt;u&gt;My Memberships page&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt; and navigate to the Facility Memberships tab. If you have questions or need assistance with your practice-level renewal, please reach out to&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:certifyme@fearfree.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(17, 85, 204); font-family: Arial, Helvetica, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;certifyme@fearfree.com&lt;/a&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_IterationNum</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ContainsPractice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>button_ReinstateMemberships</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Renew Memberships&quot;,&quot;value&quot;:&quot;Reinstate Memberships&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_IterationNum</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ContainsPractice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dataTable_AllIndividualMemberships</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Membership__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account_Membership__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_AllMemberships</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <elementReference>var_ActiveTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Assigned_Account_Name__c,Membership_Name__c,Status__c,Expiration_Date__c,Related_Course_Completion__c,Certified__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Assigned_Account_Name__c:243, Membership_Name__c:243, Status__c:243, Expiration_Date__c:243, Related_Course_Completion__c:243, Certified__c:243</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContainsPractice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_IterationNum</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dataTable_ShowPracticeMemberships</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Membership__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account_Membership__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Individual Membership Assignments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Employment_Type__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Assigned_Account_Name__c,Membership_Name__c,Expiration_Date__c,Employment_Type__c,Related_Course_Completion__c,Certified__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Assigned_Account_Name__c:0, Membership_Name__c:0, Expiration_Date__c:0, Employment_Type__c:0, Related_Course_Completion__c:0, Certified__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_AllMemberships</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>picklist_MembershipSelection.selectedVal</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Practice</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Reinstatement</name>
        <label>screen_Reinstatement</label>
        <locationX>1603</locationX>
        <locationY>700</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText_Reinstatement</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;The selected Memberships have been added to your cart for renewal.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please &lt;/strong&gt;&lt;a href=&quot;https://my.fearfree.com/cart&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;navigate to your  cart&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; to complete the process.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back to Memberships</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>568</locationX>
        <locationY>345</locationY>
        <connector>
            <targetReference>get_CurrentUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetSelectedRecords</name>
        <label>GetSelectedRecords</label>
        <locationX>1078</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>dec_CheckIfAnyMemberships</targetReference>
        </connector>
        <flowName>Subflow_Membership_Data_Table_Records</flowName>
        <inputAssignments>
            <name>var_MembershipName</name>
            <value>
                <elementReference>picklist_MembershipSelection.selectedVal</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_NumUnassignedMemberships</assignToReference>
            <name>var_NumUnassignedMemberships</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_ActiveMemberships</assignToReference>
            <name>varCol_AllActiveMemberships</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_LatestActiveMembership</assignToReference>
            <name>varCol_LatestActiveMembership</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_ExpiredMemberships</assignToReference>
            <name>varCol_MostRecentExpiredMemberships</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>subflow_CalculatedRelatedCourseCompletion</name>
        <label>subflow_CalculatedRelatedCourseCompletion</label>
        <locationX>1101</locationX>
        <locationY>905</locationY>
        <connector>
            <targetReference>assign_Iteration</targetReference>
        </connector>
        <flowName>Subflow_Calculate_Related_Course_Completion</flowName>
        <inputAssignments>
            <name>varCol_MembershipAssignments</name>
            <value>
                <elementReference>varCol_LatestActiveMembership</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCol_LatestActiveMembership</assignToReference>
            <name>varCol_UpdatedMemberships</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>subflow_Reinstatement</name>
        <label>subflow_Reinstatement</label>
        <locationX>1390</locationX>
        <locationY>574</locationY>
        <connector>
            <targetReference>screen_Reinstatement</targetReference>
        </connector>
        <flowName>B2B_Handle_Membership_Reinstatement</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>get_CurrentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varILMAList</name>
            <value>
                <elementReference>dataTable_AllIndividualMemberships.outputSelectedRows</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <transforms>
        <name>transform_AllActiveMemberships</name>
        <label>transform_AllActiveMemberships</label>
        <locationX>254</locationX>
        <locationY>814</locationY>
        <connector>
            <targetReference>get_AllUnassignedMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_AllActiveMemberships[$EachItem].Membership__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllBusinessMembers</name>
        <label>transform_AllBusinessMembers</label>
        <locationX>263</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>get_AllActiveMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_AllMembers[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllInactiveMemberships</name>
        <label>transform_AllInactiveMemberships</label>
        <locationX>430</locationX>
        <locationY>1123</locationY>
        <connector>
            <targetReference>get_PracticeMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_InactiveMemberships[$EachItem].Membership__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllUnassignedMemberships</name>
        <label>transform_AllUnassignedMemberships</label>
        <locationX>257</locationX>
        <locationY>1158</locationY>
        <connector>
            <targetReference>get_InactiveMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_AllUnassignedMemberships[$EachItem].Membership__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_ListOfMemberships</name>
        <label>transform_ListOfMemberships</label>
        <locationX>636</locationX>
        <locationY>879</locationY>
        <connector>
            <targetReference>screen_DisplayMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_AllMembershipsForList[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_PracticeMemberships</name>
        <label>transform_PracticeMemberships</label>
        <locationX>516</locationX>
        <locationY>951</locationY>
        <connector>
            <targetReference>get_AllMembershipsForList</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_PracticeMemberships[$EachItem].Membership__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>var_ActiveTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!picklist_MembershipSelection.selectedVal}s</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_AllMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>var_ExpiredTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inactive {!picklist_MembershipSelection.selectedVal} Memberships</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_IterationNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NumCanceledMemberships</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NumUnassignedMemberships</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NumUnCanceledMemberships</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_PreviousValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>picklist_MembershipSelection.selectedVal</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCol_ActiveMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_CanceledMemberships</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_EmptyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_ExpiredMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_LatestActiveMembership</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_UncanceledMemberships</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
