force-app/main/default/flows/Screen_Display_DVM_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Displays the DVM Count using the DVM Count subflow.</description>
    <environments>Default</environments>
    <interviewLabel>Screen - Display DVM Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Display DVM Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Business</name>
        <label>get_Business</label>
        <locationX>598</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_ViewDVMCOunt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PersonAccount</name>
        <label>get_PersonAccount</label>
        <locationX>573</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Business</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_user.Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user</name>
        <label>get_user</label>
        <locationX>771</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_ViewDVMCOunt</name>
        <label>screen_ViewDVMCOunt</label>
        <locationX>805</locationX>
        <locationY>361</locationY>
        <actions>
            <name>DVMCount</name>
            <actionName>Subflow_DVM_Renewal_Calculation</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>var_BusinessAccount</name>
                <value>
                    <elementReference>get_Business.Id</elementReference>
                </value>
            </inputParameters>
            <label>Subflow - DVM Renewal Calculation</label>
            <nameSegment>Subflow_DVM_Renewal_Calculation</nameSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText_Directions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To see your DVM Renewal count, please select the button below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>button_DVMCount</name>
            <extensionName>flowruntime:actionButtonField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Calculate DVM Count</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <elementReference>DVMCount.IsSuccess</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inProgress</name>
                <value>
                    <elementReference>DVMCount.InProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <elementReference>DVMCount.ErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayText_DVMCount</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!DVMCount.Results.var_DVMCount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>button_DVMCount</eventSource>
            <handlers>
                <screenActionName>DVMCount</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_user</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
