force-app/main/default/flows/Screen_Leave_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_InactivePracticeMembership</name>
        <label>assign_InactivePracticeMembership</label>
        <locationX>472</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>Loop_AllPracticeMemberships.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_UpdatedMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_AllPracticeMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_AllPracticeMemberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NumberOfAdmins</name>
        <label>assign_NumberOfAdmins</label>
        <locationX>588</locationX>
        <locationY>902</locationY>
        <assignmentItems>
            <assignToReference>var_NumOfAdmins</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_AllAdminsInTeam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_CheckLoneAdmin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateMemberships</name>
        <label>assign_UpdateMemberships</label>
        <locationX>1099</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>loop_Memberships.Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_UpdatedMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Memberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Memberships</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_CheckIfMemberships</name>
        <label>dec_CheckIfMemberships</label>
        <locationX>826</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>subflow_RelatedCompletionCalculation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_AllIndividualMemberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_AllPracticeMemberships</targetReference>
            </connector>
            <label>No Memberships</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckLoneAdmin</name>
        <label>dec_CheckLoneAdmin</label>
        <locationX>681</locationX>
        <locationY>867</locationY>
        <defaultConnector>
            <targetReference>update_RemoveBusinessAndAdmin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Only_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumOfAdmins</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RunningUser.Account.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_AllMembers</targetReference>
            </connector>
            <label>Is Only Admin</label>
        </rules>
    </decisions>
    <description>Allows the user to leave their own team.  This removes the Memberships that were assigned to them from the team.</description>
    <environments>Default</environments>
    <interviewLabel>Screen - Leave Team {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Screen - Leave Team</label>
    <loops>
        <name>Loop_AllPracticeMemberships</name>
        <label>Loop_AllPracticeMemberships</label>
        <locationX>680</locationX>
        <locationY>573</locationY>
        <collectionReference>get_AllPracticeMemberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_InactivePracticeMembership</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_AllAdminsInTeam</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Memberships</name>
        <label>loop_Memberships</label>
        <locationX>920</locationX>
        <locationY>589</locationY>
        <collectionReference>get_AllIndividualMembershipsPostCompletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_UpdateMemberships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_AllPracticeMemberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_AllAdminsInTeam</name>
        <label>get_AllAdminsInTeam</label>
        <locationX>462</locationX>
        <locationY>754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_NumberOfAdmins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RunningUser.Account.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Admin_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllIndividualMemberships</name>
        <label>get_AllIndividualMemberships</label>
        <locationX>923</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckIfMemberships</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 5) AND 4 AND 6</filterLogic>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PersonAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllIndividualMembershipsPostCompletion</name>
        <label>get_AllIndividualMembershipsPostCompletion</label>
        <locationX>821</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Memberships</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 5) AND 4 AND 6 AND (7 OR 8)</filterLogic>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PersonAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PersonAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Course_Completion__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Related_Course_Completion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllMembers</name>
        <label>get_AllMembers</label>
        <locationX>758</locationX>
        <locationY>1015</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_Replacement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RunningUser.Account.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>get_RunningUser.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllPracticeMemberships</name>
        <label>get_AllPracticeMemberships</label>
        <locationX>581</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AllIndividualMembershipsPostCompletion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RunningUser.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Practice</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PersonAccount</name>
        <label>get_PersonAccount</label>
        <locationX>979</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AllIndividualMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RunningUser.Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RunningUser</name>
        <label>get_RunningUser</label>
        <locationX>830</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Memberships</name>
        <label>update_Memberships</label>
        <locationX>1198</locationX>
        <locationY>869</locationY>
        <connector>
            <targetReference>screen_FinalEntry</targetReference>
        </connector>
        <inputReference>varCol_UpdatedMemberships</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_RemoveBusinessAndAdmin</name>
        <label>update_RemoveBusinessAndAdmin</label>
        <locationX>1050</locationX>
        <locationY>761</locationY>
        <connector>
            <targetReference>update_Memberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PersonAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_ReplacementAdmin</name>
        <label>update_ReplacementAdmin</label>
        <locationX>944</locationX>
        <locationY>991</locationY>
        <connector>
            <targetReference>screen_ReplacementComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>datatable_ReplacementAdmin.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_Confirmation</name>
        <label>screen_Confirmation</label>
        <locationX>674</locationX>
        <locationY>203</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_RunningUser</targetReference>
        </connector>
        <fields>
            <name>displayText_ComfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Are you sure you would like to leave your team?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_FinalEntry</name>
        <label>screen_FinalEntry</label>
        <locationX>1077</locationX>
        <locationY>994</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText_CompleteScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please select &quot;Finish&quot; and refresh your page to for your changes to take effect.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Replacement</name>
        <label>screen_Replacement</label>
        <locationX>973</locationX>
        <locationY>1192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_ReplacementAdmin</targetReference>
        </connector>
        <fields>
            <name>displayText_ReplacementAdmin</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Please select an admin to replace you prior to leaving the team.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>datatable_ReplacementAdmin</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_AllMembers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,PersonEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:729, PersonEmail:729</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_ReplacementComplete</name>
        <label>screen_ReplacementComplete</label>
        <locationX>951</locationX>
        <locationY>849</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_RemoveBusinessAndAdmin</targetReference>
        </connector>
        <fields>
            <name>displayText_ReplacementComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!datatable_ReplacementAdmin.outputSelectedRow.Name} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;has been successfully set as your replacement.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please select Next to complete leaving your team.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screen_Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>subflow_RelatedCompletionCalculation</name>
        <label>subflow_RelatedCompletionCalculation</label>
        <locationX>466</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>get_AllPracticeMemberships</targetReference>
        </connector>
        <flowName>Subflow_Calculate_Related_Course_Completion</flowName>
        <inputAssignments>
            <name>varCol_MembershipAssignments</name>
            <value>
                <elementReference>get_AllIndividualMemberships</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>var_NumOfAdmins</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCol_UpdatedMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
