force-app/main/default/flows/Screen_Flow_Create_New_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Team_Invitation_Email</name>
        <label>Send Team Invitation Email</label>
        <locationX>1611</locationX>
        <locationY>423</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TeamLeaderSuccessScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Retrieve_Person_Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@fearfreepets.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Accept or Deny Invitation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AcceptorDeny</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Behavioral_Consultant</name>
        <choiceText>Behavioral Consultant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Behavioral Consultant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certified_Veterinary_Technician</name>
        <choiceText>Certified Veterinary Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certified Veterinary Technician</stringValue>
        </value>
    </choices>
    <choices>
        <name>CSR</name>
        <choiceText>CSR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CSR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dog_Walker</name>
        <choiceText>Dog Walker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dog Walker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Faculty_Veterinary_Assistant_Program</name>
        <choiceText>Faculty - Veterinary Assistant Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Faculty - Veterinary Assistant Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>Faculty_Veterinary_Program</name>
        <choiceText>Faculty - Veterinary Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Faculty - Veterinary Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>Faculty_Veterinary_Technician_Program</name>
        <choiceText>Faculty - Veterinary Technician Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Faculty - Veterinary Technician Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>Groomer</name>
        <choiceText>Groomer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Groomer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kennel_Attendant_Technician</name>
        <choiceText>Kennel Attendant/Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kennel Attendant/Technician</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Non_Veterinary</name>
        <choiceText>Other (Non-Veterinary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (Non-Veterinary)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Veterinary</name>
        <choiceText>Other (Veterinary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (Veterinary)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pet_Sitter</name>
        <choiceText>Pet Sitter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pet Sitter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Practice_Manager</name>
        <choiceText>Practice Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Practice Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Student_Veterinary</name>
        <choiceText>Student - Veterinary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Student - Veterinary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Student_Veterinary_Assistant</name>
        <choiceText>Student - Veterinary Assistant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Student - Veterinary Assistant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Student_Veterinary_Technician</name>
        <choiceText>Student - Veterinary Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Student - Veterinary Technician</stringValue>
        </value>
    </choices>
    <choices>
        <name>Support_Staff</name>
        <choiceText>Support Staff</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Staff</stringValue>
        </value>
    </choices>
    <choices>
        <name>Team_Admin</name>
        <choiceText>Team Admin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Team Admin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trainer</name>
        <choiceText>Trainer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trainer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Veterinarian</name>
        <choiceText>Veterinarian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Veterinarian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Veterinary_Assistant</name>
        <choiceText>Veterinary Assistant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Veterinary Assistant</stringValue>
        </value>
    </choices>
    <decisions>
        <name>dec_CheckBusinessField</name>
        <label>dec_CheckBusinessField</label>
        <locationX>1394</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Field_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Person_Account.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pending_Business</targetReference>
            </connector>
            <label>Business Field Null</label>
        </rules>
        <rules>
            <name>Business_Field_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Person_Account.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistingBusiness</targetReference>
            </connector>
            <label>Business Field Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckDuplicateEmail</name>
        <label>dec_CheckDuplicateEmail</label>
        <locationX>313</locationX>
        <locationY>656</locationY>
        <defaultConnector>
            <targetReference>get_CurrentAdmin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_DupeEmail</targetReference>
            </connector>
            <label>Duplicate Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Assign_Member</name>
        <label>New or Assign Member</label>
        <locationX>1019</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Person_Account.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_InfoEntry</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Person_Account.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_Alias</name>
        <dataType>String</dataType>
        <expression>LEFT({!First_Name},1)&amp;LEFT({!Last_Name},4)</expression>
    </formulas>
    <interviewLabel>Screen Flow - Create New User {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Screen Flow - Assign or Create a new user</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_NewPerson</name>
        <label>create_NewPerson</label>
        <locationX>547</locationX>
        <locationY>681</locationY>
        <connector>
            <targetReference>get_StandardProfile</targetReference>
        </connector>
        <inputAssignments>
            <field>Admin_Account__c</field>
            <value>
                <elementReference>Team_Admin221</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <elementReference>get_CurrentAdmin.Contact.Account.Business__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_RecordOwner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>email_EmailInput.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_PersonAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_ContactEmail</name>
        <label>get_ContactEmail</label>
        <locationX>643</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckDuplicateEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email_EmailInput.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CurrentAdmin</name>
        <label>get_CurrentAdmin</label>
        <locationX>431</locationX>
        <locationY>901</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PersonAccountRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NewContactId</name>
        <label>get_NewContactId</label>
        <locationX>850</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_NewPerson</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PersonAccountRecordType</name>
        <label>get_PersonAccountRecordType</label>
        <locationX>573</locationX>
        <locationY>898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RecordOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Person Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordOwner</name>
        <label>get_RecordOwner</label>
        <locationX>762</locationX>
        <locationY>822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_NewPerson</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sean</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleming</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_StandardProfile</name>
        <label>get_StandardProfile</label>
        <locationX>728</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NewContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fear Free Community Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1408</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckBusinessField</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Person_Account</name>
        <label>Retrieve Person Account</label>
        <locationX>1002</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_or_Assign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email_EmailInput.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pending_Business</name>
        <label>Update Pending Business</label>
        <locationX>1625</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>Send_Team_Invitation_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retrieve_Person_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pending_Business_Admin_Email__c</field>
            <value>
                <elementReference>Get_User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Business__c</field>
            <value>
                <elementReference>Get_User.Account.Business__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_Action</name>
        <label>Choose Action</label>
        <locationX>879</locationX>
        <locationY>176</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retrieve_Person_Account</targetReference>
        </connector>
        <fields>
            <name>email_EmailInput</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please enter the email of the user you would like to add to your team:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ExistingBusiness</name>
        <label>ExistingBusiness</label>
        <locationX>1398</locationX>
        <locationY>79</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlertText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This user is associated with another team. If you want to add this user to your team, please contact the user directly to have them leave the team or contact&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://fearfreepets.com/contact-us/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Fear Free Support&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_DupeEmail</name>
        <label>screen_DupeEmail</label>
        <locationX>325</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_InfoEntry</targetReference>
        </connector>
        <fields>
            <name>displayText_DuplicateEmail</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There is already a member in the system with this email.  Please add a unique email when creating the user.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_InfoEntry</name>
        <label>screen_InfoEntry</label>
        <locationX>626</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_ContactEmail</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screen_InfoEntry_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InfoEntry_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email</name>
                    <fieldText>&lt;p&gt;Email&lt;/p&gt;&lt;p&gt;{!email_EmailInput.value}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_InfoEntry_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Job_Title</name>
                    <choiceReferences>Veterinarian</choiceReferences>
                    <choiceReferences>Certified_Veterinary_Technician</choiceReferences>
                    <choiceReferences>Veterinary_Assistant</choiceReferences>
                    <choiceReferences>Practice_Manager</choiceReferences>
                    <choiceReferences>Support_Staff</choiceReferences>
                    <choiceReferences>CSR</choiceReferences>
                    <choiceReferences>Kennel_Attendant_Technician</choiceReferences>
                    <choiceReferences>Faculty_Veterinary_Program</choiceReferences>
                    <choiceReferences>Faculty_Veterinary_Assistant_Program</choiceReferences>
                    <choiceReferences>Faculty_Veterinary_Technician_Program</choiceReferences>
                    <choiceReferences>Student_Veterinary</choiceReferences>
                    <choiceReferences>Student_Veterinary_Assistant</choiceReferences>
                    <choiceReferences>Student_Veterinary_Technician</choiceReferences>
                    <choiceReferences>Behavioral_Consultant</choiceReferences>
                    <choiceReferences>Trainer</choiceReferences>
                    <choiceReferences>Groomer</choiceReferences>
                    <choiceReferences>Pet_Sitter</choiceReferences>
                    <choiceReferences>Dog_Walker</choiceReferences>
                    <choiceReferences>Other_Veterinary</choiceReferences>
                    <choiceReferences>Other_Non_Veterinary</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Job Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Team_Admin221</name>
            <dataType>Boolean</dataType>
            <fieldText>Team Admin</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please check this box if the new user is a Team Admin.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TeamLeaderSuccessScreen</name>
        <label>TeamLeaderSuccessScreen</label>
        <locationX>2010</locationX>
        <locationY>257</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvitationSent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The invitation has been successfully sent to {!Retrieve_Person_Account.FirstName}. If they accept the invitation to join the team, you will receive an email notification.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>1133</locationX>
        <locationY>633</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText_Completed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The following user has been successfully created!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;First Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!First_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Last Name: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Last_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!email_EmailInput.value}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Username: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!email_EmailInput.value}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Choose_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_New_User</name>
        <label>Create New User</label>
        <locationX>990</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <flowName>B2B_Subflow_User_Provisioning</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>create_NewPerson</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>AcceptorDeny</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Retrieve_Person_Account.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have been invited to join the team at {!Get_User.Account.Business__r.Name}. Please review the details and accept or deny the invitation by clicking the link below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Business Name: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_User.Account.Business__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To respond to this invitation, please click the link below:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://fearfreepets--partial.sandbox.my.site.com/store/myprofile&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;{!Get_User.FirstName} {!Get_User.LastName}&lt;/p&gt;&lt;p&gt;{!Get_User.Title}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
