force-app/main/default/flows/Screen_Directory_Listing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_NumOfMemberships</name>
        <label>assign_NumOfMemberships</label>
        <locationX>116</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>var_NumActiveMemberships</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_AllActiveMemberships</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NumActiveCertMembership</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_AllCertifiedActiveMemberships</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NumAcademiaMembership</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_ActiveAcademiaMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_CheckIfEligble</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_CheckIfEligble</name>
        <label>dec_CheckIfEligble</label>
        <locationX>322</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>get_BusinessMemberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Active_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumActiveMemberships</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_NoActiveMembership</targetReference>
            </connector>
            <label>No Active Memberships</label>
        </rules>
        <rules>
            <name>Only_Academia_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumAcademiaMembership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_NumActiveMemberships</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_NumAcademiaMembership</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_NoCertifiedMembership_0</targetReference>
            </connector>
            <label>Only Academia Membership</label>
        </rules>
        <rules>
            <name>No_Certified_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumActiveCertMembership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_NumActiveMemberships</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_NoCertifiedMembership</targetReference>
            </connector>
            <label>No Certified Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Admin_Account_And_Business</name>
        <label>Decision - Admin Account and Business</label>
        <locationX>774</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Directory_Listing_Entry_Form</targetReference>
            </connector>
            <label>No Business</label>
        </rules>
        <rules>
            <name>Business_No_Certified_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_BusinessMemberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_NoCertifiedMembers</targetReference>
            </connector>
            <label>Business No Certified Members</label>
        </rules>
        <rules>
            <name>Admin_Account_with_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Directory_Listing_Entry_Form_0</targetReference>
            </connector>
            <label>Admin Account with Business</label>
        </rules>
        <rules>
            <name>No_Admin_Account_with_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.Business__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Directory_Listing_Entry_Form_Non_Admin</targetReference>
            </connector>
            <label>No Admin Account with Business</label>
        </rules>
    </decisions>
    <description>https://basecamp.com/2583453/projects/19269730/todos/502768432

Screen Flow that is a data entry form for a Directory listing.</description>
    <dynamicChoiceSets>
        <name>ChoiceType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Care_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Directory Listing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_ActiveAcademiaMemberships</name>
        <label>get_ActiveAcademiaMemberships</label>
        <locationX>487</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AllActiveMemberships</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Academia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllActiveMemberships</name>
        <label>get_AllActiveMemberships</label>
        <locationX>356</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_NumOfMemberships</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllCertifiedActiveMemberships</name>
        <label>get_AllCertifiedActiveMemberships</label>
        <locationX>628</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ActiveAcademiaMemberships</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Certified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_BusinessMemberships</name>
        <label>get_BusinessMemberships</label>
        <locationX>514</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Admin_Account_And_Business</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>789</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AllCertifiedActiveMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business</name>
        <label>Update Business</label>
        <locationX>642</locationX>
        <locationY>799</locationY>
        <connector>
            <targetReference>update_Opt_In_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Business__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Care_Type__c</field>
            <value>
                <elementReference>Directory_Care_Type_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Address__City__s</field>
            <value>
                <elementReference>Directory_Address_0.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Address__CountryCode__s</field>
            <value>
                <elementReference>Directory_Address_0.countryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Address__PostalCode__s</field>
            <value>
                <elementReference>Directory_Address_0.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Address__StateCode__s</field>
            <value>
                <elementReference>Directory_Address_0.provinceCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Address__Street__s</field>
            <value>
                <elementReference>Directory_Address_0.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Email__c</field>
            <value>
                <elementReference>Directory_Email_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Opt_In__c</field>
            <value>
                <elementReference>Directory_Opt_In_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Phone__c</field>
            <value>
                <elementReference>Directory_Phone_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Radius__c</field>
            <value>
                <elementReference>Directory_Radius_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Species_Avian__c</field>
            <value>
                <elementReference>Avian_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Species_Cat__c</field>
            <value>
                <elementReference>Cat_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Species_Dog__c</field>
            <value>
                <elementReference>Dog_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Species_Equine__c</field>
            <value>
                <elementReference>Equine_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_URL__c</field>
            <value>
                <elementReference>Directory_URL_0.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Opt_In</name>
        <label>update_Opt-In</label>
        <locationX>774</locationX>
        <locationY>795</locationY>
        <connector>
            <targetReference>ChangesSave_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Directory_Opt_In__c</field>
            <value>
                <elementReference>Directory_Opt_In_NonAdmin</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Opt_In_Admin</name>
        <label>update_Opt-InAdmin</label>
        <locationX>542</locationX>
        <locationY>893</locationY>
        <connector>
            <targetReference>ChangesSave</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Directory_Opt_In__c</field>
            <value>
                <elementReference>Personal_Directory_Opt_In</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person</name>
        <label>Update Person</label>
        <locationX>904</locationX>
        <locationY>808</locationY>
        <connector>
            <targetReference>ChangesSave_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Care_Type__c</field>
            <value>
                <elementReference>Directory_Care_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Address__City__s</field>
            <value>
                <elementReference>Directory_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Address__CountryCode__s</field>
            <value>
                <elementReference>Directory_Address.countryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Address__PostalCode__s</field>
            <value>
                <elementReference>Directory_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Address__StateCode__s</field>
            <value>
                <elementReference>Directory_Address.provinceCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Address__Street__s</field>
            <value>
                <elementReference>Directory_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Company__c</field>
            <value>
                <elementReference>Directory_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Email__c</field>
            <value>
                <elementReference>Directory_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Opt_In__c</field>
            <value>
                <elementReference>Directory_Opt_In</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Phone__c</field>
            <value>
                <elementReference>Directory_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Radius__c</field>
            <value>
                <elementReference>Directory_Radius</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Species_Avian__c</field>
            <value>
                <elementReference>Avian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Species_Cat__c</field>
            <value>
                <elementReference>Cat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Species_Dog__c</field>
            <value>
                <elementReference>Dog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_Species_Equine__c</field>
            <value>
                <elementReference>Equine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directory_URL__c</field>
            <value>
                <elementReference>Directory_URL.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ChangesSave</name>
        <label>ChangesSave</label>
        <locationX>638</locationX>
        <locationY>999</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Aptos; font-size: 12pt;&quot;&gt;Your changes have been &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Aptos; font-size: 12pt;&quot;&gt;saved.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChangesSave_0</name>
        <label>ChangesSave</label>
        <locationX>767</locationX>
        <locationY>1018</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text4_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Aptos; font-size: 12pt;&quot;&gt;Your changes have been &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Aptos; font-size: 12pt;&quot;&gt;saved.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChangesSave_0_0</name>
        <label>ChangesSave</label>
        <locationX>907</locationX>
        <locationY>1008</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text4_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Aptos; font-size: 12pt;&quot;&gt;Your changes have been &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Aptos; font-size: 12pt;&quot;&gt;saved.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Data entry form for a Directory listing.</description>
        <name>Directory_Listing_Entry_Form</name>
        <label>Directory Listing Entry Form - No Business</label>
        <locationX>904</locationX>
        <locationY>599</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Person</targetReference>
        </connector>
        <fields>
            <name>text9</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Aptos; font-size: 16pt; background-color: transparent;&quot;&gt;Certified Member Listing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text8</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;By opting in, you agree to have your business and/or personal information provided listed in our public directory. To save changes, click the Update button at the bottom of this form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text23</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Listing_Entry_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Directory_Listing_Entry_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Directory_Opt_In</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Directory_Opt_In__c</elementReference>
                    </defaultValue>
                    <fieldText>Directory Opt In</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Listing_Entry_Form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Directory_Listing_Entry_Form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Get_User_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Name</elementReference>
                    </defaultValue>
                    <fieldText>Directory Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This data is pulled from your account and cannot be edited. Edits to your account name in the My Account page will be reflected here.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Directory_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_User.Directory_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Directory_URL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Business Website</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_User.Directory_URL__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Directory_Company</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Directory_Company__c</elementReference>
                    </defaultValue>
                    <fieldText>Company/Business</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Directory_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_User.Directory_Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Listing_Entry_Form_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Directory_Listing_Entry_Form_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text17</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_User.Directory_Address__Street__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_User.Directory_Address__Street__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>provinceCode</name>
                <value>
                    <elementReference>Get_User.Directory_Address__StateCode__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_User.Directory_Address__PostalCode__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryCode</name>
                <value>
                    <elementReference>Get_User.Directory_Address__CountryCode__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Google Maps</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Radius</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_User.Directory_Radius__c</elementReference>
            </defaultValue>
            <fieldText>Directory Radius</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If you wish for your listing to only show up within a select radius (in miles) from the address provided, please enter your preferred radius. This is typically used for mobile services or professionals who travel up to a certain radius. All others should leave blank.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>false</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>false</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>text13</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Care Type &amp;amp; Species&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Listing_Entry_Form_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Directory_Listing_Entry_Form_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Directory_Care_Type</name>
                    <choiceReferences>ChoiceType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Care_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Directory Care Type</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Listing_Entry_Form_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Directory_Listing_Entry_Form_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Avian</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Directory_Species_Avian__c</elementReference>
                    </defaultValue>
                    <fieldText>Avian</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cat</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Directory_Species_Cat__c</elementReference>
                    </defaultValue>
                    <fieldText>Cat</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dog</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Directory_Species_Dog__c</elementReference>
                    </defaultValue>
                    <fieldText>Dog</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Equine</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Directory_Species_Equine__c</elementReference>
                    </defaultValue>
                    <fieldText>Equine</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Data entry form for a Directory listing.</description>
        <name>Directory_Listing_Entry_Form_0</name>
        <label>Directory Listing Entry Form - Business</label>
        <locationX>637</locationX>
        <locationY>598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Business</targetReference>
        </connector>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16pt; font-family: Aptos; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Business Listing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;By opting in, you agree to have your business and/or personal information provided listed in our public directory. To save changes, click the Update button at the bottom of this form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Listing_Entry_Form_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Directory_Opt_In_0</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Business__r.Directory_Opt_In__c</elementReference>
                    </defaultValue>
                    <fieldText>Directory Opt In</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Listing_Entry_Form_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Directory_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Business__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Directory Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This data is pulled from your business account and cannot be edited. Please contact &lt;a href=&quot;mailto:wags@fearfree.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(9, 79, 209);&quot;&gt;&lt;u&gt;wags@fearfree.com&lt;/u&gt;&lt;/a&gt; to have your business account name updated.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Directory_Email_0</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_User.Business__r.Directory_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Directory_URL_0</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Business Website</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_User.Business__r.Directory_URL__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Directory_Phone_0</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_User.Business__r.Directory_Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text20</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Address_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_User.Business__r.Directory_Address__Street__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_User.Business__r.Directory_Address__City__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>provinceCode</name>
                <value>
                    <elementReference>Get_User.Business__r.Directory_Address__StateCode__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_User.Business__r.Directory_Address__PostalCode__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryCode</name>
                <value>
                    <elementReference>Get_User.Business__r.Directory_Address__CountryCode__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Google Maps</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Radius_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_User.Business__r.Directory_Radius__c</elementReference>
            </defaultValue>
            <fieldText>Directory Radius</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If you wish for your listing to only show up within a select radius (in miles) from the address provided, please enter your preferred radius. This is typically used for mobile services or professionals who travel up to a certain radius. All others should leave blank.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>false</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>false</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>text21</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text102</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Care Type &amp;amp; Species&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Listing_Entry_Form_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Directory_Care_Type_0</name>
                    <choiceReferences>ChoiceType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Business__r.Care_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Directory Care Type</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Listing_Entry_Form_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Avian_0</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Business__r.Directory_Species_Avian__c</elementReference>
                    </defaultValue>
                    <fieldText>Avian</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cat_0</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Business__r.Directory_Species_Cat__c</elementReference>
                    </defaultValue>
                    <fieldText>Cat</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Equine_0</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Business__r.Directory_Species_Equine__c</elementReference>
                    </defaultValue>
                    <fieldText>Equine</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dog_0</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Business__r.Directory_Species_Dog__c</elementReference>
                    </defaultValue>
                    <fieldText>Dog</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Listing_Entry_Form_0_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Directory_Listing_Entry_Form_0_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_CertifiedMember</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Certified Member Listing&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>display_CertifiedInformation</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 9pt; font-family: Aptos; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Since you are a member of a team, your listing information is associated with your teams Business Account. If opted in, your name as shown below, will appear within the Business Account listing. To learn more about our new online directory, visit this help center article. {NEED LINK}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 9pt; font-family: Aptos; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;By opting in, you agree to have your personal information provided listed in our public directory.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 9pt; font-family: Aptos; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;To save changes, click the Update button at the bottom of this form.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Personal_Directory_Opt_In</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Directory_Opt_In__c</elementReference>
                    </defaultValue>
                    <fieldText>Personal Directory Opt-In</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>displayText_TACertifiedMember</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If opted in, you will show as:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_User.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_NumActiveCertMembership</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Directory_Listing_Entry_Form_Non_Admin</name>
        <label>Directory Listing Entry Form - Non Admin</label>
        <locationX>765</locationX>
        <locationY>604</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Opt_In</targetReference>
        </connector>
        <fields>
            <name>text5</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Aptos; font-size: 16pt;&quot;&gt;Certified Member Listing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>text7</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 9pt; font-family: Aptos; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Since you are a member of a team, your listing information is associated with your teams Business Account. If opted in, your name as shown below, will appear within the Business Account listing. To learn more about our new online directory, visit this help center article. {NEED LINK}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 9pt; font-family: Aptos; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;By opting in, you agree to have your personal information provided listed in our public directory.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 9pt; font-family: Aptos; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;To save changes, click the Update button at the bottom of this form.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Directory_Listing_Entry_Form_Non_Admin_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Directory_Listing_Entry_Form_Non_Admin_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_Non_Admin_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Directory_Opt_In_NonAdmin</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Directory_Opt_In__c</elementReference>
                    </defaultValue>
                    <fieldText>Directory Opt In</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Directory_Listing_Entry_Form_Non_Admin_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DiplayName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If opted in, you will show as:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_User.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NoActiveMembership</name>
        <label>screen_NoActiveMembership</label>
        <locationX>106</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText_NoActiveMemberships</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;It looks like your membership(s) is inactive, which means your certification is as well. Renew your membership(s) to regain access to this exclusive benefit!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://fearfreepets--partial.sandbox.my.site.com/store/mymemberships&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;strong&gt;Go to My Memberships&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NoCertifiedMembers</name>
        <label>screen_NoCertifiedMembers</label>
        <locationX>1010</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText_NoCertifiedMembers</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your business does not qualify for the Directory because your business has no certified members.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NoCertifiedMembership</name>
        <label>screen_NoCertifiedMembership</label>
        <locationX>262</locationX>
        <locationY>657</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText_NoActiveMemberships_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are not yet certified! This exclusive benefit will be available once you have completed a certification program. We hope to see you back here soon!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://fearfreepets--partial.sandbox.my.site.com/store/my-learning&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;&lt;strong&gt;Go to My Learning&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NoCertifiedMembership_0</name>
        <label>screen_NoCertifiedMembership</label>
        <locationX>447</locationX>
        <locationY>632</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText_OnlyAcademia</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This benefit is not available to Academia Members. Upgrade your membership to unlock access to this exclusive benefit.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://fearfreepets--partial.sandbox.my.site.com/store/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;&lt;strong&gt;Upgrade Now&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>655</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_NumAcademiaMembership</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NumActiveCertMembership</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NumActiveMemberships</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
