force-app/main/default/flows/Send_Reminder_Email_When_Within_15_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Renewal email sent to Team Admins of PLMAs</description>
        <name>PLMA_Expired_Renewal_Email</name>
        <label>PLMA Expired Renewal Email</label>
        <locationX>2923</locationX>
        <locationY>1188</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>PLMA_Reset_Send_Reminder_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>certifyme@fearfree.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XcX000000U9XJUA0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact_With_PLMA.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <description>Renewal email sent to Team Admins of PLMAs</description>
        <name>PLMA_Renewal_Email</name>
        <label>PLMA Renewal Email</label>
        <locationX>3187</locationX>
        <locationY>1188</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>PLMA_Reset_Send_Reminder_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>certifyme@fearfree.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XcX000000Tor3UAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact_With_PLMA.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Academia_ILMA_Past_Expiration_Upgrade_Email</name>
        <label>Send Academia ILMA Past Expiration Upgrade Email</label>
        <locationX>1867</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Academia_Reset_Send_Reminder_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>wags@fearfree.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XcX000000U95tUAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact_WithAcademia_ILMA.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Academia_ILMA_Upgrade_Email</name>
        <label>Send Academia ILMA Upgrade Email</label>
        <locationX>2131</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Academia_Reset_Send_Reminder_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>wags@fearfree.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XcX000000SXp3UAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact_WithAcademia_ILMA.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_ILMA_Past_Expiration_Renewal_Email</name>
        <label>Send ILMA Past Expiration Renewal Email</label>
        <locationX>3979</locationX>
        <locationY>972</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Reset_Send_Reminder_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>wags@fearfree.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XcX000000U95tUAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_ILMA_Renewal_Email</name>
        <label>Send ILMA Renewal Email</label>
        <locationX>4243</locationX>
        <locationY>972</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Reset_Send_Reminder_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>wags@fearfree.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XcX000000SXp3UAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check to see if account already has a renewal purchase</description>
        <name>Check_For_Previous_Purchase</name>
        <label>Check For Previous Purchase</label>
        <locationX>2963</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>Does_Account_Have_PLMA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Previous_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Previous_Membership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Renewal_Reset_Send_Reminder_Checkbox</targetReference>
            </connector>
            <label>Has Previous Membership</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if ILMA is Academia</description>
        <name>Check_If_Academia</name>
        <label>Check If Academia</label>
        <locationX>2382</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Check_For_Previous_Purchase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Acadaemia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Membership__r.Academia_Check__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Academia_Assignment_Date_Blank</targetReference>
            </connector>
            <label>If Academia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Team_Admin</name>
        <label>Check If Team Admin</label>
        <locationX>3154</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Not_Admin_PLMA_Reset_Send_Reminder_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_If_Team_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_With_PLMA.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_PLMA_Assignment_Date_Blank</targetReference>
            </connector>
            <label>Outcome 1 of Check If Team Admin</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if PLMA Expiration is 1 day, 15 days, 30 days before or 30 days, 90 days, 270 days after</description>
        <name>Copy_1_of_Is_PLMA_Renewal_Upcoming_Or_Past_Due</name>
        <label>Is PLMA Renewal Upcoming Or Past Due?</label>
        <locationX>3055</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>PLMA_Renewal_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PLMA_Past_Expiration_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignmentDatePlus12Months</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PLMA_Expired_Renewal_Email</targetReference>
            </connector>
            <label>PLMA Past Expiration Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_Have_PLMA</name>
        <label>Does Account Have PLMA</label>
        <locationX>3533</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>Is_Assignment_Date_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_PLMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Practice_Level_Membership_Assignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_With_PLMA</targetReference>
            </connector>
            <label>Has PLMA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking that expiration date field is not blank</description>
        <name>Is_Academia_Assignment_Date_Blank</name>
        <label>Is Academia Assignment Date Blank?</label>
        <locationX>1801</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_WithAcademia_ILMA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Academia_Account_Assignment_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Assignment_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Academia_Reset_Send_Reminder_2_Checkbox</targetReference>
            </connector>
            <label>Academia Account Assignment Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if ILMA Expiration is 1 day, 15 days, 30 days before or 30 days, 90 days, 270 days after</description>
        <name>Is_Academia_Expiration_Upcoming_Or_Past_Due</name>
        <label>Is Academia Expiration Upcoming Or Past Due</label>
        <locationX>1999</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Send_Academia_ILMA_Upgrade_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Academia_Past_Expiration_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignmentDatePlus12Months</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Academia_ILMA_Past_Expiration_Upgrade_Email</targetReference>
            </connector>
            <label>Academia Past Expiration Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking that expiration date field is not blank</description>
        <name>Is_Assignment_Date_Blank</name>
        <label>Is Assignment Date Blank?</label>
        <locationX>3913</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Assignment_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Assignment_Reset_Send_Reminder_Checkbox</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking that expiration date field is not blank</description>
        <name>Is_PLMA_Assignment_Date_Blank</name>
        <label>Is PLMA Assignment Date Blank?</label>
        <locationX>2857</locationX>
        <locationY>864</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_With_PLMA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PLMA_Account_Assignment_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Assignment_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Blank_PLMA_Reset_Send_Reminder_Checkbox</targetReference>
            </connector>
            <label>PLMA Account Assignment Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if ILMA Expiration is 1 day, 15 days, 30 days before or 30 days, 90 days, 270 days after</description>
        <name>Is_Renewal_Upcoming_Or_Past_Due</name>
        <label>Is Renewal Upcoming Or Past Due</label>
        <locationX>4111</locationX>
        <locationY>864</locationY>
        <defaultConnector>
            <targetReference>Send_ILMA_Renewal_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Past_Expiration_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignmentDatePlus12Months</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_ILMA_Past_Expiration_Renewal_Email</targetReference>
            </connector>
            <label>Past Expiration Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AssignmentDatePlus12Months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Account_Assignment_Date__c}, 12)</expression>
    </formulas>
    <interviewLabel>Send Reminder Email When Within 15 Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FF Auto Email Send Reminder Email When Within 15 Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_With_PLMA</name>
        <label>Get Account With PLMA</label>
        <locationX>3154</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Team_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>4111</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Renewal_Upcoming_Or_Past_Due</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_With_PLMA</name>
        <label>Get Contact With PLMA</label>
        <locationX>3055</locationX>
        <locationY>972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Is_PLMA_Renewal_Upcoming_Or_Past_Due</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_WithAcademia_ILMA</name>
        <label>Get Contact With Academia ILMA</label>
        <locationX>1999</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Academia_Expiration_Upcoming_Or_Past_Due</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Academia_Reset_Send_Reminder_2_Checkbox</name>
        <label>Academia Reset Send Reminder 2 Checkbox</label>
        <locationX>1603</locationX>
        <locationY>540</locationY>
        <inputAssignments>
            <field>Send_Renewal_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Academia_Reset_Send_Reminder_Checkbox</name>
        <label>Academia Reset Send Reminder Checkbox</label>
        <locationX>1999</locationX>
        <locationY>948</locationY>
        <inputAssignments>
            <field>Send_Renewal_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Date_Blank_PLMA_Reset_Send_Reminder_Checkbox</name>
        <label>Date Blank PLMA Reset Send Reminder Checkbox</label>
        <locationX>2659</locationX>
        <locationY>972</locationY>
        <inputAssignments>
            <field>Send_Renewal_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Has_Renewal_Reset_Send_Reminder_Checkbox</name>
        <label>Has Renewal Reset Send Reminder Checkbox</label>
        <locationX>2395</locationX>
        <locationY>540</locationY>
        <inputAssignments>
            <field>Send_Renewal_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>No_Assignment_Reset_Send_Reminder_Checkbox</name>
        <label>No Assignment Reset Send Reminder Checkbox</label>
        <locationX>3715</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>Send_Renewal_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Not_Admin_PLMA_Reset_Send_Reminder_Checkbox</name>
        <label>Not Admin PLMA Reset Send Reminder Checkbox</label>
        <locationX>3451</locationX>
        <locationY>864</locationY>
        <inputAssignments>
            <field>Send_Renewal_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PLMA_Reset_Send_Reminder_Checkbox</name>
        <label>PLMA Reset Send Reminder Checkbox</label>
        <locationX>3055</locationX>
        <locationY>1380</locationY>
        <inputAssignments>
            <field>Send_Renewal_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Send_Reminder_Checkbox</name>
        <label>Reset Send Reminder Checkbox</label>
        <locationX>4111</locationX>
        <locationY>1164</locationY>
        <inputAssignments>
            <field>Send_Renewal_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1735</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Renewal_Reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Send_Renewal_Reminder__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account_Membership__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_If_Academia</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
