force-app/main/default/flows/Subflow_Calculate_Related_Course_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_AllUpdatedMemberships</name>
        <label>assign_AllUpdatedMemberships</label>
        <locationX>50</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>varCol_UpdatedMemberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_AllMembershipsAfterUpdate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_MembershipCompletionValue</name>
        <label>assign_MembershipCompletionValue</label>
        <locationX>1189</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>loop_Memberships.Related_Course_Completion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ColFilterEnrollment.SX_percent_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_MembershipsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Memberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ColFilterEnrollment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Student ID found on the collection filter</description>
        <name>Assign_Student_ID</name>
        <label>Assign - Student ID</label>
        <locationX>459</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>var_studentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!loop_colFilterStudentId.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_colFilterStudentId</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>colFilter_CourseMatch</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>colFilter_CourseMatch</label>
        <locationX>116</locationX>
        <locationY>964</locationY>
        <assignNextValueToReference>currentItem_colFilter_CourseMatch</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_AllCoursesFromMemberships</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_colFilter_CourseMatch.Membership__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_Memberships.Membership__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>dec_CheckIfMatchingCourse</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>colFilter_MatchingEnrollment</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>colFilter_MatchingEnrollment</label>
        <locationX>694</locationX>
        <locationY>868</locationY>
        <assignNextValueToReference>currentItem_colFilter_MatchingEnrollment</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Enrollments</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_colFilter_MatchingEnrollment.Student_ID__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_studentID</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_colFilter_MatchingEnrollment.SX_Course__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_ColFilterCourse.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_ColFilterCourse</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>colFilter_MatchingStudentId</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>colFilter_MatchingStudentId</label>
        <locationX>109</locationX>
        <locationY>455</locationY>
        <assignNextValueToReference>currentItem_colFilter_MatchingStudentId</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_StudentIds</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_colFilter_MatchingStudentId.SF_Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_Memberships.Account_Id__r.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>dec_CheckIfStudentId</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>dec_CheckIfMatchingCourse</name>
        <label>dec_CheckIfMatchingCourse</label>
        <locationX>225</locationX>
        <locationY>931</locationY>
        <defaultConnector>
            <targetReference>loop_Memberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Matching_Course</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFilter_CourseMatch</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_colFilterStudentId</targetReference>
            </connector>
            <label>Has Matching Course</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckIfStudentId</name>
        <label>dec_CheckIfStudentId</label>
        <locationX>132</locationX>
        <locationY>643</locationY>
        <defaultConnector>
            <targetReference>loop_Memberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_Student_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFilter_MatchingStudentId</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>colFilter_CourseMatch</targetReference>
            </connector>
            <label>Matching Student ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckMatchingEnrollment</name>
        <label>dec_CheckMatchingEnrollment</label>
        <locationX>1275</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>loop_Memberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Matching_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFilter_MatchingEnrollment</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_ColFilterEnrollment</targetReference>
            </connector>
            <label>Has Matching Enrollment</label>
        </rules>
    </decisions>
    <description>Inputs a Membership Assignment record and matches the Related Course Completion if there is one.</description>
    <environments>Default</environments>
    <interviewLabel>Subflow - Calculate Related Course Completion % {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Calculate Related Course Completion %</label>
    <loops>
        <name>loop_ColFilterCourse</name>
        <label>loop_ColFilterCourse</label>
        <locationX>437</locationX>
        <locationY>953</locationY>
        <collectionReference>colFilter_CourseMatch</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>colFilter_MatchingEnrollment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_CheckMatchingEnrollment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_ColFilterEnrollment</name>
        <label>loop_ColFilterEnrollment</label>
        <locationX>1216</locationX>
        <locationY>577</locationY>
        <collectionReference>colFilter_MatchingEnrollment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_MembershipCompletionValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Memberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop is only created to access the single record from the ColFilter.</description>
        <name>loop_colFilterStudentId</name>
        <label>loop_colFilterStudentId</label>
        <locationX>306</locationX>
        <locationY>1093</locationY>
        <collectionReference>colFilter_MatchingStudentId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Student_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_ColFilterCourse</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Memberships</name>
        <label>loop_Memberships</label>
        <locationX>519</locationX>
        <locationY>429</locationY>
        <collectionReference>varCol_MembershipAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>colFilter_MatchingStudentId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_MembershipWith_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all Courses that are related to the Memberships contained within the Membership assignments.</description>
        <name>get_AllCoursesFromMemberships</name>
        <label>get_AllCoursesFromMemberships</label>
        <locationX>941</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_StudentIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMemberships</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SX_Courses__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllMembershipsAfterUpdate</name>
        <label>get_AllMembershipsAfterUpdate</label>
        <locationX>215</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_AllUpdatedMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMembershipAssignmentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Enrollments</name>
        <label>get_Enrollments</label>
        <locationX>875</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Memberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SX_Course__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllCourses</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SX_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets All Students related to the assignments of the member so we can grab the Enrollments.</description>
        <name>get_StudentIds</name>
        <label>get_StudentIds</label>
        <locationX>1090</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_AllCourses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SF_Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMembers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SX_LMS_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_MembershipWith_Completed</name>
        <label>update_MembershipWith%Completed</label>
        <locationX>345</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>get_AllMembershipsAfterUpdate</targetReference>
        </connector>
        <inputReference>varCol_MembershipsForUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>799</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>transform_AllMembershipAssignmentIds</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>transform_AllCourses</name>
        <label>transform_AllCourses</label>
        <locationX>1032</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>get_Enrollments</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_AllCoursesFromMemberships[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllMembers</name>
        <label>transform_AllMembers</label>
        <locationX>804</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>get_AllCoursesFromMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varCol_MembershipAssignments[$EachItem].Account_Id__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllMembershipAssignmentIds</name>
        <label>transform_AllMembershipAssignmentIds</label>
        <locationX>537</locationX>
        <locationY>202</locationY>
        <connector>
            <targetReference>transform_AllMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varCol_MembershipAssignments[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllMemberships</name>
        <label>transform_AllMemberships</label>
        <locationX>682</locationX>
        <locationY>280</locationY>
        <connector>
            <targetReference>transform_AllMembers</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varCol_MembershipAssignments[$EachItem].Membership__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_colFilter_CourseMatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SX_Courses__c</objectType>
    </variables>
    <variables>
        <name>currentItem_colFilter_MatchingEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SX_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_colFilter_MatchingStudentId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SX_LMS_User__c</objectType>
    </variables>
    <variables>
        <name>var_studentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_MembershipAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_MembershipsForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_UpdatedMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
