force-app/main/default/flows/Subflow_DVM_Renewal_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_CombineCounts</name>
        <label>assign_CombineCounts</label>
        <locationX>1686</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>var_DVMCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_FullTimeMembership</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DVMCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ceilingPartTimeValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_CheckIfCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DVMCountToMembership</name>
        <label>assign_DVMCountToMembership</label>
        <locationX>1909</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>loop_PracticeMemberships.Renewal_DVM_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_DVMCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_PLMsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_PracticeMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_PracticeMemberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MemberIds</name>
        <label>assign_MemberIds</label>
        <locationX>1183</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>varCol_VetMemberIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AllVetMembers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AllVetMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SetCountTo0</name>
        <label>assign_SetCountTo0</label>
        <locationX>1724</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>var_DVMCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DVMCountToMembership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Values</name>
        <label>assign_Values</label>
        <locationX>1573</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>var_FullTimeMembership</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colFilter_FullTimeMembershipMatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PartTimeDVMCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colFilter_PartTimeMatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CombineCounts</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>colFilter_FullTimeMembershipMatch</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>colFilter_FullTimeMembershipMatch</label>
        <locationX>1439</locationX>
        <locationY>878</locationY>
        <assignNextValueToReference>currentItem_colFilter_FullTimeMembershipMatch</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_IndividualMemberships</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_colFilter_FullTimeMembershipMatch.Membership__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_PracticeMemberships.Membership__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_colFilter_FullTimeMembershipMatch.Employment_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Full Time</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_colFilter_FullTimeMembershipMatch.Practice_Level_Membership_Assignment__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_PracticeMemberships.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>colFilter_PartTimeMatch</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>colFilter_PartTimeMatch</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>colFilter_PartTimeMatch</label>
        <locationX>1586</locationX>
        <locationY>898</locationY>
        <assignNextValueToReference>currentItem_colFilter_PartTimeMatch</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_IndividualMemberships</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_colFilter_PartTimeMatch.Membership__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_PracticeMemberships.Membership__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_colFilter_PartTimeMatch.Employment_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Part Time</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_colFilter_PartTimeMatch.Practice_Level_Membership_Assignment__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_PracticeMemberships.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assign_Values</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>dec_CheckIfCount</name>
        <label>dec_CheckIfCount</label>
        <locationX>1808</locationX>
        <locationY>1001</locationY>
        <defaultConnector>
            <targetReference>assign_SetCountTo0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DVMCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_DVMCountToMembership</targetReference>
            </connector>
            <label>Has count</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckMemberships</name>
        <label>dec_CheckMemberships</label>
        <locationX>1443</locationX>
        <locationY>593</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PracticeMembershipAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_IndividualMemberships</targetReference>
            </connector>
            <label>Has Memberships</label>
        </rules>
    </decisions>
    <description>Calculates the DVM Renewal amount for a Practice Membership Assignment and updates the record.

Input: Business Account
Outputs: DVM Count</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_ceilingPartTimeValue</name>
        <dataType>Number</dataType>
        <expression>CEILING({!formula_PartTimeDVMValue})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_PartTimeDVMValue</name>
        <dataType>Number</dataType>
        <expression>{!var_PartTimeDVMCount}/2</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Subflow - DVM Renewal Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - DVM Renewal Calculation</label>
    <loops>
        <name>loop_AllVetMembers</name>
        <label>loop_AllVetMembers</label>
        <locationX>929</locationX>
        <locationY>441</locationY>
        <collectionReference>get_AllVetMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_MemberIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_PracticeVetMembership</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_PracticeMemberships</name>
        <label>loop_PracticeMemberships</label>
        <locationX>1610</locationX>
        <locationY>707</locationY>
        <collectionReference>get_PracticeMembershipAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>colFilter_FullTimeMembershipMatch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_PracticeMembershipCounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_AllVetMembers</name>
        <label>get_AllVetMembers</label>
        <locationX>779</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_AllVetMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_BusinessAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Job_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Veterinarian</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_IndividualMemberships</name>
        <label>get_IndividualMemberships</label>
        <locationX>1567</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_PracticeMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Practice_Level_Membership_Assignment__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllPracticeMemberships</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varCol_VetMemberIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PracticeMembershipAssignment</name>
        <label>get_PracticeMembershipAssignment</label>
        <locationX>1189</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_AllPracticeMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllPracticeVetMemberships</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_BusinessAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Practice_Level_Membership_Assignment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Membership__c</queriedFields>
        <queriedFields>Renewal_DVM_Count__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PracticeVetMembership</name>
        <label>get_PracticeVetMembership</label>
        <locationX>961</locationX>
        <locationY>657</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_AllPracticeVetMemberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Veterinary Practice Certification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Practice</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_PracticeMembershipCounts</name>
        <label>update_PracticeMembershipCounts</label>
        <locationX>1757</locationX>
        <locationY>646</locationY>
        <inputReference>varCol_PLMsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_AllVetMembers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>transform_AllPracticeMemberships</name>
        <label>transform_AllPracticeMemberships</label>
        <locationX>1315</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>dec_CheckMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_PracticeMembershipAssignment[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllPracticeVetMemberships</name>
        <label>transform_AllPracticeVetMemberships</label>
        <locationX>950</locationX>
        <locationY>804</locationY>
        <connector>
            <targetReference>get_PracticeMembershipAssignment</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_PracticeVetMembership[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_colFilter_FullTimeMembershipMatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>currentItem_colFilter_PartTimeMatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership__c</objectType>
    </variables>
    <variables>
        <name>var_BusinessAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DVMCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_FullTimeMembership</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_PartTimeDVMCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varCol_PLMsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Practice_Level_Membership_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varCol_VetMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
