force-app/main/default/flows/Subflow_Practice_Membership_Data_Table_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigns All Active Memberships to a process that is available for the main screen flow.</description>
        <name>assign_AllActiveMembers</name>
        <label>assign_AllActiveMembers</label>
        <locationX>1422</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>varCol_AllActiveMemberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_AllActiveMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>transform_AllActiveMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MostRecentExpiredMembership</name>
        <label>assign_MostRecentExpiredMembership</label>
        <locationX>805</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>varCol_MostRecentExpiredMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filter_CurrentMemberExpiredMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_InactiveMembers</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Matches the current member with the list of Inactive Memberships.  This returns a collection with all of the current Loop&apos;s member inactive Memberships.</description>
        <name>filter_CurrentMemberExpiredMemberships</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter_CurrentMemberExpiredMemberships</label>
        <locationX>653</locationX>
        <locationY>690</locationY>
        <assignNextValueToReference>currentItem_filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_AllTrainerMemberships</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter.Account_Id__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_InactiveMembers.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>sort_MostRecentExpiredMembership</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Sorts through all the member&apos;s expired memberships to return the most recently expired one.</description>
        <name>sort_MostRecentExpiredMembership</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sort_MostRecentExpiredMembership</label>
        <locationX>640</locationX>
        <locationY>834</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>filter_CurrentMemberExpiredMemberships</collectionReference>
        <connector>
            <targetReference>assign_MostRecentExpiredMembership</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Expiration_Date__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <description>Subflow to grab all of the assigned PLM&apos;s that were selected.</description>
    <environments>Default</environments>
    <interviewLabel>Subflow - Practice Membership Data Table Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Practice Membership Data Table Records</label>
    <loops>
        <description>Loops through the list of inactive members to match that member&apos;s most recent expired membership.</description>
        <name>loop_InactiveMembers</name>
        <label>loop_InactiveMembers</label>
        <locationX>774</locationX>
        <locationY>552</locationY>
        <collectionReference>get_AllInactiveMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filter_CurrentMemberExpiredMemberships</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all Active Membership Assignments for users in the team based on the input from the main screen.</description>
        <name>get_AllActiveMemberships</name>
        <label>get_AllActiveMemberships</label>
        <locationX>1302</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_AllActiveMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_MembershipName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMemberIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Practice</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllInactiveMembers</name>
        <label>get_AllInactiveMembers</label>
        <locationX>913</locationX>
        <locationY>535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_InactiveMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMemberIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>transform_AllActiveMembers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all of the members in the same business as the current running user.</description>
        <name>get_AllMembers</name>
        <label>get_AllMembers</label>
        <locationX>969</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_AllMemberIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_TeamAdminAccount.Business__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all expired memberships with the selected membership name.</description>
        <name>get_AllTrainerMemberships</name>
        <label>get_AllExpiredMemberships</label>
        <locationX>1053</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AllInactiveMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_MembershipName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Practice</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMemberIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_TeamAdminAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>transform_AllActiveMembers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Account record for the Team Admin who is running</description>
        <name>get_TeamAdminAccount</name>
        <label>get_TeamAdminAccount</label>
        <locationX>745</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AllMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_TeamAdminAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>transform_AllActiveMembers</name>
        <label>transform_AllActiveMembers</label>
        <locationX>1226</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>get_AllTrainerMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_AllActiveMemberships[$EachItem].Account_Id__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllMemberIds</name>
        <label>transform_AllMemberIds</label>
        <locationX>1112</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>get_AllActiveMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_AllMembers[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>var_MembershipName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_AllActiveMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_MostRecentExpiredMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
