force-app/main/default/flows/Subflow_Membership_Data_Table_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigns All Active Memberships to a process that is available for the main screen flow.</description>
        <name>assign_AllActiveMembers</name>
        <label>assign_AllActiveMembers</label>
        <locationX>1511</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>varCol_AllActiveMemberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_AllActiveMemberships</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NumUnassignedMemberships</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_AllUnassignedMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>transform_AllActiveMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LatestActiveMembership</name>
        <label>assign_LatestActiveMembership</label>
        <locationX>1392</locationX>
        <locationY>1033</locationY>
        <assignmentItems>
            <assignToReference>varCol_LatestActiveMembership</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filter_CurrentMemberActiveMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ActiveMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MostRecentExpiredMembership</name>
        <label>assign_MostRecentExpiredMembership</label>
        <locationX>805</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>varCol_MostRecentExpiredMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filter_CurrentMemberExpiredMemberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_InactiveMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>empty_Values</name>
        <label>empty_Values</label>
        <locationX>1010</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>varCol_AllActiveMemberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCol_EmptyCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_LatestActiveMembership</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCol_EmptyCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_MostRecentExpiredMemberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCol_EmptyCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>transform_AllMemberIds</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Matches the current member with the list of Active Memberships.  This returns a collection with all of the current Loop&apos;s member active Memberships.</description>
        <name>filter_CurrentMemberActiveMemberships</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter_CurrentMemberActiveMemberships</label>
        <locationX>984</locationX>
        <locationY>892</locationY>
        <assignNextValueToReference>currentItem_filter_CurrentMemberActiveMemberships</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_AllActiveMemberships</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_CurrentMemberActiveMemberships.Account_Id__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_ActiveMembers.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>dec_CheckIfFoundActive</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Matches the current member with the list of Inactive Memberships.  This returns a collection with all of the current Loop&apos;s member inactive Memberships.</description>
        <name>filter_CurrentMemberExpiredMemberships</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter_CurrentMemberExpiredMemberships</label>
        <locationX>458</locationX>
        <locationY>507</locationY>
        <assignNextValueToReference>currentItem_filter_CurrentMemberExpiredMemberships</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_AllTrainerMemberships</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_CurrentMemberExpiredMemberships.Account_Id__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_InactiveMembers.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>dec_CheckIfFound</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Sorts through all the member&apos;s expired memberships to return the most recently expired one.</description>
        <name>sort_MostRecentExpiredMembership</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sort_MostRecentExpiredMembership</label>
        <locationX>643</locationX>
        <locationY>899</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>filter_CurrentMemberExpiredMemberships</collectionReference>
        <connector>
            <targetReference>assign_MostRecentExpiredMembership</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Expiration_Date__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>sort_MostRecentMembership</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sort_MostRecentMembership</label>
        <locationX>1055</locationX>
        <locationY>1248</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>filter_CurrentMemberActiveMemberships</collectionReference>
        <connector>
            <targetReference>assign_LatestActiveMembership</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Expiration_Date__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>dec_CheckIfActiveMemberships</name>
        <label>dec_CheckIfActiveMemberships</label>
        <locationX>1306</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>get_AllTrainerMemberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Are_Active_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transform_AllActiveMembers</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_AllActiveMembers</targetReference>
            </connector>
            <label>Are Active Members</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckIfFound</name>
        <label>dec_CheckIfFound</label>
        <locationX>468</locationX>
        <locationY>820</locationY>
        <defaultConnector>
            <targetReference>loop_InactiveMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expired_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filter_CurrentMemberExpiredMemberships</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sort_MostRecentExpiredMembership</targetReference>
            </connector>
            <label>Expired Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CheckIfFoundActive</name>
        <label>dec_CheckIfFoundActive</label>
        <locationX>931</locationX>
        <locationY>1091</locationY>
        <defaultConnector>
            <targetReference>loop_ActiveMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filter_CurrentMemberActiveMemberships</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sort_MostRecentMembership</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>A subflow that takes in the membership type and outputs the collections for that business&apos;s flow to display Memberships.</description>
    <environments>Default</environments>
    <interviewLabel>Subflow - Membership Data Table Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Membership Data Table Records</label>
    <loops>
        <name>loop_ActiveMembers</name>
        <label>loop_ActiveMembers</label>
        <locationX>1177</locationX>
        <locationY>830</locationY>
        <collectionReference>get_AllActiveMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filter_CurrentMemberActiveMemberships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_AllTrainerMemberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the list of inactive members to match that member&apos;s most recent expired membership.</description>
        <name>loop_InactiveMembers</name>
        <label>loop_InactiveMembers</label>
        <locationX>774</locationX>
        <locationY>552</locationY>
        <collectionReference>get_AllInactiveMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filter_CurrentMemberExpiredMemberships</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_AllActiveMembers</name>
        <label>get_AllActiveMembers</label>
        <locationX>1156</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_ActiveMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllActiveMembers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all Active Membership Assignments for users in the team based on the input from the main screen.</description>
        <name>get_AllActiveMemberships</name>
        <label>get_AllActiveMemberships</label>
        <locationX>1301</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AllUnassignedMemberships</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND (2 OR 4 OR 6) AND 5</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_MembershipRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMemberIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <sortField>Assigned_Account_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllInactiveMembers</name>
        <label>get_AllInactiveMembers</label>
        <locationX>912</locationX>
        <locationY>535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_InactiveMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMemberIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>transform_AllActiveMembers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all of the members in the same business as the current running user.</description>
        <name>get_AllMembers</name>
        <label>get_AllMembers</label>
        <locationX>872</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>empty_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_TeamAdminAccount.Business__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all expired memberships with the selected membership name.</description>
        <name>get_AllTrainerMemberships</name>
        <label>get_AllExpiredMemberships</label>
        <locationX>1054</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AllInactiveMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_MembershipRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_AllMemberIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>transform_AllActiveMembers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AllUnassignedMemberships</name>
        <label>get_AllUnassignedMemberships</label>
        <locationX>1468</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_AllActiveMembers</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6) AND 7</filterLogic>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_TeamAdminAccount.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_MembershipRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_MembershipRecord</name>
        <label>get_MembershipRecord</label>
        <locationX>649</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_TeamAdminAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MembershipName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Account record for the Team Admin who is running</description>
        <name>get_TeamAdminAccount</name>
        <label>get_TeamAdminAccount</label>
        <locationX>745</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AllMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_MembershipRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>transform_AllActiveMembers</name>
        <label>transform_AllActiveMembers</label>
        <locationX>1336</locationX>
        <locationY>666</locationY>
        <connector>
            <targetReference>dec_CheckIfActiveMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_AllActiveMemberships[$EachItem].Account_Id__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_AllMemberIds</name>
        <label>transform_AllMemberIds</label>
        <locationX>1112</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>get_AllActiveMemberships</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_AllMembers[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_filter_CurrentMemberActiveMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_CurrentMemberExpiredMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>var_MembershipName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NumUnassignedMemberships</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCol_AllActiveMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_EmptyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_LatestActiveMembership</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>varCol_MostRecentExpiredMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
</Flow>
