force-app/main/default/flows/Test_Picklist_Auto_Next.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Picklist_Values</name>
        <label>Add Picklist Values</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>picklist_vals</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>one</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>picklist_vals</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>two</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>picklist_vals</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>three</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>picklist_vals</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>four</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>picklist_vals</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>five</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Test - Picklist Auto-Next {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test - Picklist Auto-Next</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <fields>
            <name>text_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Screen 1&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>picklist</name>
            <extensionName>c:picklistAutoNext</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>picklistVals</name>
                <value>
                    <elementReference>picklist_vals</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedVal</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text_2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Screen 2&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>selected_value_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;My selected value: {!selectedVal}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Picklist_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>picklist_vals</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
