force-app/main/default/flows/User_Send_Email_When_Updated_to_Team_Admin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email to the email attached to the User Record to notify the user they are now a team admin.</description>
        <name>email_SendAdminEmail</name>
        <label>email_SendAdminEmail</label>
        <locationX>1144</locationX>
        <locationY>279</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>textTemplate_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textTemplate_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>var_RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to the email attached to the User Record to notify the user they are now a team admin.</description>
        <name>email_SendNonAdminEmail</name>
        <label>email_SendNonAdminEmail</label>
        <locationX>1020</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>textTemplate_NonAdminSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textTemplate_NonAdminEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>var_RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks to make sure the updated profile is a team admin profile.</description>
        <name>dec_CheckNewProfile</name>
        <label>dec_CheckNewProfile</label>
        <locationX>914</locationX>
        <locationY>412</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Now_Team_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_SendAdminEmail</targetReference>
            </connector>
            <label>Is Now Team Admin</label>
        </rules>
        <rules>
            <name>No_Longer_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Admin_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_SendNonAdminEmail</targetReference>
            </connector>
            <label>No Longer Admin</label>
        </rules>
    </decisions>
    <description>Sends an email to the user who has their community user updated to be a team admin profile.

https://basecamp.com/2583453/projects/19269730/todos/498360660</description>
    <environments>Default</environments>
    <interviewLabel>User - Send Email When Updated to Team Admin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Send Email When Updated to Team Admin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>dec_CheckNewProfile</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Account.Admin_Account__c})</filterFormula>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textTemplate_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have been updated to a Team Admin for your team. Please reach out to the Fear Free Support team if you have any questions.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplate_NonAdminEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your permissions have been updated and you are no longer a Team Admin for your team. Please reach out to the Fear Free Support team if you have any questions.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplate_NonAdminSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Team Admin privileges revoked&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplate_Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You have been updated to be a Team Admin&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_RecipientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Account.PersonContactId</elementReference>
        </value>
    </variables>
</Flow>
